.importScice_box {
  padding: 96px 32px 68px;
  position: relative;
  z-index: 1000;
  background: #ef476f;
  z-index: 1;
  .importScice_title {
    width: 497px;
    height: 144px;
    position: absolute;
    left: 0;
    right: 0;
    top: -72px;
    margin: 0 auto 0;
    background: url("https://wechat-config.dakale.net/miniprogram/active/8.8/active8_8_9.png")
      no-repeat;
    background-size: 100% 100%;
    z-index: 10;
  }
  .importScice_shop_good {
    width: 340px;
    height: 61px;
    margin: 0px auto 0;
    background: url("https://wechat-config.dakale.net/miniprogram/active/8.8/active8_8_10.png")
      no-repeat;
    background-size: 100% 100%;
  }
  .importScice_goods_box {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
