page {
  width: 100%;
  height: 100%;
  line-height: 1;
}

.willCity {
  width: 100%;
  min-height: 100%;
  background: #ffffff;

}
.willCity_ImageBox {
  width: 375px;
  height: 280px;
  position: relative;
 
}
.willCity_city{
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  bottom:0;
  background: rgba(0, 0, 0, 0.3);
  .willCity_city_font1{
     padding-top:100px;
     text-align: center;
     font-size: 36px;
     color: #FFFFFF;
  }
  .willCity_city_font2{
    padding-top:8px;
    text-align: center;
    font-size: 36px;
    color: #FFFFFF;
  }
}