page {
  width: 100%;
  height: 100%;
  background: #FFFFFF;
}
.report_box{
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  .report_user{
    padding: 32px 32px 0;
    height: 32px;
  }
  .report_ly{
    height: 32px;
    padding: 32px 32px 0;
  }
  .report_tags{
    padding: 56px 32px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    .report_tag_box{
      width: 202px;
      height: 60px;
      text-align: center;
      line-height: 60px;
      margin-bottom: 32px;
      border-radius: 4px;
    }
    .report_tag_color1{
      color: #999999;
      background: #F5F5F5;
    }
    .report_tag_color2{
      color: #FFFFFF;
      background: #09C0C3;
    }

  }
  .report_toast{
    height: 24px;
    margin: 0 32px;
  }
  .report_btn{
    width: 686px;
    height: 80px;
    border-radius: 8px;
    border: 2px solid #09C0C2;
    position: absolute;
    bottom: 60px;
    left: 0;
    right: 0;
    margin: 0 auto;
    line-height: 80px;
    text-align: center;
  }
  .report_layer{
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .report_layer_toast{
    width: 500px;
    padding-bottom:32px;
    background: #FFFFFF;
    border-radius: 12px;
    .report_layer_title{
      height: 90px;
      line-height: 90px;
      border-bottom:1px solid #E5E5E5;
      text-align: center;
    }
    .report_layer_content{
      margin: 32px 40px 0;
      font-size: 28px;
      font-weight: 400;
      color: #666666;
      line-height: 42px;
    }
    .report_layer_btn{
      width: 420px;
      height: 70px;
      background: #07C0C2;
      border-radius: 8px;
      line-height: 70px;
      margin: 32px auto 0;
      text-align: center;
    }
  }
}
