page{
  width: 100%;
  height: 100%;
}
.special_box{
  min-height: 100%;
  background: #F5F5F5;
  padding:20px 32px;
  -moz-column-count: 2;
  /* Firefox */
  -webkit-column-count: 2;
  /* Safari 和 Chrome */
  column-count: 2;
  -moz-column-gap: 20px;
  -webkit-column-gap: 20px;
  column-gap: 20px;
}
.special_fall{
  -moz-page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
  margin-bottom: 20px;
  background: #FFFFFF;
  border-radius: 20px;
  width: 335px;
}
