.lead_bean {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10001;
  .lead_bean_box {
    width: 500px;
    height: 434px;
    background: #FFFFFF;
    border-radius: 12px;
    .lead_bean_title {
      margin: 40px 40px 0;
      height: 60px;
      .lead_bean_left {
        display: flex;
        align-items: center;
        font-size: 28px;
        font-weight: 400;
        color: #999999;
      }
      .lead_bean_left::before {
        width: 60px;
        height: 60px;
        content: "";
        margin-right: 16px;
        background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon551.png")
          no-repeat;
        background-size: 100% 100%;
      }
      .lead_bean_right {
        width: 36px;
        height: 36px;
        background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon552.png")
          no-repeat;
        background-size: 100% 100%;
      }
    }
    .lead_bean_content {
      padding: 32px 40px 0;
      height: 144px;
      font-size: 32px;
      font-weight: 600;
      color: #333333;
      line-height: 48px;
    }
    .lead_bean_btn {
      margin: 48px auto 0;
      width: 420px;
      height: 70px;
      background: #07c0c2;
      border-radius: 8px;
      font-size: 32px;
      font-weight: 400;
      color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
