.bubble_box {
  background: #ffffff;
  width: 100%;
  min-height: 100%;
  line-height: 1;
  .bubble_move_margin1 {
    margin-top: 160px;
  }
  .bubble_move_margin2 {
    margin-top: 67px;
  }
  .bubble_move_box {
    display: inline-block;
    width: 90px;
    vertical-align: top;

    .bubble_move_flex {
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      white-space: normal;
      .bubble_move_icon {
        width: 40px;
        height: 40px;
        background: url(https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon719.png)
          no-repeat;
        background-size: 100% 100%;
      }
      .bubble_move_font {
        margin-left: 12px;
        width: 22px;
        font-size: 22px;
        font-weight: 400;
        color: #333333;
        line-height: 24px;
      }
    }
  }
  .nullStatus_init {
    width: 300px;
    height: 300px;
    margin: 60px auto 0;
    background: url(https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon717.png)
      no-repeat;
    background-size: 100% 100%;
  }
  .nullStatus_init_font {
    margin: 32px auto 0;
    text-align: center;
    font-size: 28px;
    font-weight: 400;
    color: #999999;
    text-align: center;
  }
  .bubble_tab_box {
    height: 128px;
  }
  .bubble_top {
    width: 100%;
    height: 250px;
    position: relative;
  }
  .bubble_top_image {
    width: 100%;
    height: 100%;
  }
  .bubble_top_search {
    width: 622px;
    height: 64px;
    line-height: 64px;
    border-radius: 40px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 32px;
    background: rgba(255, 255, 255, 0.2)
      url(https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon713.png)
      no-repeat;
    background-size: 36px 36px;
    background-position: 32px 14px;
    display: block;
    padding-left: 80px;
    font-size: 24px;
    position: absolute;
    top: 32px;
    color: #ffffff;
    left: 24px;
  }
  .bubble_banner_card {
    width: 702px;
    height: 140px;
    position: absolute;
    top: 128px;
    left: 24px;
    right: 24px;
    background: #ffffff;
  }
  .bubble_selectSpecal:first-child {
    margin-left: 24px;
  }
  .bubble_selectSpecal {
    width: 260px;
    background: #ffffff;
    margin-right: 12px;
    border-radius: 8px;
    border: 1px solid #e5e5e5;
    display: inline-block;
    .bubble_image_box {
      width: 260px;
      height: 196px;
      border-radius: 8px 8px 0 0;
      .bubble_image {
        width: 100%;
        height: 100%;
        border-radius: 8px 8px 0 0;
      }
    }
  }
  .bubble_content {
    padding: 18px 16px 24px;
    .bubble_title {
      font-size: 28px;
      font-weight: 400;
      color: #333333;
      line-height: 28px;
      color: #333333;
      max-width: 210px;
    }
    .bubble_select_user {
      display: flex;
      height: 30px;
      margin-top: 16px;
      font-size: 20px;
      font-weight: 400;
      color: #999999;
      align-items: center;
      .bubble_select_userProfile {
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }
      .bubble_select_userHide {
        display: flex;
        align-items: center;
      }
      .bubble_select_merchantName {
        margin-left: 8px;
        max-width: 140px;
      }
    }
    .bubble_bean_relbox {
      height: 38px;
      display: flex;
      align-items: flex-start;
      margin-top: 24px;
      .bubble_bean_left {
        height: 38px;
        padding: 0 6px;
        text-align: center;
        font-size: 22px;
        font-weight: 400;
        color: #ef476f;
        line-height: 36px;
        display: inline-block;
        background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon492.png")
          no-repeat;
        background-size: 100% 100%;
        vertical-align: text-top;
      }
      .bubble_bean_right {
        height: 32px;
        padding: 0 5px;
        border-radius: 0px 8px 8px 0;
        background: #ef476f;
        line-height: 32px;
        text-align: center;
        font-size: 22px;
        font-weight: 600;
        color: #ffffff;
        margin-left: -2px;
        display: flex;
        align-items: center;
        box-sizing: border-box;
      }
    }
    .bubble_tag_box {
      height: 32px;
      align-items: center;
      justify-content: center;
      padding: 0px 6px;
      font-size: 22px;
      font-weight: 400;
      color: #ef476f;
      display: flex;
      box-sizing: border-box;
      border-radius: 4px;
      display: flex;
      align-items: center;
    }
    .bubble_bean_border {
      margin-top: 8px;
      display: inline-block;
    }
  }
  .bubble_pay_hander {
    margin-top: 24px;
    font-size: 20px;
    font-weight: 600;
    color: #ef476f;
  }
  .bubble_pay_price {
    color: #333333;
    margin-top: 8px;
    display: flex;
    align-items: baseline;
  }
  .bubble_bottom_left {
    font-size: 24px;
    font-weight: 400;
    color: #cccccc;
    text-decoration: line-through;
    margin-left: 8px;
  }
  .shopInit_hotOld_price {
    margin-top: 20px;
    color: rgba(153, 153, 153, 1);
    display: flex;
    align-items: center;
    max-width: 240px;
  }
  .shopInit_real_price {
    margin-top: 6px;
    display: flex;
    align-items: center;
  }
  .shopInit_bean_price {
    margin-top: 14px;
    font-size: 20px;
    font-weight: 400;
    color: #ef476f;
    line-height: 20px;
  }
  .shopInit_new_bean {
    margin-top: 10px;
    height: 24px;
    background: #ffffff;
    border-radius: 24px;
    border: 1px solid #ef476f;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    .shopInit_new_img {
      width: 80px;
      height: 24px;
    }
    .shopInit_new_pay {
      font-size: 20px;
      font-weight: bold;
      color: #ef476f;
      max-width: 210px;
      padding: 0 8px 0 4px;
    }
  }
  .real_max {
    max-width: 180px;
  }
  .shopInit_bean_show {
    display: flex;
    align-items: center;
    margin-top: 10px;
    .shopInit_bean_showText {
      display: flex;
      align-items: baseline;
    }
  }
  .shopInit_bean_getMoney {
    max-width: 113px;
    margin-left: 8px;
    padding: 4px 8px;
    font-size: 24px;
    font-weight: 400;
    color: #ef476f;
    border-radius: 8px;
    display: flex;
    align-items: center;
  }
  .bubble_goods_box {
    margin: 80px 0px 0;
    .bubble_goods_title {
      margin: 0 24px;
      height: 36px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .bubble_goods_titleFont {
        font-size: 36px;
        font-weight: 600;
        color: #333333;
        line-height: 36px;
      }
      .bubble_goods_ourFont {
        font-size: 24px;
        font-weight: 400;
        color: #999999;
        line-height: 24px;
        display: flex;
        align-items: center;
      }
      .bubble_goods_ourFont::after {
        width: 24px;
        height: 24px;
        display: block;
        content: "";
        background: rgba(255, 255, 255, 0.2)
          url(https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon715.png)
          no-repeat;
        background-size: 100% 100%;
        margin-left: 4px;
      }
    }
  }
  .bubble_coupon_box {
    margin: 43px 0px 0;
    .bubble_coupon_title {
      margin: 0 24px 0;
      height: 36px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .bubble_coupon_titleFont {
        font-size: 36px;
        font-weight: 600;
        color: #333333;
        line-height: 36px;
      }
      .bubble_coupon_ourFont {
        font-size: 24px;
        font-weight: 400;
        color: #999999;
        line-height: 24px;
        display: flex;
        align-items: center;
      }
      .bubble_coupon_ourFont::after {
        width: 24px;
        height: 24px;
        display: block;
        content: "";
        background: rgba(255, 255, 255, 0.2)
          url(https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon715.png)
          no-repeat;
        background-size: 100% 100%;
        margin-left: 4px;
      }
    }
  }
  .bubble_goods_content {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    margin: 32px 0 0 0;
    vertical-align: top;
  }
  .bubble_coupon_content {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    margin: 32px 0 0 0;
    vertical-align: top;
  }
  .bubble_coupon_descBox:first-child {
    margin-left: 24px;
  }
  .bubble_coupon_descBox {
    width: 480px;
    height: 230px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.2)
      url(https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon716.png)
      no-repeat;
    background-size: 100% 100%;
    margin-right: 24px;
    position: relative;
    .bubble_coupon_desc {
      padding: 32px 24px 0;
      .bubble_coupon_descTitle {
        font-size: 32px;
        font-weight: 600;
        color: #333333;
        line-height: 32px;
        max-width: 380px;
      }
      .bubble_coupon_price {
        margin-top: 20px;
        display: flex;
        align-items: baseline;
      }
      .bubble_new_bean {
        margin-top: 16px;
        height: 32px;
        background: #ffffff;
        border-radius: 24px;
        border: 1px solid #ef476f;
        box-sizing: border-box;
        display: inline-flex;
        align-items: center;
        .bubble_new_img {
          width: 98px;
          height: 32px;
        }
        .bubble_new_pay {
          font-size: 24px;
          font-weight: bold;
          color: #ef476f;
          max-width: 210px;
          padding: 0 8px 0 4px;
        }
      }
      .bubble_new_user {
        display: flex;
        height: 30px;
        margin-top: 20px;
        font-size: 20px;
        font-weight: 400;
        color: #999999;
        align-items: center;
        padding-right: 24px;
        .bubble_new_userProfile {
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }
        .bubble_new_userHide {
          display: flex;
          align-items: center;
        }
        .bubble_new_merchantName {
          margin-left: 8px;
        }
      }
    }
    .bubble_new_bottom {
      display: flex;
    }
    .bubble_coupon_btn {
      padding: 12px 14px;
      line-height: 1;
      background: #ef476f;
      border-radius: 26px;
      font-size: 28px;
      font-weight: 400;
      color: #ffffff;
      text-align: center;
      margin-left: auto;
    }
    .bubble_coupon_btn1 {
      padding: 12px 24px;
      background: #ef476f;
      border-radius: 26px;
      font-size: 28px;
      font-weight: 400;
      color: #ffffff;
      margin-left: auto;
    }
  }
  .bubble_conpon_image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  .bubble_merchant_height {
    height: 210px;
  }
  .bubble_merchant_box1 {
    position: fixed;
    z-index: 1000;
    background: #ffffff;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10001;
  }
  .bubble_merchant_box {
    margin: 40px 0px 0;
    position: relative;
    z-index: 1000;
    background: #ffffff;
  }
  .bubble_merchant_title {
    height: 36px;
    display: flex;
    align-items: center;
    padding-left: 24px;
    position: relative;
    z-index: 1000;
    background: #ffffff;
    .bubble_merchant_titleFont {
      font-size: 36px;
      font-weight: 600;
      color: #333333;
      line-height: 36px;
    }
    .bubble_merchant_select {
      position: relative;
    }
    .bubble_merchant_liner {
      width: 702px;
      height: 2px;
      margin: 0 auto;
      background: #e5e5e5;
      border-radius: 1px;
    }
  }
  .bubble_merchant_listBox {
    padding: 0px 0px 24px;
  }
  .bubble_liner_height{
    height: 24px;
    background: #FFFFFF;
  }
  .bubble_merchant_listRelative {
    position: relative;
  }
}
