.task_view {
  position: fixed;
  right: 26px;
  top: 172px;
  z-index: 10;
  .task_icon {
    width: 120px;
    height: 120px;
    background: url("https://wechat-config.dakale.net/miniprogram/image/task_icon.png")
      no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
    font-size: 32px;
    font-weight: bold;
    color: #ffffff;
    .task_reload_count {
      padding: 16px 0 0;
      text-align: center;
    }
  }
  .task_icon_free {
    width: 120px;
    height: 120px;
    background: url("https://wechat-config.dakale.net/miniprogram/game/game_iconInfo2.png")
      no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
    font-size: 32px;
    font-weight: bold;
    color: #ffffff;
    .task_reload_count {
      padding: 16px 0 0;
      text-align: center;
    }
  }
  .task_toast {
    height: 32px;
    background: rgba(51, 51, 51, 0.5);
    border-radius: 16px;
    font-size: 20px;
    padding: 0 12px;
    font-weight: 400;
    color: #ffffff;
  }
}
