@import "@/assets/css/global.scss";

@mixin gdIcon($url) {
  &::before {
    content: "";
    display: block;
    @include whEqual(60px);
    background: url($url);
    background-size: 100%;
    margin-bottom: 12px;
  }
}

.personal_UserInfo {
  padding: 32px;
  padding-bottom: 56px;
  .pu_heard {
    @include flexCenterA;
    .pu_heard_avatar {
      @include whEqual(120px);
    }
    .pu_name {
      flex: 1;
      margin-left: 24px;
      .pu_name_text {
        font-size: 32px;
        font-weight: 600;
        color: #333333;
      }
      .pu_name_btn {
        margin-top: 15px;
        font-size: 24px;
        font-weight: 400;
        color: #07c0c2;
      }
    }
    .pu_home {
      @include flexCenterA;
      padding: 0 12px;
      height: 40px;
      border-radius: 31px;
      border: 1px solid #999999;
      font-size: 26px;
      color: #333333;
      &::after {
        content: "";
        display: inline-block;
        @include whEqual(24px);
        background: url("https://wechat-config.dakale.net/miniprogram/relay/pu_home_right.png");
        background-size: 100%;
      }
    }
  }
  .pu_tools {
    @include flexCenterA;
    justify-content: space-between;
    margin-top: 56px;
    padding: 0 108px;
    .pu_tools_cell {
      @include flexCenterA;
      flex-direction: column;
      .tools_wallet {
        @include gdIcon(
          "https://wechat-config.dakale.net/miniprogram/relay/pu_wallet.png"
        );
      }
      .tools_bean {
        @include gdIcon(
          "https://wechat-config.dakale.net/miniprogram/relay/pu_bean.png"
        );
      }
      .tools_member {
        @include gdIcon(
          "https://wechat-config.dakale.net/miniprogram/relay/pu_member.png"
        );
      }
      .tools_group {
        @include gdIcon(
          "https://wechat-config.dakale.net/miniprogram/relay/pu_group.png"
        );
      }
      .tools_bean,
      .tools_wallet {
        &.tools_text {
          font-size: 24px;
          font-weight: 600;
          color: #333333;
        }
      }
      .tools_text {
        @include flexCenterA;
        flex-direction: column;
        font-size: 24px;
        color: #666666;
      }
    }
  }
}
