page {
  width: 100%;
  height: 100%;
  line-height: 1;
}

.code_wx_box {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;

  .code_wx_content {
    width: 686px;
    height: 428px;
    background: #FFFFFF;
    border-radius: 8px;
    margin: 32px;
    text-align: center;

    .code_pay_title {
      padding-top: 64px;
      text-align: center;
      font-size: 24px;
    }

    .code_pay_money {
      margin-top: 32px;
      text-align: center;
      height: 60px;
      line-height: 60px;
      font-size: 60px;
      font-weight: bold;
      color: #333333;
      vertical-align: middle;
    }
    .code_pay_liner{
      width: 622px;
      height: 1px;
      background: #E5E5E5;
      border-radius: 1px;
      margin: 39px auto 0;
    }
    .code_pay_detailsBox{
      margin: 0 32px;
    }
    .payWx_detail_top1{
      margin-top: 40px;
      height: 24px;
    }
    .payWx_detail_top2{
      margin-top: 24px;
      height: 24px;
    }
  }

}
