page {
  width: 100%;
  height: 100%;
  background: #f53944;
  .collageDetails_success_info {
    width: 50px;
    height: 29px;
    background: url(https://wechat-config.dakale.net/miniprogram/image/icon952.png)
      no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: -15px;
    left: 39px;
  }
  .collageDetails_box {
    background: url(https://wechat-config.dakale.net/miniprogram/image/icon958.png)
      no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 430px;
  }
  .collageDetails_rule {
    position: absolute;
    right: 0;
    top: 92px;
    width: 127px;
    height: 44px;
    background-image: linear-gradient(
      157deg,
      rgba(255, 246, 149, 1) 0,
      rgba(255, 249, 128, 1) 100%
    );
    font-size: 24px;
    font-weight: 400;
    color: #333333;
    border-radius: 28px 0px 0px 28px;
    z-index: 10;
  }
  .collageDetails_price_box {
    margin: 24px auto 0;
    width: 686px;
    height: 629px;
    background: url(https://wechat-config.dakale.net/miniprogram/image/icon947.png)
      no-repeat;
    background-size: 100% 100%;
    position: relative;
    .collageDetails_price1 {
      position: absolute;
      width: 190px;
      top: 231px;
      font-size: 36px;
      font-weight: bold;
      color: #333333;
      text-align: center;
      left: 0;
    }
    .collageDetails_price2 {
      position: absolute;
      top: 396px;
      left: 349px;
      font-size: 60px;
      color: #ff4040;
      font-weight: bold;
      display: flex;
      align-items: baseline;
      line-height: 32px;
    }
    .collageDetails_price3 {
      position: absolute;
      width: 210px;
      top: 231px;
      font-size: 36px;
      font-weight: bold;
      color: #333333;
      text-align: center;
      right: 0;
    }
    .collageDetails_price4 {
      position: absolute;
      width: 210px;
      top: 214px;
      font-size: 48px;
      font-weight: bold;
      color: #ffec3f;
      text-align: center;
      left: 240px;
      letter-spacing: 1px;
    }
  }
}
