.sudoku_box {
  padding: 0 24px;
  position: relative;
  margin-top: -32px;
  z-index: 1;
  overflow: hidden;
  .sudoku_img_box {
    flex-wrap: wrap;
  }
  .sudoku_info_box {
    width: 226px;
    height: 176px;
    margin-bottom: 12px;
  }
}
