@import "@/assets/css/global.scss";

.blind_footer_content {
  @include whEqual(750px, 173px);
  @include flexCenter;
  background: #fdbf5d;
  &::before {
    content: "";
    @include whEqual(421px, 59px);
    display: block;
    background: url("https://wechat-config.dakale.net/miniprogram/blind/home/dakele_footer.png")
      no-repeat;
    background-size: 100%;
  }
}
