.bwzGoodContent_content {
  background-size: 100% 100%;
  position: relative;
  text-align: center;
  &.telephoneCharges {
    height: 540px;
    background-image: url("https://wechat-config.dakale.net/miniprogram/image/beanWelfareZone_500_goods.png");
    padding-top: 97px;
    .bwzgc_telephoneCharges_name {
      font-size: 50px;
      font-weight: 600;
      color: #f5503c;
      line-height: 50px;
      margin-bottom: 139px;
    }
    .bwzgc_telephoneCharges_price {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff3d8;
      margin-bottom: 40px;
      font-family: PingFangSC-Medium, PingFang SC;
      &::before {
        content: "";
        display: block;
        width: 100px;
        height: 44px;
        background-image: url("https://wechat-config.dakale.net/miniprogram/image/beanWelfareZone_bean_tag.png");
        background-size: 100% 100%;
      }
      &::after {
        content: "卡豆";
        font-size: 32px;
        font-weight: 600;
        font-family: PingFangSC-Medium, PingFang SC;
        line-height: 32px;
        margin-left: 8px;
      }
      .bwzgc_telephoneCharges_buyPrice {
        font-size: 40px;
        font-weight: bold;
        line-height: 40px;
        margin-left: 16px;
      }
    }
  }
  &.commerceGoods {
    height: 500px;
    background-image: url("https://wechat-config.dakale.net/miniprogram/image/beanWelfareZone_2500_goods.png");
    padding-top: 24px;
    .bwzgc_commerceGoods_Swiper {
      height: 288px;
      margin-bottom: 64px;
      .bwzgc_commerceGoods_SwiperItem {
        .bwzgc_commerceGoods_detail {
          width: 640px;
          height: 288px;
          background: #e6f5ff;
          border-radius: 20px;
          margin: 0 auto;
          padding: 24px;
          display: flex;
          align-items: center;
          .bwzgc_commerceGoods_img {
            width: 240px;
            height: 240px;
            border-radius: 20px;
            border: 4px solid #ffffff;
            margin-right: 16px;
          }
          .bwzgc_commerceGoods_info {
            flex: 1;
            padding: 4px 0;
            text-align: left;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 240px;
            .bwzgc_commerceGoods_name {
              font-size: 28px;
              font-weight: 600;
              color: #333333;
              line-height: 36px;
              text-align: justify;
              display: -webkit-box;
              overflow: hidden;
              text-overflow: clip !important;
              word-wrap: break-word;
              white-space: normal !important;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
            }
            .bwzgc_commerceGoods_oldPrice {
              font-size: 28px;
              font-weight: 600;
              color: #999999;
              line-height: 28px;
              text-decoration: line-through;
            }
            .bwzgc_commerceGoods_tag {
              margin-top: 24px;
              width: 100px;
              height: 44px;
              background-size: 100% 100%;
              background-image: url("https://wechat-config.dakale.net/miniprogram/image/beanWelfareZone_bean_tagred.png");
            }
            .bwzgc_commerceGoods_price {
              display: flex;
              align-items: center;
              font-size: 40px;
              font-weight: bold;
              color: #ff452e;
              line-height: 40px;
              margin-top: 8px;
              &::after {
                content: "卡豆";
                font-size: 32px;
                font-weight: 500;
                color: #ff452e;
                line-height: 32px;
                margin-left: 8px;
              }
            }
          }
        }
      }
    }
  }
  &.beanWelfare {
    height: 680px;
    background-image: url("https://wechat-config.dakale.net/miniprogram/image/beanWelfareZone_5000_goods.png");
    padding-top: 58px;
    .bwzgc_beanWelfare_Swiper {
      width: 640px;
      display: flex;
      margin: 0 auto;
      overflow-x: auto;
      margin-bottom: 40px;
      .bwzgc_beanWelfare_cell {
        flex-shrink: 0;
        width: 200px;
        height: 220px;
        background-image: url("https://wechat-config.dakale.net/miniprogram/image/beanWelfareZone_5000_goodsBag.png");
        background-size: 100% 100%;
        padding: 18px 0 26px;
        & + .bwzgc_beanWelfare_cell {
          margin-left: 16px;
        }
        .bwzgc_beanWelfare_type {
          font-size: 20px;
          color: #999999;
          line-height: 20px;
        }
        .bwzgc_beanWelfare_price {
          font-weight: bold;
          color: #fb462f;
          margin-top: 16px;
          height: 50px;
          &::before {
            content: "¥";
            font-size: 30px;
          }
          Text {
            font-size: 56px;
            line-height: 56px;
          }
        }
        .bwzgc_beanWelfare_rule {
          font-size: 24px;
          color: #fdb5ac;
          line-height: 24px;
          margin-top: 8px;
        }
        .bwzgc_beanWelfare_num {
          font-size: 24px;
          font-weight: 400;
          color: #333333;
          line-height: 24px;
          margin-top: 36px;
        }
      }
    }
    .bwzgc_beanWelfare_name {
      font-size: 40px;
      font-weight: 600;
      color: #ffffff;
      line-height: 40px;
    }
    .bwzgc_beanWelfare_groupPrice {
      margin-top: 16px;
      font-size: 28px;
      font-weight: 600;
      color: #fce1de;
      line-height: 28px;
      text-decoration: line-through;
    }
    .bwzgc_beanWelfare_buyPrice {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 40px;
      font-weight: bold;
      color: #fff3d8;
      line-height: 40px;
      margin-top: 16px;
      margin-bottom: 40px;
      font-family: PingFangSC-Medium, PingFang SC;
      &::before {
        content: "";
        display: block;
        width: 100px;
        height: 44px;
        background-image: url("https://wechat-config.dakale.net/miniprogram/image/beanWelfareZone_bean_tag.png");
        background-size: 100% 100%;
        margin-right: 16px;
      }
      &::after {
        content: "卡豆";
        font-size: 32px;
        font-weight: 600;
        font-family: PingFangSC-Medium, PingFang SC;
        line-height: 32px;
        margin-left: 8px;
      }
    }
  }

  .bwzgc_beanWelfareZone_btn {
    width: 500px;
    height: 96px;
    font-weight: 600;
    color: #ffffff;
    text-shadow: 0px 3px 3px #ff9400;
    background-color: transparent;
    background-size: 100% 100%;
    margin: 0 auto;
    background-image: url("https://wechat-config.dakale.net/miniprogram/image/beanWelfareZone_btn.png");
  }
}
