page {
  width: 100%;
  background: #f5f5f5;
}
.lookAround_box {
  width: 100%;
  background: white;
  min-height: 100%;
  line-height: 1;
  position: relative;
  .wechant_init {
    width: 530px;
    height: 92px;
    line-height: 108px;
    position: fixed;
    top: 10px;
    z-index: 1000001;
    background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon599.png")
      no-repeat;
    background-size: 100% 100%;
    right: 32px;
    animation-name: wechant_animate;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    text-align: center;
  }
  @keyframes wechant_animate {
    0% {
      opacity: 1;
      width: 530px;
      height: 92px;
    }
    25% {
      opacity: 0.75;
      width: 530px;
      height: 92px;
    }
    50% {
      opacity: 0.5;
      width: 530px;
      height: 92px;
    }
    75% {
      opacity: 0.25;
      width: 530px;
      height: 92px;
    }
    99% {
      opacity: 0;
      width: 530px;
      height: 92px;
    }
    100% {
      opacity: 0;
      width: 0;
      height: 0;
    }
  }
  .lookAround_goods_topHeight {
    height: 64px;
  }
  .lookAround_content_margin {
    background: #ffffff;
  }
  .lookAround_navition_box {
    height: 64px;
    display: flex;
    position: fixed;
    background: #ffffff;
    top: 0;
    padding: 0 32px;
    display: flex;
    align-items: center;
    z-index: 100;
    .lookAround_navition_left {
      height: 64px;
      display: flex;
      align-items: center;
      margin-right: 32px;
      .lookAround_nation_cityIcon {
        background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon483.png")
          no-repeat;
        background-size: 100% 100%;
        width: 40px;
        height: 40px;
      }
      .lookAround_nation_city {
        font-size: 28px;
        font-weight: 600;
        max-width: 100px;
        color: #333333;
        margin-left: 8px;
      }
      .lookAround_nation_citySelect {
        width: 24px;
        height: 24px;
        background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon484.png")
          no-repeat;
        background-size: 100% 100%;
        margin-left: 8px;
      }
    }
    .lookAround_navition_center {
      width: 438px;
      height: 64px;
      border-radius: 40px;
      background: #f5f5f5
        url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon336.png")
        no-repeat;
      background-size: 36px 36px;
      background-position: 32px 14px;
      text-indent: 80px;
      line-height: 64px;
      font-size: 28px;
      color: #999999;
    }
    .lookAround_navition_right {
      display: flex;
      height: 64px;
      align-items: center;
      margin-left: auto;
      .lookAround_navition_lookCard {
        width: 48px;
        height: 48px;
        background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon486.png")
          no-repeat;
        background-size: 100% 100%;
      }
      .lookAround_navition_scanCode {
        width: 48px;
        height: 48px;
        background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon745.png")
          no-repeat;
        background-size: 100% 100%;
        margin-left: 24px;
      }
    }
  }
  .lookAround_category_box {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 64px;
    padding-top: 44px;
    .lookAround_category_scroll {
      width: 670px;
      white-space: nowrap;
      overflow: hidden;
      margin: 24px auto 0;
      .lookAround_category_view {
        padding-top: 20px;
        width: 96px;
        display: inline-block;
        margin-right: 48px;
        position: relative;
        .lookAround_category_image {
          width: 80px;
          height: 80px;
          margin: 0 auto;
        }
        .lookAround_category_font {
          width: 96px;
          text-align: center;
          margin-top: 12px;
          font-size: 24px;
          font-weight: 600;
          color: #333333;
          line-height: 24px;
        }
        .lookAround_category_bubble {
          position: absolute;
          top: 20px;
          right: -8px;
          background: #ef476f;
          border-radius: 15px;
          font-size: 20px;
          font-weight: 400;
          color: #ffffff;
          padding: 0px 8px;
          line-height: 30px;
        }
      }
      .lookAround_category_view:last-child {
        margin-right: 0;
      }
    }

    .lookAround_category_liner {
      width: 48px;
      height: 6px;
      background: #e5e5e5;
      border-radius: 3px;
      margin: 12px auto;
      position: relative;
      .slider-inside {
        width: 30px;
        height: 100%;
        border-radius: 3px;
        background: #108588;
      }

      /* 滑块滑动模拟 */
      .slider-inside-location {
        position: absolute;
        left: 50%;
      }
    }
  }
  .lookAround_active_box {
    margin: 32px 32px 0;
    .lookAround_active_title {
      height: 48px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .lookAround_active_hot {
        width: 162px;
        height: 40px;
        background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon506.png")
          no-repeat;
        background-size: 100% 100%;
      }
      .lookAround_active_date {
        width: 162px;
        height: 40px;
        background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon507.png")
          no-repeat;
        background-size: 100% 100%;
      }
      .lookAround_active_left {
        display: flex;
        align-items: center;
      }
      .lookAround_active_right {
        font-size: 24px;
        font-weight: 400;
        color: #999999;
        line-height: 32px;
        display: flex;
        align-items: center;
        .lookAround_active_hot1 {
          display: flex;
          align-items: center;
        }
        .lookAround_active_date1 {
          display: flex;
          align-items: center;
        }
        .lookAround_active_hot1::after {
          width: 24px;
          height: 24px;
          margin-left: 4px;
          display: block;
          content: "";
          background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon491.png")
            no-repeat;
          background-size: 100% 100%;
        }
        .lookAround_active_date1::after {
          width: 24px;
          height: 24px;
          margin-left: 4px;
          display: block;
          content: "";
          background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon491.png")
            no-repeat;
          background-size: 100% 100%;
        }
      }
    }
    .lookAround_active_card {
      width: 164px;
      height: 104px;
    }
    .lookAround_active_image {
      width: 100%;
      height: 100%;
    }
  }
  .lookAround_active_limit {
    position: absolute;
    top: 12px;
    right: 12px;
    display: flex;
    height: 28px;
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    line-height: 28px;
  }
  .lookAround_active_limit::before {
    display: inline-block;
    width: 28px;
    height: 28px;
    background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon490.png")
      no-repeat;
    background-size: 100% 100%;
  }
  .lookAround_active_bottom {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    background: rgba(0, 0, 0, 0.3);
  }
  .lookAround_price_text {
    font-size: 20px;
    line-height: 22px;
  }
  .lookAround_bean_box {
    height: 32px;
    align-items: center;
    justify-content: center;
    padding: 0px 6px;
    font-size: 22px;
    font-weight: 400;
    color: #ef476f;
    display: flex;
    box-sizing: border-box;
    border-radius: 4px;
  }
  .lookAround_active_scroll {
    width: 718px;
    margin: 32px auto 0;
    white-space: nowrap;
    overflow: hidden;
  }
  .lookAround_selectSpecal_box {
    background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon520.png")
      no-repeat top #f5f5f5;
    background-size: 100% 462px;
    min-height: 890px;
  }

  .lookAround_category_linder {
    width: 100%;
    height: 16px;
    background: #f5f5f5;
    background-size: 100% 100%;
  }
  .lookAround_category_fixed {
    width: 100%;
    height: 135px;
  }
  .lookAround_categorys_box {
    background: #ffffff;
    padding: 38px 88px 24px 32px;
    position: relative;
    margin-top: 16px;
    .lookAround_categorys_orderBtn {
      width: 40px;
      height: 40px;
      position: absolute;
      right: 24px;
      top: 42px;
      background: url("https://wechat-config.dakale.net/miniprogram/image/icon657.png")
        no-repeat;
      background-size: 100% 100%;
    }
    .lookAround_categorys_parent {
      width: 630px;
      white-space: nowrap;
      overflow: hidden;
      .lookAround_categorys {
        margin-right: 64px;
        font-size: 32px;
        display: inline-block;
        text-align: center;
      }
      .lookAround_categorys:last-child {
        margin-right: 0px;
      }
      .lookAround_topText {
        height: 44px;
        font-size: 32px;
        line-height: 44px;
        font-weight: 400;
      }
      .lookAround_categorys_flag {
        color: #666666;
      }
      .lookAround_categorys_true {
        color: #07c0c2;
        font-weight: 600;
      }
      .lookAround_categorys_iconText {
        padding-top: 24px;
        position: relative;
        .lookAround_categorys_icon {
          width: 36px;
          height: 8px;
          background: url("https://wechat-config.dakale.net/miniprogram/image/icon656.png")
            no-repeat;
          background-size: 100% 100%;
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          margin: 0 auto;
        }
      }
    }
  }
  .lookAround_share_text {
    display: inline-block;
    margin-left: 4px;
    vertical-align: bottom;
    font-size: 22px;
    font-weight: 600;
    color: #ef476f;
    line-height: 22px;
  }
  .nav_flex {
    position: absolute;
    left: 0;
    right: 0;
    top: 64px;
    z-index: 1000;
    margin: 0 auto;
    background: #ffffff;
  }
  .lookAround_template_specal {
    width: 188px;
    margin-right: 12px;
    .lookAround_template_img {
      width: 188px;
      height: 140px;
      border-radius: 4px;
      position: relative;
      .lookAround_template_limit {
        position: absolute;
        left: 8px;
        top: 8px;
        border-radius: 14px;
        background: rgba(0, 0, 0, 0.5);
        font-size: 20px;
        font-weight: 400;
        color: #ffffff;
        padding: 4px 6px;
        line-height: 1;
      }
    }
    .lookAround_template_name {
      padding-top: 16px;
      font-size: 22px;
      font-weight: 400;
      color: #000000;
      line-height: 22px;
      max-width: 180px;
    }
  }
  .lookAround_template_specal:last-child {
    margin-right: 0px;
  }

  .lookAround_template_specal1 {
    width: 218px;
  }

  .lookAround_template_specal2 {
    width: 208px;
    overflow: hidden;
  }
  .lookAround_template_img1 {
    width: 218px;
    height: 140px;
    border-radius: 4px;
    position: relative;
    .lookAround_template_limit {
      position: absolute;
      left: 8px;
      top: 8px;
      border-radius: 14px;
      background: rgba(0, 0, 0, 0.5);
      font-size: 20px;
      font-weight: 400;
      color: #ffffff;
      padding: 4px 6px;
      line-height: 1;
    }
  }
  .lookAround_template_name1 {
    padding-top: 16px;
    font-size: 22px;
    font-weight: 400;
    color: #000000;
    line-height: 22px;
    max-width: 218px;
  }
  .lookAround_template_specal:last-child {
    margin-right: 0px;
  }
  .lookAround_template_oldPrice {
    padding-top: 16px;
    display: flex;
    align-items: center;
  }
  .lookAround_template_price {
    display: flex;
    align-items: center;
    padding-top: 6px;
  }
  .lookAround_template_priceMax {
    max-width: 140px;
  }
  .lookAround_new_bean {
    margin-top: 8px;
    height: 24px;
    background: #ffffff;
    border-radius: 24px;
    border: 1px solid #ef476f;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    .lookAround_new_img {
      width: 80px;
      height: 24px;
    }
    .lookAround_new_pay {
      font-size: 20px;
      font-weight: bold;
      color: #ef476f;
      max-width: 120px;
      padding: 0 8px 0 4px;
    }
  }
  .lookAround_specalPlate_hotOnly {
    background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon786.png")
      no-repeat;
    background-size: 100% 100%;
  }
  .lookAround_bean_price {
    padding-top: 8px;
    font-size: 16px;
    font-weight: 400;
    color: #ef476f;
    line-height: 16px;
  }
  .lookAround_bean_show {
    padding-top: 8px;
    max-width: 180px;
  }
  .lookAround_specalPlate_liner {
    background: linear-gradient(180deg, #ffffff 0%, #ffffff 100%);
    border-radius: 8px;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
  }
  .lookAround_specalPlate_box {
    width: 688px;
    margin: 40px auto 0;
    .lookAround_new_heightKol {
      height: 400px;
    }
    .lookAround_new_height {
      height: 360px;
    }
    .lookAround_specalPlate_time {
      width: 420px;
      position: relative;
      background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon664.png")
        no-repeat;
      background-size: 100% 100%;
      border-radius: 8px;
      box-sizing: border-box;
      height: 374px;
    }
    .lookAround_specalPlate_hot {
      width: 250px;
      position: relative;
      background: linear-gradient(180deg, #ffffff 0%, #ffffff 100%);
      border-radius: 8px;
      border: 1px solid #e5e5e5;
      box-sizing: border-box;
      height: 374px;
    }
    .lookAround_specalPlate_date {
      position: relative;
      background: linear-gradient(180deg, #ffffff 0%, #ffffff 100%);
      border-radius: 8px;
      border: 1px solid #e5e5e5;
      box-sizing: border-box;
      height: 374px;
    }
    .lookAround_specalPlate_view {
      padding: 24px 16px 0;
      .lookAround_specalPlate_topBox {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 1;
        .lookAround_specalPlate_title {
          width: 114px;
          height: 28px;
        }
        .lookAround_specalPlate_titleIcon1 {
          background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon665.png")
            no-repeat;
          background-size: 100% 100%;
        }
        .lookAround_specalPlate_titleIcon2 {
          background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon666.png")
            no-repeat;
          background-size: 100% 100%;
        }
        .lookAround_specalPlate_link {
          width: 24px;
          height: 24px;
          background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon667.png")
            no-repeat;
          background-size: 100% 100%;
        }
      }
      .lookAround_specalPlate_swiper {
        margin: 24px 0 0;
        width: 218px;
        height: 313px;
        overflow: hidden;
      }
      .lookAround_specalPlate_swiper1 {
        margin: 24px 0 0;
        width: 208px;
        height: 313px;
        overflow: hidden;
      }
      .lookAround_absolute {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 1001;
      }
    }
    .lookAround_specalPlate_content {
      display: flex;
      padding: 24px 16px 22px;
      justify-content: center;
    }
    .lookAround_only_content {
      display: flex;
      padding: 24px 16px 22px;
    }
  }
}
.lookAround_goods_init {
  width: 686px;
  height: 48px;
  margin: 20px auto 0;
  display: flex;
  align-items: center;
  background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon626.png")
    no-repeat;
  background-size: 100% 100%;
  font-size: 24px;
  font-weight: 400;
  color: #333333;
  .lookAround_goods_font {
    margin-left: 204px;
  }
}
.lookAround_hot_bottom {
  font-size: 28px;
  font-weight: 400;
  color: #333333;
  line-height: 42px;
  margin-top: 12px;
}
.lookAround_hot_user {
  display: flex;
  margin-top: 8px;
  font-weight: 400;
  color: #666666;
  align-items: center;
  .lookAround_hot_userProfile {
    width: 24px;
    height: 24px;
    background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon641.png")
      no-repeat;
    background-size: 100% 100%;
  }
  .lookAround_hot_merchantName {
    margin-left: 4px;
    max-width: 148px;
    margin-right: 8px;
  }
  .lookAround_hot_limit {
  }
}
.configWindVane_box {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: flex;

  .configWindVane_user {
    height: 120px;
    display: inline-block;
    justify-content: center;
    position: relative;
    .bubbleContent-info {
      position: absolute;
      right: -32px;
      top: -15px;
      padding: 0px 8px;
      height: 30px;
      line-height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #ef476f;
      border-radius: 15px;
      font-size: 20px;
      font-weight: 400;
      color: #ffffff;
      z-index: 100;
    }
  }
  .configWindVane_user:last-child {
    margin-right: 0;
  }
  .configWindVane_profile {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    position: relative;
  }
  .configWindVane_text {
    padding-top: 12px;
    font-size: 24px;
    font-weight: 600;
    color: #333333;
    line-height: 24px;
    text-align: center;
  }
}
.lookAround_category_liner {
  width: 48px;
  height: 6px;
  background: #e5e5e5;
  border-radius: 3px;
  margin: 16px auto 0;
  position: relative;
  position: relative;
  .slider-inside {
    width: 24px;
    height: 100%;
    border-radius: 3px;
    background: #108588;
    position: absolute;
    top: 0;
    bottom: 0;
  }
}
