page{
  background: #F2F2F2;
  height: 100%;
}
html,body{
  background: #F2F2F2;
  height: 100%;
}
.lookshare_Title{
  position: fixed;
  width: 100%;
  height: 128px;
  background: #07C0C2;
  z-index: 10;
  padding-top: 64px;
  display: flex;
  top: 0;
  color: #FFFFFF;
  font-size: 30px;
  line-height: 1;
  .lookshare_backIcon{
    margin-left: 31px;
    width: 19px;
    height: 38px;
    background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/share/iconback.png") no-repeat;
    background-size: 100% 100%;
  }
  .lookshare_navTab{
    margin-left: 225px;
    margin-top: 6px;
  }
  .lookshare_navTab1{
    margin-left: 78px;
    margin-top: 6px;
  }
  .lookshare_ChecknavTab{
    font-weight: bold;
    font-size: 34px;
    margin-top: 3px;
  }
  .lookshare_ChecknavIcon{
    width:24px;
    height:6px;
    background:rgba(255,255,255,1);
    border-radius:3px;
    margin-left: 20px;
    margin-top: 12px;

  }

}
.lookshare_select{
  background: #FFFFFF;
  height: 83px;
  line-height: 83px;
  font-size: 24px;
  position: fixed;
  width: 100%;
  top: 128px;
  z-index: 10;
  display: block;
  .lookshare_select_box{
    width: 92%;
    margin: 0 auto;
    color: #333333;
    position: relative;
    .lookshare_selectIcon:after{
      position: relative;
      top:-3px;
      margin-left: 8px;
      content:'';
      width: 16px;
      height: 8px;
      display: inline-block;
      background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/icon2.png") no-repeat;
      background-size: 100% 100%;
    }
    .lookshare_selectColor{
      color: #07C0C2;
    }
    .lookshare_selectChecked{
      color: #07C0C2;
    }
    .lookshare_selectChecked:after{
      position: relative;
      top:-3px;
      margin-left: 8px;
      content:'';
      width: 16px;
      height: 8px;
      display: inline-block;
      background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/icon6.png") no-repeat;
      background-size: 100% 100%;
    }
    .lookshare_getBean{
      margin-left: 50px;
    }
    .lookshare_task{
      margin-left: 58px;
    }
    .lookshare_selectIcon:after{
      position: relative;
      top:-3px;
      margin-left: 8px;
      content:'';
      width: 16px;
      height: 8px;
      display: inline-block;
      background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/icon2.png") no-repeat;
      background-size: 100% 100%;
    }
    .lookshare_style{
      content:'';
      position: absolute;
      right: 0;
      top: 27px;
      width: 32px;
      height: 26px;
      display: inline-block;
      background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/icon1.png") no-repeat;
      background-size: 100% 100%;
    }
    .lookshare_style1{
      content:'';
      position: absolute;
      right: 0;
      top: 27px;
      width: 32px;
      height: 26px;
      display: inline-block;
      background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/icon10.png") no-repeat;
      background-size: 100% 100%;
    }
  }
}
.lookshare_layer_categoryById{
  position: fixed;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: hidden;
  z-index: 10000;
  background: rgba(0, 0, 0, 0.6);
  .lookshare_layer_category{
    position: relative;
    width: 600px;
    overflow: hidden;
    height: 100%;
    left: 150px;
    line-height: 1;
    .lookshare_layer_categoryTitle{
      position: relative;
      height: 9.45%;
      background: #FFFFFF;
      color: rgba(51, 51, 51, 1);
      font-size: 34px;
      font-weight: bold;
      .categoryTitle{
        padding-top: 68px;
        padding-left: 44px;
      }
    }
    .lookshare_layer_categoryContent{
      position: relative;
      height: 83.13%;
      overflow-y: auto;
      background: rgba(242, 242, 242, 1);
      .lookshare_layer_categoryTag{
        height: 91px;
        line-height: 91px;
        color: rgba(85, 85, 85, 1);
        font-size: 24px;
        padding-left:42px;
      }
      .lookshare_layer_categoryLine{
        width:451px;
        height:1px;
        background:rgba(230,230,230,1);
        margin-left: 11px;
      }
      .lookshare_layer_noCheckedselect:before{
        width: 30px;
        height: 30px;
        background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/icon13.png") no-repeat;
        background-size: 100% 100%;
        content: '';
        display: inline-block;
        vertical-align: middle;
        margin-top: -4px;
        margin-right: 12px;
      }
      .lookshare_layer_Checkedselect:before{
        width: 30px;
        height: 30px;
        background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/icon14.png") no-repeat;
        background-size: 100% 100%;
        content: '';
        display: inline-block;
        vertical-align: middle;
        margin-top: -4px;
        margin-right: 12px;
      }
    }
    .lookshare_layer_categoryBottom{
      position: relative;
      height: 7.35%;
      line-height: 7.35%;
      background: #f2f2f2;
      border-top: 1px solid #e6e6e6;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      .lookshare_layer_categoryBtn{
        width: 88%;
        justify-content: space-between;
        .lookshare_layer_categoryButton{
          width: 250px;
          height: 70px;
          line-height: 70px;
          text-align: center;
          font-size: 28px;
          border-radius: 35px;
        }
        .lookshare_layer_categoryReload{
          color: rgba(254, 60, 90, 1);
          border: 1px solid rgba(254, 60, 90, 1);
        }
        .lookshare_layer_categorySubmit{
          color: rgba(255, 255, 255, 1);
          background: rgba(7, 192, 194, 1) ;
        }
      }
    }
  }
}
.lookshare_layer{
  position: fixed;
  top: 211px;
  bottom: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: hidden;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.6);
  .lookshare_layer_space{
    height: 584px;
    background: #FFFFFF;
    border-top: 1px solid rgba(230, 230, 230, 1);
    padding: 35px 30px;
    overflow-y: hidden;
    .lookshare_layer_spaceLimit{
      color: rgba(51, 51, 51, 1);
      font-size: 24px;
      padding: 20px 0px;
    }
    .lookshare_layer_task{
      color: rgba(85, 85, 85, 1);
      font-size: 24px;
      height: 460px;
      overflow-y: auto;
      .lookshare_layer_tag{
        padding:26px 0 14px 0 ;
        flex-wrap: wrap;
        color: rgba(51, 51, 51, 1);
        font-size: 24px;
        .checkedNoSelect{
          border-radius: 10px;
          width:156px;
          height:50px;
          border:1px solid rgba(230,230,230,1);
          line-height:50px;
          text-align: center;
          margin:0 19px 19px 0px;
        }
        .checkedFour{
          margin-right: 0 !important;
        }
        .checkedSelect{
          color: rgba(254, 156, 174, 1);
          background: #FFE9ED;
          border-radius: 10px;
          width:156px;
          height:50px;
          line-height:50px;
          text-align: center;
          margin:0 18px 18px 0px;
        }
      }
    }
    .lookshare_layer_btn{
      padding: 60px 71px 0px 71px;
      display: flex;
      justify-content: space-between;
      .btn{
        width: 243px;
        height: 70px;
        line-height: 70px;
        text-align: center;
        font-size: 28px;
        border-radius: 35px;
      }
      .lookshare_layer_reloadBtn{
        color: #FD96A9;
        border:1px solid rgba(253,150,169,1);
      }
      .lookshare_layer_submitBtn{
        border:1px solid rgba(7,192,194,1);
        color: #07C0C2;
      }
    }
  }
}
.lookshare_body{
  position: relative;
  top: 211px;
  .lookshare_bodyBox{
    padding: 0px 30px;
    -moz-column-count:2;
    /* Firefox */
    -webkit-column-count:2;
    /* Safari 和 Chrome */
     column-count:2;
    -moz-column-gap:20px;
    -webkit-column-gap:20px;
     column-gap:20px;
     padding-bottom: 20px;
    .lookshare_VideoAll{
      margin-top: 20px;
      background: #FFFFFF;
      border-radius: 20px;
      display: inline-block;
      width: 335px;
      .lookshare_Img{
        width: 335px;
        height: 335px;
        border-radius: 20px 20px 0 0;
        position: relative;
        .lookshare_tagType{
          position: absolute;
          top: 0;
          left: 0;
          border-radius:20px 0px 20px 0px;
          background: #07C0C2;
          padding: 5px 15px;
          font-size: 20px;
          font-weight: bold;
          color: #FFFFFF;
        }
        .lookshare_VideoIcon{
          position: absolute;
          right: 11px;
          top: 10px;
          width: 50px;
          height: 50px;
          background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/icon3.png") no-repeat;
          background-size:100% 100% ;
        }
        .lookshare_beanNum{
          position: absolute;
          right: 0;
          bottom: 0;
          color: #FFFFFF;
          font-size: 20px;
          background: #FD96A9;
          border-radius: 20px 0px 0px 0px;
          padding: 16px 15px;
          .lookshare_num{
            color: #FFFFFF;
            font-weight: bold;
            font-size: 26px;
          }
          .lookshare_num:after{
            content: '';
            width: 20px;
            height: 18px;
            margin-left: 10px;
            display: inline-block;
            background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/icon4.png") no-repeat;
            background-size:100% 100% ;
          }
        }
      }
      .lookshare_ImgTitle{
        padding: 0 30px 0 20px;
        margin-top: 20px;
        line-height: 39px;
        font-size: 26px;
        max-height: 78px;
        color: #333333;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        word-break: break-all;
        -webkit-line-clamp: 2;
        /* autoprefixer: ignore next */
        -webkit-box-orient: vertical;
      }
      .lookshare_accress{
        margin: 16px 20px 0 20px;
        width: 295px;
        height: 42px;
        background: #07C0C2;
        line-height: 42px;
        font-size: 20px;
        color: #FFFFFF;
        font-weight: bold;
        border-radius: 21px;
        .lookshare_accressBox{
          padding:0 20px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        .lookshare_accressBox:before{
          content:'';
          width: 20px;
          height: 20px;
          display: inline-block;
          background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/icon5.png") no-repeat;
          vertical-align: middle;
          background-size: 100% 100%;
          margin-right: 8px;
        }
      }
      .lookshare_tag{
        margin:21px 30px 5px 20px;
        line-height: 1;
        overflow-x: scroll;
        white-space: nowrap;
        .tag_Details{
          background: #FFFFFF;
          color: #FD96A9;
          border-radius: 10px;
          border: 1px solid #FD96A9;
          font-size: 20px;
          padding: 6px 13px;
          line-height: 1;
          display: inline-block;
          margin-right: 9px;
        }
        .tag_Details:last-child{
          margin-right: 0px;
        }
      }
      .lookshare_user{
        height: 90px;
        align-items: center;
        padding: 0 20px;
        position: relative;
        .lookshare_userImg{
          width:50px;
          height: 50px;
          background: #777777;
          border-radius: 50px;
        }
        .lookshare_username{
          font-size: 24px;
          color: #333333;
          font-weight: bold;
          margin-left: 11px;
        }
        .lookshare_imageText{
          position: absolute;
          right: 0;
          top: 34px;
        }
      }
      .lookshare_data{
        line-height: 1;
        padding:0px 20px 20px 20px;
        font-size: 20px;
        justify-content: space-between;
        color: #A5A5A5;
        .lookshare_blue{
          color: #07C0C2;
        }
      }
    }
  }
  .lookshare_compose{
    border-top: 1px solid rgba(230,230,230,1);
    padding-bottom: 29px;
    .lookshare_compose_user{
     margin: 31px 30px 0px 30px;
     padding-bottom: 20px;
     border-bottom: 1px solid #E6E6E6;
     justify-content: space-between;
      .lookshare_compose_userImg{
        width: 60px;
        height: 60px;
        border-radius: 50%;
      }
      .lookshare_compose_usercontent{
        margin-left: 10px;
        line-height: 1;
        .lookshare_compose_userName{
          font-weight: bold;
          color: #333333;
          font-size: 24px;
          padding-top: 4px;
        }
        .lookshare_compose_userSpace{
          padding-top: 8px;
          color: #A5A5A5;
          font-size: 20px;
        }
      }
      .lookshare_compose_getBean{
        padding: 0px 22px;
        display: inline-block;
        height: 40px;
        line-height: 40px;
        color: #FE9CAE;
        border:1px solid rgba(254,156,174,1);
        font-size:20px;
        border-radius:20px;
        font-weight:400;
        margin-top: 10px;
        margin-left: 18px;
        .lookshare_compose_getBeanIcon:after{
          width: 17px;
          height: 15px;
          content: '';
          display: inline-block;
          background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/icon7.png");
          background-size: 100% 100%;
          margin-left: 5px;
        }
      }
      .lookshare_compose_share{
        width: 32px;
        height: 30px;
        background:url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/icon8.png") no-repeat ;
        background-size: 100% 100%;
        margin-top: 15px;
      }
    }
    .lookshare_compose_tag{
      padding:20px 0px;
      margin:0px 30px;
      white-space: nowrap;
      overflow-x: auto;
      .compose_tags{
        display: inline-block;
        margin-right: 9px;
        padding:5px 12px;
        color: #FD96A9;
        font-size: 20px;
        border:1px solid rgba(253,150,169,1);
        border-radius:10px;
        line-height: 1;
      }
    }
    .lookshare_compose_video{
      line-height: 1;
      height: 409px;
      position: relative;
      border-radius: 20px;
      margin: 0 30px 0px 30px;
      padding:18px 37px 21px 28px;
      .lookshare_compose_title{
        height: 76px;
        line-height: 38px;
        font-size: 30px;
        color: #FFFFFF;
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        word-break: break-all;
        -webkit-line-clamp: 2;
        /* autoprefixer: ignore next */
        -webkit-box-orient: vertical;
      }
      .lookshare_compose_play{
        padding-top: 9px;
        color: #E6E6E6;
        font-size: 20px;
      }
      .lookshare_compose_category{
        position: absolute;
        right: 30px;
        top: 85px;
        width: 108px;
        height: 30px;
        line-height: 30px;
        color: #FFFFFF;
        font-size: 20px;
        font-weight: bold;
        border-radius: 15px;
        text-align: center;
        background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.3) ,rgba(255, 255, 255,0.3)); /* Safari 5.1 - 6.0 */
        background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.3) ,rgba(255, 255, 255,0.3)); /* Opera 11.1 - 12.0 */
        background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.3) ,rgba(255, 255, 255,0.3)); /* Firefox 3.6 - 15 */
        background: linear-gradient(bottom, rgba(0, 0, 0, 0.3) ,rgba(255, 255, 255,0.3));
      }
      .lookshare_compose_playIcon{
        width: 80px;
        height: 80px;
        position: absolute;
        top: 166px;
        left: 306px;
        background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/icon9.png") no-repeat;
        background-size:100% 100%;
      }
      .lookshare_compose_time{
        position: absolute;
        padding: 7px 10px;
        color: #FFFFFF;
        font-size: 20px;
        font-weight: bold;
        border-radius: 15px;
        background: rgba(0, 0, 0, 0.3);
        bottom: 21px;
        right: 31px;

      }
      .lookshare_compose_imgTitle{
        position: absolute;
        top: 14px;
        left: 27px;
        padding: 6px 16px;
        background: rgba(0, 0, 0, 0.3);
        border-radius: 15px;
        color:rgba(255, 255, 255, 1);
        font-size: 20px;
        font-weight: bold;
        line-height: 1;
      }
      .lookshare_compose_Imgnum{
        position: absolute;
        top: 14px;
        right: 27px;
        padding: 6px 16px;
        background: rgba(0, 0, 0, 0.6);
        border-radius: 15px;
        color:rgba(255, 255, 255, 1);
        font-size: 20px;
        line-height: 1;
      }

    }
    .lookshare_compose_ImguserTitle{
      color: rgba(85, 85, 85, 1);
      font-size: 26px;
      max-height: 68px;
      line-height: 38px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      word-break: break-all;
      -webkit-line-clamp: 2;
      /* autoprefixer: ignore next */
      -webkit-box-orient: vertical;
      padding: 0px 40px 0px 32px;
      margin-top: 31px;
    }
    .lookshare_compose_imgAddress{
      margin: 15px 0 0 30px;
      padding: 0px 20px;
      height: 42px;
      line-height: 42px;
      background: rgba(253, 149, 169, 1);
      border-radius: 21px;
      color: rgba(255, 255, 255, 1);
      font-size: 20px;
      font-weight: bold;
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      .lookshare_compose_Icon:before{
        content:'';
        width: 15px;
        height: 19px;
        display: inline-block;
        background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/icon5.png") no-repeat;
        vertical-align: middle;
        background-size: 100% 100%;
        margin-right: 8px;
      }
    }
  }
}
::-webkit-scrollbar{
  width: 0;
  height: 0;
}
