.nearList_box {
  width: 335px;
  border-radius: 4px;
  margin-bottom: 32px;
  .nearList_image {
    width: 335px;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    .nearList_time {
      position: absolute;
      top: 12px;
      right: 12px;
      height: 36px;
      width: 68px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      color: white;
      background: rgba(0, 0, 0, 0.2);
      border-radius: 4px;
    }
    .nearList_type {
      left: 12px;
      bottom: 12px;
      position: absolute;
      display: flex;
      align-items: center;
      height: 36px;
      padding: 0 12px;
      font-size: 20px;
      color: white;
      background: rgba(0, 0, 0, 0.2);
      border-radius: 4px;
    }
  }
  .nearList_title {
    max-height: 84px;
    font-size: 28px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 600;
    color: #333333;
    line-height: 42px;
    padding-top:20px;
    
  }
  .nearList_user_box {
    display: flex;
    height: 40px;
    margin-top: 16px;
    align-items: center;
    .nearList_user {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
    .nearList_userName {
      max-width: 270px;
      margin-left: 16px;
      font-size: 24px;
      font-weight: 400;
      color: #999999;
    }
  }
  .nearList_active {
    padding-top: 8px;
    line-height: 32px;
    .nearList_dakale_bean {
      display: inline-block;
      vertical-align: middle;
      font-size: 24px;
      font-weight: 600;
      color: #ef476f;
      margin-right: 8px;
    }
    .nearList_dakale_bean::before {
      content:'';
      display: inline-block;
      width: 32px;
      height: 32px;
      vertical-align: bottom; 
      margin-right: 4px;
      background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon462.png")
        no-repeat;
      background-size: 100% 100%;
    }
    .nearList_dakale_coupon {
      padding: 0px 10px;
      height: 32px;
      text-align: center;
      line-height: 32px;
      font-size: 22px;
      font-weight: 400;
      color: #ef476f;
      background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon464.png")
        no-repeat;
      background-size: 100% 100%;
      display: inline-block;
    }
    .nearList_dakale_noCoupon {
      padding: 0px 10px;
      height: 32px;
      text-align: center;
      line-height: 32px;
      font-size: 22px;
      font-weight: 400;
      color: #999999;
      background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon463.png")
        no-repeat;
      background-size: 100% 100%;
      display: inline-block;
    }
    .nearList_dakale_active {
      height: 32px;
      line-height: 32px;
      padding: 0 8px;
      background: rgba(239, 71, 111, 0.1);
      text-align: center;
      color: rgba(239, 71, 111, 1);
      font-size: 22px;
      display: inline-block;
    }
  }
  .nearList_dakale_noBean {
    font-size: 24px;
    font-weight: 600;
    color: #999999;
    margin-right: 8px;
    display: inline-block;
    vertical-align: middle;
  }
}
