.nearList_box {
  width: 372px;
  border-radius: 4px;
  margin-bottom: 12px;
  .nearList_image {
    width: 372px;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    .nearList_time {
      position: absolute;
      top: 16px;
      right: 16px;
      height: 36px;
      width: 68px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      color: white;
      background: rgba(0, 0, 0, 0.2);
      border-radius: 4px;
    }
    .nearList_getBean {
      position: absolute;
      top: 16px;
      left: 16px;
      height: 36px;
      display: flex;
      align-items: center;
      font-size: 24px;
      color: white;
      background: rgba(0, 0, 0, 0.2);
      border-radius: 4px;
      padding: 0 4px;
      .nearList_beanIcon {
        width: 32px;
        height: 32px;
        background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon462.png")
          no-repeat;
        background-size: 100% 100%;
        margin-right: 4px;
      }
      .nearList_dakale_noBean {
        font-size: 24px;
        font-weight: 600;
        color: rgba(255, 255, 255, 0.8);
      }
    }
    .nearList_bottom {
      position: absolute;
      left: 0px;
      right: 0px;
      bottom: 16px;
      padding: 0 16px;
      .nearList_bottom_title {
        max-height: 80px;
        font-size: 28px;
        font-weight: 600;
        color: #ffffff;
        line-height: 40px;
      }
      .nearList_bottom_avtiveBox {
        margin-top: 8px;
        display: flex;
      }
    }
    .nearList_dakale_coupon {
      width: 64px;
      height: 32px;
      background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon550.png")
        no-repeat;
      background-size: 100% 100%;
      margin-right: 8px;
      font-size: 22px;
      text-align: center;
      color: white;
    }
    .nearList_dakale_active {
      padding: 5px 8px;
      display: inline-block;
      text-align: center;
      background: #ef476f;
      font-size: 22px;
      color: white;
      border-radius: 4px;
    }
  }
  .nearList_user_box {
    height: 64px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 400;
    color: #999999;
    .nearList_user {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
    .nearList_merchantName {
      max-width: 174px;
      margin-left: 16px;
    }
    .nearList_limit {
      max-width: 184px;
      text-indent: 12px;
    }
  }
  .nearList_new_content {
    padding: 24px 16px 0px;
    .nearList_new_title {
      width: 340px;
      font-size: 28px;
      font-weight: 600;
      color: #ffffff;
      line-height: 40px;
    }
    .nearList_dakale_active {
      padding: 5px 8px;
      display: inline-block;
      text-align: center;
      background: #ef476f;
      font-size: 22px;
      color: white;
      border-radius: 4px;
    }
    .nearList_bottom_avtiveBox {
      margin-top: 8px;
      display: flex;
    }
    .nearList_dakale_coupon {
      width: 64px;
      height: 32px;
      background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon550.png")
        no-repeat;
      background-size: 100% 100%;
      margin-right: 8px;
      font-size: 22px;
      text-align: center;
      color: white;
    }
  }
}
.nearListBg {
  background: #222222;
}
