.toastCity_layer {
  position: fixed;
  z-index: 1000000000;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  .toastCity_box {
    width: 500px;
    background: #ffffff;
    border-radius: 20px;
    background: #ffffff;
    .toastCity_box_content {
      padding: 48px 40px 42px;
      text-align: center;
      .toastCity_font2 {
        margin-top: 16px;
        color: rgba(7, 192, 194, 1);
      }
      .toastCity_font3 {
        margin-top: 16px;
      }
      .toastCity_font4 {
        margin: 40px auto 0;
        width: 420px;
        height: 80px;
        line-height: 80px;
        background: #07c0c2;
        border-radius: 8px;
        text-align: center;
        color: #ffffff;
      }
      .toastCity_font5{
        margin-top: 32px;
      }
      .toastCity_font6{
        margin-top: 26px;
        color: rgba(71, 155, 239, 1);
      }
    }
  }
}
