.shopScene_box {
  width: 100%;
  .shop_dakale_content {
    width: 456px;
    margin: 24px auto;
    font-size: 28px;
    font-weight: 400;
    color: #666666;
    line-height: 42px;
    max-height: 560px;
    text-align: left;
  }
  .shopScene_top {
    width: 100%;
    min-height: 1972px;
    position: relative;
    background: url(https://wechat-config.dakale.net/miniprogram/active/8.8/active8_8_31.png);
    background-size: 100% 100%;
    position: relative;
    .shopScene_content_topHeight {
      height: 706px;
    }
    .shopScene_card {
      width: 717px;
      height: 494px;
      margin: 0 auto;
      background: url(https://wechat-config.dakale.net/miniprogram/active/8.8/active8_8_32.png);
      background-size: 100% 100%;
      .shopScene_card_details {
        position: relative;
        top: 388px;
        display: flex;
        margin: 0 62px 0 70px;
        align-items: center;
        .textmargin {
          margin-left: 12px;
          display: inline-block;
        }
      }
      .shopScene_card_btn {
        margin-left: auto;
        width: 136px;
        height: 44px;
        background: #ef476f;
        border-radius: 23px;
        font-size: 24px;
        font-weight: 600;
        color: #ffffff;
      }
    }
    .shopScene_btn_box {
      padding: 0 40px;
      margin: 14px auto 0;
      .shopScene_btn {
        width: 320px;
        height: 110px;
      }
    }
    .shopScene_btn_left {
      background: url(https://wechat-config.dakale.net/miniprogram/active/8.8/active8_8_33.png);
      background-size: 100% 100%;
    }
    .shopScene_btn_left1 {
      background: url(https://wechat-config.dakale.net/miniprogram/active/8.8/active8_8_43.png);
      background-size: 100% 100%;
    }
    .shopScene_btn_right {
      background: url(https://wechat-config.dakale.net/miniprogram/active/8.8/active8_8_34.png);
      background-size: 100% 100%;
    }
    .shopScene_step {
      width: 662px;
      height: 519px;
      margin: 40px auto 0;
    }
    .shopScene_step0 {
      background: url(https://wechat-config.dakale.net/miniprogram/active/8.8/active8_8_shop0.png);
      background-size: 100% 100%;
    }
    .shopScene_step1 {
      background: url(https://wechat-config.dakale.net/miniprogram/active/8.8/active8_8_shop1.png);
      background-size: 100% 100%;
    }
    .shopScene_step2 {
      background: url(https://wechat-config.dakale.net/miniprogram/active/8.8/active8_8_shop2.png);
      background-size: 100% 100%;
    }
    .shopScene_step3 {
      background: url(https://wechat-config.dakale.net/miniprogram/active/8.8/active8_8_shop3.png);
      background-size: 100% 100%;
    }
    .shopScene_step4 {
      background: url(https://wechat-config.dakale.net/miniprogram/active/8.8/active8_8_shop5.png);
      background-size: 100% 100%;
    }
    .shopScene_step5 {
      background: url(https://wechat-config.dakale.net/miniprogram/active/8.8/active8_8_shop4.png);
      background-size: 100% 100%;
    }
  }
  .shopScene_layer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10001;
    line-height: 1;
  }
  .shopScene_layer_content {
    width: 560px;
    height: 900px;
    background: #ffffff;
    border-radius: 40px;
    .shopScene_layer_top {
      width: 560px;
      height: 140px;
      background: url(https://wechat-config.dakale.net/miniprogram/active/8.8/active8_8_30.png);
      background-size: 100% 100%;
    }
    .shopScene_layer_content {
      width: 560px;
      height: 585px;
    }
    .shopScene_layer_btn {
      width: 560px;
      height: 160px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .shopScene_layer_btnBox {
      width: 440px;
      height: 80px;
      background: #ef476f;
      border-radius: 64px;
      font-size: 36px;
      font-weight: 600;
      color: #ffd95d;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .shopScene_layer_child {
    height: 129px;
    margin: 0 24px;
    border-bottom: 1px solid #e5e5e5;
    .shopScene_time {
      font-size: 24px;
      padding-top: 12px;
      text-align: right;
      font-weight: 400;
      color: #999999;
    }
    .shopScene_content_top {
      padding-top: 42px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  .shopScene_ceil_margin {
    height: 120px;
    background: rgba(239, 71, 111, 1);
  }
  .shareInfo_btn {
    width: 560px;
    height: 140px;
    margin: 14px auto 0;
    background: url(https://wechat-config.dakale.net/miniprogram/active/8.8/active8_8_25.png);
    background-size: 100% 100%;
  }
  .shareInfo_btn1 {
    width: 560px;
    height: 140px;
    margin: 14px auto 0;
    background: red;
    background-size: 100% 100%;
  }
  .shopScene_timesAuto {
    margin-top: 22px;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    color: #ffffff;
  }
  .shopScene_shareCount_box {
    width: 688px;
    height: 241px;
    margin: 48px auto 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .shopScene_bean_box {
    width: 120px;
    height: 241px;
    position: relative;
    .shopScene_bean_iconBox {
      width: 120px;
      height: 63px;
      font-size: 24px;
      font-weight: 800;
      color: #ffd95d;
      line-height: 48px;
      text-align: center;
    }
    .shopScene_bean_iconBox1 {
      background: url(https://wechat-config.dakale.net/miniprogram/active/8.8/active8_8_29.png);
      background-size: 100% 100%;
      opacity: 0.4;
    }
    .shopScene_bean_iconBox2 {
      background: url(https://wechat-config.dakale.net/miniprogram/active/8.8/active8_8_28.png);
      background-size: 100% 100%;
    }
    .shopScene_bean_profile {
      width: 100px;
      height: 100px;
      margin: 7px auto 0;
    }
    .shopScene_bean_profile1 {
      background: url(https://wechat-config.dakale.net/miniprogram/active/8.8/active8_8_26.png);
      background-size: 100% 100%;
    }
    .shopScene_bean_profile2 {
      box-sizing: border-box;
      border: 4px solid #ffd95d;
    }
    .shopScene_bean_index {
      width: 78px;
      height: 51px;
      background: url(https://wechat-config.dakale.net/miniprogram/active/8.8/active8_8_27.png);
      background-size: 100% 100%;
      margin: 20px auto 0;
    }
  }
}
