.newUserToast_box {
  width: 110px;
  height: 110px;
  background: url("https://wechat-config.dakale.net/miniprogram/image/coupon_active8.png")
    no-repeat;
  background-size: 100% 100%;
  position: fixed;
  top: 140px;
  left: 32px;
  z-index: 10;
}
