page {
  width: 100%;
  height: 100%;
}
.specialOffer_box {
  width: 100%;
  background: #ffffff;
  overflow-x: hidden;
  overflow-y: auto;
  .specialOffer_content {
    padding: 32px 32px 0;
  }
 
}
