page {
  width: 100%;
  height: 100%;
}
.specialOffer_box {
  width: 100%;
  min-height: 100%;
  background: linear-gradient(180deg, #ff4949 0%, #ef476f 100%);
  overflow-x: hidden;
  overflow-y: auto;
  .specialOffer_banner {
    width: 100%;
    height: 477px;
    background: url("https://wechat-config.dakale.net/miniprogram/image/icon638.png")
      no-repeat;
    background-size: 100% 100%;
  }
  .specialOffer_novite {
    height: 680px;
    display: flex;
    align-items: center;
    justify-content: center;
    .specialOffer_novite_content {
      margin: -110px auto 0;
      width: 702px;
      height: 648px;
      border-radius: 20px;
      position: relative;
      background: url("https://wechat-config.dakale.net/miniprogram/image/icon639.png")
        no-repeat;
      background-size: 100% 100%;
      .specialOffer_select_content {
        height: 64px;
        font-size: 32px;
        color: #333333;
        position: relative;
        display: flex;
        padding: 48px 91px 0;
        justify-content: space-between;
      }
      .specialOffer_select_content1 {
        padding: 48px 0px 0;
        height: 64px;
        font-size: 32px;
        color: #333333;
        position: relative;
        display: flex;
        justify-content: center;
      }
      .specialOffer_select_view {
        position: relative;
        width: 224px;
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .specialOffer_select_tags1 {
        background: #ffc83c;
        border-radius: 32px;
        font-size: 32px;
        font-weight: bold;
        color: #333333;
      }
      .specialOffer_select_tags2 {
        border-radius: 32px;
        font-size: 32px;
        font-weight: bold;
        color: #cccccc;
      }
      .specialOffer_novite_title {
      }
      .specialOffer_novite_liner {
        margin: 16px auto 0;
        width: 40px;
        height: 4px;
        background: #ef476f;
        border-radius: 2px;
      }
      .specialOffer_novite_scroll {
        margin: 32px 35px 0;
      }
    }
  }
  .specialOffer_content_pay {
    position: absolute;
    width: 272px;
    height: 68px;
    left: 0;
    right: 0;
    top: -34px;
    background: url("https://wechat-config.dakale.net/miniprogram/image/icon640.png")
      no-repeat;
    background-size: 100% 100%;
    z-index: 10;
    margin: 0 auto;
    font-size: 36px;
    font-weight: 600;
    color: #333333;
  }
  .specialOffer_content {
    position: relative;
    margin: 74px 24px 24px;
    background: #ffffff;
    border-radius: 20px;
    border: 3px solid #000000;
    padding: 70px 24px 0;
  }
}
