.ownerShop_shop_box {
  width: 750px;
  padding: 32px 0px 24px;
  background: #ffffff;
}
.ownerShop_shop_detailsBox {
  padding: 0px 24px 0px;
  display: flex;
  .ownerShop_shop_img {
    width: 148px;
    height: 148px;
    border-radius: 4px;
  }
  .ownerShop_shop_font {
    height: 148px;
    margin-left: 16px;
    .ownerShop_shop_merchantName {
      padding-top: 4px;
      width: 538px;
      font-size: 32px;
      font-weight: 600;
      color: #333333;
      line-height: 32px;
    }
    .ownerShop_shop_bussionTime {
      padding-top: 20px;
      width: 538px;
      height: 32px;
      display: flex;
      align-items: center;
      .bussionTime_tag {
        padding: 0px 8px;
        height: 32px;
        display: flex;
        align-items: center;
        background: rgba(16, 133, 136, 0.1);
        border-radius: 4px;
        margin-right: 16px;
      }
      .bussionTime_liner {
        width: 1px;
        height: 20px;
        background: #108588;
        border-radius: 1px;
        opacity: 0.3;
      }
      .bussionTime_margin {
        margin-left: 8px;
      }
      .ownerShop_shop_peoplePay {
        font-size: 26px;
        font-weight: 400;
        color: #333333;
        line-height: 26px;
      }
    }

    .ownerShop_shop_address {
      padding-top: 24px;
      width: 538px;
      display: flex;
      font-size: 28px;
      font-weight: 400;
      color: #999999;
    }
    .ownerShop_shop_addressFont {
      width: 438px;
    }
    .ownerShop_shop_limit {
      margin-left: auto;
    }
  }
  .ownerShop_shop_active {
    margin: 24px 0 0 194px;
    .ownerShop_bean {
      margin-top: 28px;
      display: flex;
      align-items: center;
      height: 32px;
      font-size: 24px;
      font-weight: 600;
      color: #ef476f;
      margin-right: 8px;
    }
    .ownerShop_bean::before {
      width: 32px;
      height: 32px;
      background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon462.png")
        no-repeat;
      background-size: 100% 100%;
      content: "";
      display: block;
      margin-right: 8px;
      font-size: 24px;
      font-weight: 600;
      color: #333333;
    }
    .ownerShop_specal {
      height: 32px;
      display: flex;
      align-items: center;
      border-radius: 8px 2px 2px 2px;
      margin-right: 8px;
      .ownerShop_icon1 {
        border-radius: 8px 2px 8px 2px;
        .ownerShop_hui {
          width: 32px;
          height: 30px;
          background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon617.png")
            no-repeat;
          background-size: 100% 100%;
        }
      }
      .ownerShop_text1 {
        height: 30px;
        padding: 0 8px;
        text-align: center;
        line-height: 30px;
        font-size: 22px;
        font-weight: 400;
        color: #333333;
      }
    }
    .ownerShop_coupon {
      margin-top: 16px;
      height: 32px;
      display: flex;
      align-items: center;
      border-radius: 8px 2px 2px 2px;
      .ownerShop_icon2 {
        border-radius: 8px 2px 8px 2px;
        .ownerShop_cou {
          width: 32px;
          height: 30px;
          background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon616.png")
            no-repeat;
          background-size: 100% 100%;
        }
      }
      .ownerShop_text2 {
        height: 32px;
        padding: 0 8px;
        text-align: center;
        line-height: 32px;
        font-size: 22px;
        font-weight: 400;
        color: #333333;
        max-width: 184px;
      }
    }
  }
}
.ownerShop_shop_liner {
  margin: 24px 0 0 190px;
  height: 2px;
  background: #e5e5e5;
  border-radius: 1px;
  width: 538px;
}
