page{
  background: #F2F2F2;
  width: 100%;
  line-height: 100%;
  box-sizing: border-box;
}
html,body{
  background: #F2F2F2;
  width: 100%;
  line-height: 100%;
  box-sizing: border-box;
}
.clearfix{
  display: flex;
}
.take_cardBox {
  width: 100%;
  min-height: 100%;
  .take_cardNode {
    position: absolute;
    z-index: 20;
    top: 190px;
    right: 23px;

    .take_cardNodeIcon {
      background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/health/cansai.png") no-repeat;
      background-size: 100% 100%;
      width: 60px;
      height: 60px;
      margin: 0 auto;
    }

    .take_cardNodefont {
      height: 43px;
      line-height: 43px;
      font-size: 24px;
      color: #FFFFFF;
      font-weight: bold;
    }
  }

  .take_cardBox_title {
    height: 836px;
    background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/health/enlist_img1.png") no-repeat;
    background-size: 100% 100%;
    position: relative;
    padding: 0 30px;

    .take_card_title {
      position: relative;
      padding-top: 59px;

      view:nth-child(1) {
        width: 50px;
        height: 50px;
        background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/health/back.png") no-repeat;
        background-size: 100% 100%;
        display: inline-block;
      }

      view:nth-child(2) {
        width: 253px;
        height: 52px;
        background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/health/title.png") no-repeat;
        background-size: 100% 100%;
        margin-left: 164px;
        display: inline-block;
      }
    }

    .take_cardBean {
      padding-top: 76px;
      height: 27px;
      text-align: center;
      color: #FFFFFF;
      font-size: 28px;
    }

    .take_enlist {
      width: 480.4px;
      height: 110px;
      margin: 0 auto;
      background: rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      margin-top: 21px;
      position: relative;

      .take_enlistPeople {
        height: 62px;
        line-height: 65px;
        font-size: 28px;
        font-weight: 500;
        text-align: center;
        color: #FFFFFF;

        text {
          color: rgba(255, 228, 0, 1);
        }
      }

      .take_reward {
        font-size: 24px;
        color: #FFFFFF;
        padding: 0 22px 0 35px;

        text {
          display: inline;
          padding-left: 51px;
        }
      }

      .take_time {
        position: absolute;
        left: 0;
        top: 0;
        width: 138.4px;
        height: 40px;
        border-radius: 10px 0px 10px 0px;
        background: rgba(0, 0, 0, 0.2);
        line-height: 40px;
        font-size: 20px;
        color: #FFFFFF;
        text-align: center;
      }
    }

    .take_cardBeanAmount {
      font-size: 66px;
      color: rgba(255, 228, 0, 1);
      height: 67px;
      line-height: 67px;
      text-align: center;
      position: relative;
      margin-top: 21px;
      vertical-align: middle;
      font-family: ZhenyanGB-Regular;
    }

    .take_myStep {
      height: 32px;
      font-size: 22px;
      text-align: center;
      color: #FFFFFF;
      margin-top: 40px;

      text {
        font-size: 40px;
        font-weight: bold;
      }
    }

    .take_schedule {
      margin-top: 25px;
      font-size: 20px;
      color: #FFFFFF;
      text-align: center;

      .take_prompt {
        display: inline-block;
        width: 150px;
        height: 6px;
        background: rgba(255, 244, 242, 1);
        border-radius: 3px;
        vertical-align: middle;
        margin-right: 4px;

        view {
          height: 6px;
          background: rgba(255, 228, 0, 1);
          border-radius: 3px;
        }
      }
    }
    .take_synchro {
      width: 185px;
      height: 48px;
      position: relative;
      margin-top: 36px;
      margin-left: 505px;
      background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/health/tongbu.png") no-repeat;
      background-size: 100% 100%;
    }
  }

  .take_cardEnlist{
    position: relative;
    width:690px;
    height:110px;
    background:rgba(245,200,86,1);
    border-radius:20px;
    margin: 28px 38px 0 22px ;
    text-align: center;
    .take_cardEnlist_btn{
      padding-top: 25px;
      color: rgba(106, 58, 32, 1);
      font-size: 40px;
      font-weight: bold;
    }
    .take_cardEnlist_Details{
      padding-top: 11px;
      color: #FFFFFF;
      font-size: 22px;
    }
  }

  .take_cardMatch{
    width: 690px;
    height: 344px;
    margin: 0 auto;
    margin-top: 30px;
    background: #FFFFFF;
    border-radius: 20px;
    .take_cardMatch_title{
      padding-top: 31px;
      font-size: 28px;
      font-weight: bold;
      color: rgba(52, 52, 52, 1);

    }
    .take_cardMatch_title:before{
      width: 28px;
      height: 31px;
      background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/health/koushao.png") no-repeat;
      background-size: 100% 100%;
      content: '';
      display: inline-block;
      vertical-align: middle;
      margin-top: -5px;
      margin-left: 20px;
      margin-right: 5px;
    }
    .take_cardMatch_reach{
      padding-top: 22px;
      text-align: center;
      view:nth-child(1){
        font-size: 40px;
        color: rgba(52, 52, 52, 1);
        font-weight: bold;
        height: 30px;
      }
      view:nth-child(2){
        color: rgba(86, 86, 86, 1);
        font-size: 26px;
        line-height: 65px;
        height: 65px;
      }
    }
    .take_cardMatch_Details{
      margin-top:23px;
      height: 54px;
      text-align: center;
      line-height: 1;
      view:nth-child(1){
        width: 244px;
        border-right: 1px solid rgba(230,230,230,1);
      }
      view:nth-child(2){
        width: 199px;
        border-right: 1px solid rgba(230,230,230,1);
      }
      view:nth-child(3){
        flex: 1;
        flex-grow: 1;
      }
      text{
        display: block;
      }
      text:nth-child(1){
        color: rgba(255, 85, 96, 1);
        font-size: 26px;
        font-weight: bold;
      }
      text:nth-child(2){
        color: rgba(86, 86, 86, 1);
        font-size: 20px;
        line-height: 46px;
        height: 46px;
      }
    }
    .take_cardMatchStatus{
      font-size: 20px;
      color: rgba(86, 86, 86, 1);
      text-align: center;
      margin-top: 30px;
    }
    .take_cardMatchStatus:before{
      content: '';
      display: inline-block;
      width:54px;
      height:2px;
      background:rgba(230,230,230,1);
      border-radius:1px;
      vertical-align: middle;
      margin-right: 10px;
      margin-top: -3px;
    }
    .take_cardMatchStatus:after{
      content: '';
      display: inline-block;
      width:54px;
      height:2px;
      background:rgba(230,230,230,1);
      border-radius:1px;
      vertical-align: middle;
      margin-left: 10px;
      margin-top: -3px;
    }
  }

  .take_cardDraw{
    width: 690px;
    height: 344px;
    margin: 30px;
    background: #FFFFFF;
    border-radius:20px;
    .take_DrawTitle{
      padding:30px  20px 0  20px;
      color: rgba(52, 52, 52, 1);
      font-size: 28px;
      font-weight: bold;
      justify-content: space-between;
      view:nth-child(1):before{
        width: 32px;
        height: 34px;
        content:'';
        display: inline-block;
        background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/health/jiangjin.png") no-repeat;
        background-size: 100% 100%;
        margin-right: 8px;
        vertical-align: top;
      }
      view:nth-child(1){
        text{
          vertical-align: text-top;
          display: inline-block;
          line-height: 36px;
        }
      }
      view:nth-child(2){
        font-size: 22px;
        color: rgba(154, 154, 154, 1);
        font-weight: normal;
        text{
          vertical-align: text-top;
          display: inline-block;
          line-height: 36px;
        }
      }
      view:nth-child(2):after{
        width: 11px;
        height: 20px;
        content:'';
        display: inline-block;
        background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/health/guizego.png") no-repeat;
        background-size: 100% 100%;
        margin-left: 8px;
        vertical-align: middle;
      }
    }
    .take_drawExplain{
      margin: 30px 20px 24px 20px;
      .take_drawDay{
        width: 140px;
        height: 140px;
      }
      .take_drawDayGo{
        width: 115px;
        height: 140px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .take_drawGoIcon1{
        width: 31px;
        height: 29px;
        background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/health/nowdaygo.png") no-repeat;
        background-size: 100% 100%;
      }
      .take_drawGoIcon2{
        width: 31px;
        height: 29px;
        background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/health/tamatogo.png") no-repeat;
        background-size: 100% 100%;
      }
      .take_drawDaybg1{
        background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/health/nowday.png") no-repeat;
        background-size: 100% 100%;
      }
      .take_drawDaybg2{
        background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/health/tamoroday.png") no-repeat;
        background-size: 100% 100%;
      }
      .take_drawDaybg3{
        background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/health/houtian.png") no-repeat;
        background-size: 100% 100%;
      }
    }
  }

  .take_Draw_Details{
    margin:0 20px;
    display: flex;
    justify-content: space-between;
    .take_Draw_tab{
      width: 140px;
      text-align: center;
      font-size: 24px;
      color: rgba(52, 52, 52, 1);
      line-height: 1;
      view:nth-child(1){
        font-weight: bold;
      }
      view:nth-child(2){
        font-size: 22px;
        color: rgba(154, 154, 154, 1);
        margin-top: 13px;
      }
    }
  }
}
