page{
  background: #F2F2F2;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
html,body{
  background: #F2F2F2;
  width: 100%;
  line-height: 100%;
  box-sizing: border-box;
}
.clearfix{
  display: flex;
}
view{
  line-height: 1;
}
text{
  display: inline-block;
  line-height: 1;
}
.ranking_box{
  width: 750px;
  min-height: 100%;
  height: 1415px;
  background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/health/paihangA.png") no-repeat;
  background-size: 100% 100%;
  .ranking_back{
    padding:69px 0 0 30px;
    view{
      width: 17px;
      height: 29px;
      background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/health/rankBack%20.png") no-repeat;
      background-size: 100% 100%;
    }
  }
  .ranking_user{
    margin-top: 109px;
    padding-left: 100px;
    height: 80px;
    .ranking_userImg{
      width: 80px;
      height: 80px;
      position: relative;
      border-radius:50%;
      box-shadow:0px 0px 0px 4px rgba(252, 208, 18, 1);
      overflow: hidden;
    }
    .ranking_userDetails{
      margin-left: 27px;
      color: #FFFFFF;
     .ranking_username{
       font-size: 26px;
       padding-top: 9px;
     }
     .ranking_footRank{
       font-size: 28px;
       font-weight: bold;
       padding-top: 10px;
     }
    }
  }
  .ranking_rankList{
    position: relative;
    width: 714px;
    height: 943px;
    margin: 0 auto;
    margin-top: 161px;
    background:url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/health/rankList.png") no-repeat;
    background-size: 100% 100%;
    .ranking_ListIcon {
      position: absolute;
      width: 114px;
      height: 161px;
      background:url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/health/rankListIcon.png") no-repeat;
      background-size: 100% 100%;
      left: 125px;
      top: -106px;
    }
    .ranking_rankBox {
      padding-top: 48px;
      .ranking_rankImg{
          width: 80px;
          height: 80px;
          border-radius:50%;
          overflow: hidden;
          image{
            width: 100%;
            height: 100%;
            vertical-align: middle;
          }
        }
      .ranking_imgRang1{
        box-shadow:0px 0px 0px 4px rgba(252, 208, 18, 1);
      }
      .ranking_imgRang2{
        box-shadow:0px 0px 0px 4px rgba(197, 211, 227, 1);
      }
      .ranking_imgRang3{
        box-shadow:0px 0px 0px 4px rgba(249, 167, 113, 1);
      }
      .ranking_rankDetails{
          margin-left: 31px;
          color: rgba(51, 51, 51, 1);
          .ranking_username{
            font-size: 26px;
            font-weight: bold;
            padding-top: 6px;
          }
          .ranking_footRank{
            font-size: 28px;
            font-weight: bold;
            padding-top: 12px;
          }
        }
        .ranking_ranklistDetails{
          position: relative;
          margin-top: 50px;
          justify-content: space-between;
          height: 80px;
          .ranking_city{
            padding: 6px 16px;
            background: rgba(225, 255, 255, 1);
            color: rgba(7, 192, 194, 1);
            font-size: 20px;
            border-radius: 10px;
          }
          .ranking_sex{
            margin-left: 11px;
            width: 18px;
            height: 18px;
            image{
              width: 100%;
              height: 100%;
              vertical-align: middle;
            }
          }
          .ranking_ranklistNum{
            line-height: 80px;
            color: rgba(253, 142, 163, 1);
            font-size: 26px;
            font-weight: bold;
          }
          .ranking_rankicon{
            position: absolute;
            width: 49px;
            height: 49px;
            left: -30px;
            top: -26px;
          }
          .ranking_rankbg1{
            background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/health/rank1.png") no-repeat;
            background-size: 100% 100%;
          }
          .ranking_rankbg2{
            background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/health/rank2.png") no-repeat;
            background-size: 100% 100%;
          }
          .ranking_rankbg3{
            background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/health/rank3.png") no-repeat;
            background-size: 100% 100%;
          }
        }
        .ranking_ranklistDetails:nth-child(1){
          margin-top: 25px;
        }
        .ranking_rankscroll{
          padding: 0 52px 1px 67px;
          height: 756px;
          overflow-y: auto;
        }
    }
    .ranking_explain {
      color: rgba(153, 153, 153, 1);
      font-size: 20px;
      text-align: center;
      margin-top: 17px;
      view:nth-child(2){
        padding-top: 13px;
      }
    }
  }
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
  color: transparent;
}
