.bwzGoodContent_content.beanWelfare {
  height: 680px;
  background-image: url("https://wechat-config.dakale.net/miniprogram/image/beanWelfareZone_5000_goods.png");
  padding-top: 20px;
  .bwzgc_beanWelfare_Swiper {
    width: 640px;
    height: 300px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    overflow-x: auto;
    .bwzgc_beanWelfare_cell {
      flex-shrink: 0;
      width: 200px;
      height: 220px;
      background-image: url("https://wechat-config.dakale.net/miniprogram/image/beanWelfareZone_5000_goodsBag.png");
      background-size: 100% 100%;
      padding: 18px 0 26px;
      & + .bwzgc_beanWelfare_cell {
        margin-left: 16px;
      }
      .bwzgc_beanWelfare_type {
        width: 175px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: center;
        margin: 0 auto;
        font-size: 20px;
        color: #999999;
        line-height: 20px;
      }
      .bwzgc_beanWelfare_price {
        font-weight: bold;
        color: #fb462f;
        margin-top: 16px;
        height: 50px;
        &::before {
          content: "¥";
          font-size: 30px;
        }
        Text {
          font-size: 56px;
          line-height: 56px;
        }
      }
      .bwzgc_beanWelfare_rule {
        font-size: 24px;
        color: #fdb5ac;
        line-height: 24px;
        margin-top: 8px;
      }
      .bwzgc_beanWelfare_num {
        font-size: 24px;
        font-weight: 400;
        color: #333333;
        line-height: 24px;
        margin-top: 36px;
      }
    }
  }
  .bwzgc_beanWelfare_name {
    font-size: 40px;
    font-weight: 600;
    color: #ffffff;
    line-height: 40px;
  }
  .bwzgc_beanWelfare_groupPrice {
    margin-top: 16px;
    font-size: 28px;
    font-weight: 600;
    color: #fce1de;
    line-height: 28px;
    text-decoration: line-through;
  }
  .bwzgc_beanWelfare_buyPrice {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
    color: #fff3d8;
    line-height: 40px;
    margin-top: 16px;
    margin-bottom: 40px;
    font-family: PingFangSC-Medium, PingFang SC;
    &::before {
      content: "";
      display: block;
      width: 100px;
      height: 44px;
      background-image: url("https://wechat-config.dakale.net/miniprogram/image/beanWelfareZone_bean_tag.png");
      background-size: 100% 100%;
      margin-right: 16px;
    }
    &::after {
      content: "卡豆";
      font-size: 32px;
      font-weight: 600;
      font-family: PingFangSC-Medium, PingFang SC;
      line-height: 32px;
      margin-left: 8px;
    }
  }
}
