.lookAround_sign_box {
  padding: 16px 32px;
  background: #faf0f0;
  border-radius: 20px;
  margin: 24px 24px 0;
  display: flex;
  align-items: flex-start;

  .lookAround_sign_content {
    margin-left: 24px;
    padding-top: 12px;
  }
  .lookAround_sign_name {
    font-size: 32px;
    font-weight: 600;
    color: #333333;
  }
  .lookAround_sign_desc {
    padding-top: 16px;
    font-size: 24px;
    font-weight: 400;
    color: #999999;
  }
}
.lookAround_sign_box::before {
  width: 96px;
  height: 96px;
  background: url("https://wechat-config.dakale.net/miniprogram/image/icon909.png")
    no-repeat;
  background-size: 100% 100%;
  display: block;
  content: "";
  flex-shrink: 0;
}
.lookAround_sign_box::after {
  width: 160px;
  height: 60px;
  background: linear-gradient(152deg, #ff2565 0%, #ff2b2b 100%);
  border-radius: 30px;
  display: block;
  margin-left: auto;
  content: "立即签到";
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  font-weight: 600;
  color: #ffffff;
  flex-shrink: 0;
  margin-top: 18px;
}
