@import "@/assets/css/global.scss";

.PersonnelSwiper {
  position: relative;
  @include whEqual(686px, 70px);
  background: #e73963;
  border-radius: 8px;
  margin: 9px auto 16px;
  &::before {
    content: "";
    @include whEqual(100%);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
  }
  .personnelSwiper_cell {
    @include flexCenterA;
    height: 100%;
    padding: 0 24px;
    font-size: 26px;
    font-weight: 600;
    color: #ffffff;
    .ps_sw_head {
      @include whEqual(48px);
      border-radius: 50%;
      border: 1px solid #ffffff;
      margin-right: 16px;
      flex-shrink: 0;
    }
    .ps_sw_info {
      flex: 1;
    }
  }
}
