page {
  width: 100%;
  height: 100%;
  line-height: 1;
  .dakale_logo {
    padding: 47px 0 64px;
  }
  .dakale_logo_image {
    width: 374px;
    height: 57px;
    content: "";
    background: url(https://wechat-config.dakale.net/miniprogram/image/icon939.png)
      no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
  }
  .dakale_logo_imageYellow {
    width: 374px;
    height: 57px;
    content: "";
    background: url(https://wechat-config.dakale.net/miniprogram/image/icon941.png)
      no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
  }
}
