.tradeView_Block {
  padding: 39px 32px;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  left: 0;
  .tagCheck_item_check {
    wx-radio-group {
      display: inline-flex;
      flex-wrap: wrap;
      flex-direction: column;
    }
    .tagCheck_check_edit_base {
      display: flex;
      width: fit-content;
      align-items: center;
      background: #ffffff;
      border-radius: 8px;
      font-size: 28px;
      margin-bottom: 32px;
      color: #333333;
      border: 2px solid #cccccc;
      padding: 18px 20px;
    }
    .wx-radio-input {
      display: none;
    }
    .tagCheck_check_edit_base[checked] {
      background: #07c0c2;
      color: #ffffff;
      border: none;
    }
  }
}
