.order_details_btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .order_details_payLabel {
    display: flex;
    align-items: baseline;
  }
  .order_details_button {
    width: 380px;
    height: 80px;
    background: #07c0c2;
    border-radius: 40px;
    font-size: 32px;
    font-weight: 600;
    color: #ffffff;
  }
}
