page {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.clearfix {
  display: flex;
}
.auth_box {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background: #108588;
  line-height: 1;
  .auth_margin {
    margin: 41px auto 0;
  }
  .auth_login {
    width: 100%;
    height: 1000px;
    background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon592.png")
      no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
  }
  .auth_btn {
    width: 520px;
    height: 88px;
    background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon601.png")
      no-repeat;
    background-size: 100% 100%;
    margin: 32px auto 0;
    .clearBtn {
      background: none;
      border: none;
      width: 100%;
      height: 100%;
    }
    .clearBtn::after {
      border: none;
    }
  }
  .auth_bottom {
    margin: 20px auto 158px;
    text-align: center;
    color: #ffffff;
    font-size: 24px;
  }
  .textThould {
    text-decoration: underline;
  }
}
