page{
  background: #F2F2F2;
  width: 100%;
  line-height: 100%;
  box-sizing: border-box;
}
html,body{
  background: #F2F2F2;
  width: 100%;
  line-height: 100%;
  box-sizing: border-box;
}
.clearfix{
  display: flex;
}
.auth_box {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background: rgba(255, 255, 255, 1);
  border-radius: 5px;
  .auth_logo {
    width: 145px;
    height: 144px;
    background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/auth/logo.png") no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
    margin-top: 294px;
    position: relative;
    z-index: 10;
  }
  .auth_logo2{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height:182px;
    .auth_logoImg{
      width: 256px;
      height: 84px;
      margin: 0 auto;
      background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/auth/titleLogo.png") no-repeat;
      background-size:100% 100% ;
    }
    .auth_condition{
      height: 98px;
      line-height: 98px;
      font-size: 20px;
      text-align: center;
      color: rgba(119, 119, 119, 1);
      .auth_treaty{
        color: rgba(253, 150, 169, 1);
      }
      .auth_conceal{
        color: rgba(253, 150, 169, 1);
      }
    }
  }
}
.btn-button{
  width:432px !important;
  height: 70px !important;
  margin: -15px auto 0 auto !important;
  background: rgba(7, 192, 194, 1) !important;
  border-radius: 35px !important;
  line-height: 70px !important;
  color: #FFFFFF;
  font-size: 26px;
}
