//
.perimeter_shop_box {
  width: 100%;
  height: 100%;
  line-height: 1;
  position: relative;
  .perimeter_shop_template {
    width: 686px;
    background: #ffffff;
    border-radius: 20px;
    position: relative;
    margin: 32px auto 24px;
    .template_filterImage {
      height: 180px;
      width: 100%;
      border-radius: 20px 20px 0 0;
      position: relative;
      .template_userprofile {
        width: 100px;
        height: 100px;
        border: 2px solid #ffffff;
        border-radius: 50%;
        position: absolute;
        top: 96px;
        left: 32px;
      }
      .template_pingpai {
        width: 50px;
        height: 28px;
        position: absolute;
        top: 12px;
        left: 12px;
        background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon515.png")
          no-repeat;
        background-size: 100% 100%;
      }
    }
    .template_content {
      padding: 36px 32px 0px;
      position: relative;
      .template_goods {
        padding-top: 16px;
        display: flex;
        align-items: center;
        .template_bean {
          display: flex;
          align-items: center;
          height: 32px;
          font-size: 24px;
          font-weight: 600;
          color: #ef476f;
          margin-right: 8px;
        }
        .template_bean::before {
          width: 32px;
          height: 32px;
          background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon462.png")
            no-repeat;
          background-size: 100% 100%;
          content: "";
          display: block;
          margin-right: 4px;
          font-size: 24px;
          font-weight: 600;
          color: #ef476f;
        }
        .template_specal {
          height: 32px;
          border: 1px solid #ef476f;
          display: flex;
          align-items: center;
          border-radius: 8px 2px 2px 2px;
          margin-right: 8px;
          .template_icon1 {
            width: 40px;
            height: 32px;
            background: #ef476f;
            border-radius: 8px 2px 8px 2px;
            border: 1px solid #ef476f;
            .template_hui {
              width: 23px;
              height: 22px;
              background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon513.png")
                no-repeat;
              background-size: 100% 100%;
            }
          }
          .template_text1 {
            height: 32px;
            padding: 0 8px;
            text-align: center;
            line-height: 32px;
            font-size: 22px;
            font-weight: 400;
            color: #ef476f;
          }
        }
        .template_coupon {
          height: 32px;
          border: 1px solid rgba(255, 164, 50, 1);
          display: flex;
          align-items: center;
          border-radius: 8px 2px 2px 2px;
          margin-right: 8px;

          .template_icon2 {
            width: 40px;
            height: 32px;
            background: rgba(255, 164, 50, 1);
            border-radius: 8px 2px 8px 2px;
            border: 1px solid rgba(255, 164, 50, 1);
            .template_cou {
              width: 23px;
              height: 22px;
              background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon514.png")
                no-repeat;
              background-size: 100% 100%;
            }
          }
          .template_text2 {
            height: 32px;
            padding: 0 8px;
            text-align: center;
            line-height: 32px;
            font-size: 22px;
            font-weight: 400;
            color: rgba(255, 164, 50, 1);
          }
        }
      }
      .template_title {
        width: 622px;
        font-size: 32px;
        font-weight: 600;
        color: #333333;
        line-height: 32px;
      }
      .list_font_type {
        margin-top: 16px;
        font-size: 24px;
        line-height: 24px;
        max-width: 622px;
        color: #999999;
        display: flex;
        align-items: center;
      }
      .list_font_type::before {
        width: 24px;
        height: 24px;
        display: inline-block;
        content: "";
        margin-right: 8px;
        background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon497.png")
          no-repeat;
        background-size: 100% 100%;
        vertical-align: middle;
      }
      .template_time_box {
        padding-top: 16px;
        vertical-align: middle;
        color: rgba(16, 133, 136, 1);
        .template_time {
          padding: 0 8px;
          height: 30px;
          display: inline-block;
          text-align: center;
          line-height: 30px;
          background: rgba(16, 133, 136, 0.1);
          font-size: 22px;
          vertical-align: middle;
          .liner {
            width: 1px;
            height: 20px;
            background: #108588;
            border-radius: 1px;
            opacity: 0.3;
            display: inline-block;
            vertical-align: middle;
          }
        }
      }
      .template_scan {
        position: absolute;
        top: 60px;
        right: 32px;
        .scan_icon {
          width: 48px;
          height: 48px;
          background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon568.png")
            no-repeat;
          background-size: 100% 100%;
          margin: 0 auto;
        }
        .scan_font {
          margin-top: 4px;
          font-size: 24px;
          font-weight: 400;
          color: #ef476f;
        }
      }
    }
    .template_liner {
      width: 622px;
      height: 2px;
      background: #e5e5e5;
      border-radius: 1px;
      margin: 23px auto 0;
    }
    .template_liner_address {
      height: 96px;
      padding: 0 32px;
      .template_address_left {
        display: flex;
        align-items: center;
        height: 48px;
        font-size: 24px;
        font-weight: 400;
        color: #999999;
        max-width: 480px;
      }
      .template_address_left::before {
        width: 24px;
        height: 24px;
        display: block;
        content: "";
        background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon570.png")
          no-repeat;
        background-size: 100% 100%;
        margin-right: 4px;
      }
      .template_address_right {
        width: 48px;
        height: 48px;
        background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon569.png")
          no-repeat;
        background-size: 100% 100%;
      }
    }
  }
}
