@import "@/assets/css/global.scss";

.Purse_content {
  .purse_tip {
    @include flexCenterA;
    height: 64px;
    background: #ef486f26;
    font-size: 24px;
    font-weight: 400;
    color: #ef476f;
    padding: 0 32px;
    &::before {
      content: "";
      display: inline-block;
      @include whEqual(24px);
      margin-right: 7px;
      background: url("https://wechat-config.dakale.net/miniprogram/relay/info_red.png");
      background-size: 100%;
    }
  }
  .purse_price_content {
    @include flexCenterA;
    flex-direction: column;
    background: #ffffff;
    padding: 64px 0 56px;
    .purse_bean_iconBox {
      width: 100px;
      height: 100px;
      background: url("https://wechat-config.dakale.net/miniprogram/relay/bean_icon.png")
        no-repeat;
      background-size: 100%;
      margin: 0 auto;
    }
    .purse_price_all {
      padding-top: 40px;
      font-size: 28px;
      font-weight: 400;
      color: #333333;
    }
    .purse_price {
      font-size: 72px;
      font-weight: 600;
      color: #333333;
      margin-top: 29px;
      &::before {
        display: inline;
        font-size: 36px;
      }
    }
    .purse_price_submit {
      @include sumbitButton;
      width: 420px;
      margin-top: 118px;
      border-radius: 12px;
    }
  }
  .purse_bank_box {
    padding: 40px 32px 40px;
    margin: 24px 32px;
    background: #ffffff;
    border-radius: 12px;
    .purse_bank_toast {
      font-size: 24px;
      font-weight: 400;
      color: #999999;
      line-height: 24px;
    }
    .purse_bank_add {
      padding-top: 22px;
      font-size: 32px;
      font-weight: 600;
      color: #333333;
      display: flex;
      align-items: center;
    }
    .purse_bank_add::after {
      content: "";
      display: inline-block;
      width: 36px;
      height: 36px;
      margin-left: 4px;
      background: url("https://wechat-config.dakale.net/miniprogram/relay/pure_info.png");
      background-size: 100%;
    }
  }
  .purse_price_menu {
    padding: 32px;
    .purse_menu_group {
      background: #ffffff;
      border-radius: 12px;
      padding: 0 32px;
    }
    .purse_menu_cell {
      @include flexCenterA;
      justify-content: space-between;
      height: 92px;
      font-size: 28px;
      font-weight: 600;
      color: #333333;
      &::after {
        content: "";
        display: inline-block;
        @include whEqual(24px);
        background: url("https://wechat-config.dakale.net/miniprogram/relay/right_black.png");
        background-size: 100%;
      }
    }
  }
  .purse_bottom_tip {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0); /* 50%为自身尺寸的一半 */
    bottom: 60px;
    font-size: 24px;
    font-weight: 400;
    color: #999999;
  }
}
