page {
  width: 100%;
  height: 100%;
  overflow: auto;
  background: #f5f5f5;
}

.GroupVerification_box {
  background: #f5f5f5;
  width: 100%;
  .GroupVerification_init_box {
    padding: 32px 0 156px;
  }
  .GroupVerification_null_bg {
    margin: 56px auto 0;
    .GroupVerification_null_image {
      width: 300px;
      height: 300px;
      margin: 0 auto;
      background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/relay/icon_33.png")
        no-repeat;
      background-size: 100% 100%;
    }
    .GroupVerification_null_font {
      margin-top: 32px;
      text-align: center;
      font-size: 28px;
      font-weight: 400;
      color: #999999;
      line-height: 28px;
    }
  }
  .GroupVerification_template_box {
    background: #ffffff;
    margin: 0 32px 24px;

    .GroupVerification_template_top {
      height: 92px;
      padding: 0 32px;
      border-bottom: 1px solid #e5e5e5;
      .GroupVerification_template_left {
        display: flex;
        align-items: center;
        .GroupVerification_template_count {
          font-size: 28px;
          font-weight: 600;
          color: #333333;
          line-height: 32px;
        }
        .GroupVerification_template_num {
          font-size: 28px;
          margin-left: 8px;
          font-weight: 600;
          color: #ef476f;
          line-height: 32px;
        }
      }
      .GroupVerification_template_right {
        display: flex;
        align-items: center;
        .GroupVerification_template_status {
          font-size: 24px;
          font-family: PingFangSC-Regular, PingFang SC;
          font-weight: 400;
          color: #07c0c2;
          line-height: 24px;
        }
      }
    }
  }
  .GroupVerification_template_checkBox {
    width: 30px;
    height: 30px;
  }
  .GroupVerification_template_check {
    background: url(https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/relay/icon_19.png)
      no-repeat;
    background-size: 100% 100%;
  }
  .GroupVerification_template_noCheck {
    background: url(https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/relay/icon_20.png)
      no-repeat;
    background-size: 100% 100%;
  }
  .GroupVerification_template_content {
    padding: 32px;
    .GroupVerification_content_top {
      height: 50px;
      display: flex;
      align-items: center;
      .GroupVerification_content_profile {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
      .GroupVerification_content_username {
        font-size: 28px;
        font-weight: 600;
        color: #333333;
        line-height: 32px;
        margin-left: 16px;
        max-width: 480px;
      }
    }
    .GroupVerification_content_goodsBox {
      margin: 32px 0 0;
      display: flex;
      align-items: center;
      .GroupVerification_content_goodsleft {
        width: 496px;
        height: 36px;
        font-size: 28px;
        font-weight: 600;
        color: #333333;
        line-height: 36px;
      }
      .GroupVerification_content_goodsright {
        font-size: 24px;
        font-weight: 400;
        color: #999999;
        line-height: 24px;
      }
    }
    .GroupVerification_content_liner {
      width: 622px;
      height: 2px;
      background: #e5e5e5;
      margin: 32px auto 0;
    }
    .GroupVerification_content_shop {
      margin: 32px 0 0;
      .GroupVerification_shop_top {
        height: 36px;
        display: flex;
        align-items: center;
        width: 100%;
        .GroupVerification_shop_name {
          max-width: 404px;
          font-size: 24px;
          font-weight: 400;
          color: #333333;
          margin-left: 12px;
        }
        .GroupVerification_shop_tags {
          margin-left: auto;
          font-size: 24px;
          font-weight: 400;
          color: #999999;
        }
      }
      .GroupVerification_shop_collection {
        margin-top: 18px;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 42px;
        height: 56px;
        .GroupVerification_shop_collectCount {
          font-size: 24px;
          font-weight: 400;
          color: #333333;
        }
      }
      .GroupVerification_buyCard_collection {
        display: flex;
        align-items: center;
      }
      .GroupVerification_buyCard_icon {
        width: 56px;
        height: 56px;
      }
      .GroupVerification_buyCard_remove {
        background: url("https://wechat-config.dakale.net/miniprogram/relay/icon_8.png")
          no-repeat;
        background-size: 100% 100%;
      }
      .GroupVerification_buyCard_add {
        background: url("https://wechat-config.dakale.net/miniprogram/relay/icon_9.png")
          no-repeat;
        background-size: 100% 100%;
      }
      .GroupVerification_buyCard_text {
        width: 60px;
        height: 56px;
        font-size: 28px;
        font-weight: 400;
        color: #333333;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .GroupVerification_shop_liner {
        margin-left: 44px;
        margin-top: 32px;
        width: 580px;
        height: 2px;
        background: #e5e5e5;
      }
      .GroupVerification_shop_goods {
        margin-left: 44px;
        margin-top: 32px;
        font-size: 24px;
        height: 36px;
        color: #999999;
      }
    }
    .GroupVerification_content_price {
      padding: 0px 0px 0px 44px;
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      background: #ffffff;
      .GroupVerification_content_time {
        font-size: 20px;
        font-weight: 400;
        color: #999999;
      }
    }
    .GroupVerification_order_cardUser {
      margin: 32px 0px 0;
      background: #fbfbfb;
      border-radius: 8px;
      .GroupVerification_cardUser_title {
        height: 96px;
        border-bottom: 1px solid #e5e5e5;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        text-indent: 32px;
      }
      .GroupVerification_cardUser_content {
        padding: 32px 32px 28px;
      }
      .GroupVerification_cardUser_meAddress {
        display: flex;
        align-items: center;
        height: 36px;
      }
      .GroupVerification_cardUser_meAddress::before {
        display: block;
        content: "";
        width: 36px;
        height: 36px;
        background: url("https://wechat-config.dakale.net/miniprogram/relay/icon_26.png")
          no-repeat;
        background-size: 100% 100%;
        margin-right: 24px;
      }
      .GroupVerification_cardUser_meAddressMax {
        font-size: 28px;
        font-weight: 400;
        color: #333333;
        line-height: 28px;
      }
      .GroupVerification_cardUser_teartext {
        margin: 24px 0 0 60px;
        font-size: 24px;
        font-weight: 400;
        color: #999999;
        line-height: 36px;
      }
      .GroupVerification_cardUser_teartext::after {
        display: inline-block;
        content: "";
        width: 24px;
        height: 24px;
        background: url("https://wechat-config.dakale.net/miniprogram/relay/icon_24.png")
          no-repeat;
        background-size: 100% 100%;
        margin-left: 8px;
        vertical-align: text-top;
      }
      .GroupVerification_cardUser_userName {
        margin: 12px 0 0 60px;
        font-size: 24px;
        font-weight: 400;
        color: #333333;
        line-height: 36px;
      }
      .GroupVerification_cardUser_userName::after {
        display: inline-block;
        content: "";
        width: 24px;
        height: 24px;
        background: url("https://wechat-config.dakale.net/miniprogram/relay/icon_25.png")
          no-repeat;
        background-size: 100% 100%;
        margin-left: 8px;
        vertical-align: text-top;
      }
      .GroupVerification_cardUser_userDetails {
        margin-top: 32px;
        display: flex;
        align-items: center;
        height: 36px;
        font-size: 24px;
        font-weight: 400;
      }
      .GroupVerification_cardUser_userDetails::before {
        display: block;
        content: "";
        width: 36px;
        height: 36px;
        background: url("https://wechat-config.dakale.net/miniprogram/relay/icon_27.png")
          no-repeat;
        background-size: 100% 100%;
        margin-right: 24px;
      }
      .GroupVerification_cardUser_userAddress {
        margin: 12px 0 0 60px;
        font-size: 24px;
        font-weight: 400;
        color: #999999;
        display: flex;
        align-items: center;
        height: 36px;
      }
      .GroupVerification_cardUser_remark {
        display: flex;
        align-items: center;
        height: 36px;
        margin-top: 32px;
      }
      .GroupVerification_cardUser_remark::before {
        display: block;
        content: "";
        width: 36px;
        height: 36px;
        background: url("https://wechat-config.dakale.net/miniprogram/relay/icon_28.png")
          no-repeat;
        background-size: 100% 100%;
        margin-right: 24px;
      }
      .GroupVerification_cardUser_remakeMax {
        max-width: 420px;
        font-size: 24px;
        font-weight: 400;
      }
    }
  }
  .GroupVerification_init_btn {
    width: 100%;
    height: 128px;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #ffffff;
    .GroupVerification_init_vtnView {
      width: 688px;
      height: 80px;
      background: #07c0c2;
      border-radius: 8px;
      font-size: 32px;
      font-weight: 400;
      color: #ffffff;
      position: absolute;
      right: 32px;
      top: 24px;
    }
  }
  .GroupVerification_init_toast {
    width: 420px;
    height: 165px;
    background: #f5f5f5;
    border-radius: 3px;
    margin: 0 auto;
    .GroupVerification_init_toastTop {
      display: flex;
      align-items: center;
      padding-left: 24px;
      height: 96px;
      .GroupVerification_init_toastTopCount {
        font-size: 20px;
        font-weight: 400;
        color: #999999;
      }
      .GroupVerification_init_toastTopProfile {
        margin-left: 20px;
        width: 48px;
        height: 48px;
        border-radius: 4px;
      }
      .GroupVerification_init_toastTopName {
        margin-left: 12px;
        max-width: 260px;
      }
    }
    .GroupVerification_init_contents {
      padding-left: 56px;
      padding-right: 24px;
      border-top: 1px solid #e5e5e5;
      height: 68px;
      display: flex;
      align-items: center;
    }
    .GroupVerification_init_contentsName {
      width: 299px;
      font-size: 20px;
      font-weight: 400;
      color: #333333;
      text-align: left;
    }
    .GroupVerification_init_contentsgoodCount {
      margin-left: auto;
      width: 21px;
      font-size: 20px;
      font-weight: 400;
      color: #999999;
    }
  }
  .GroupVerification_cardUser_meAddressMax::after {
    display: inline-block;
    content: "";
    width: 24px;
    height: 24px;
    background: url(https://wechat-config.dakale.net/miniprogram/relay/icon_25.png)
      no-repeat;
    background-size: 100% 100%;
    margin-left: 12px;
    vertical-align: bottom;
  }
  .GroupVerification_cardUser_userAddress::after {
    width: 56px;
    height: 24px;
    border-radius: 4px;
    opacity: 0.4;
    border: 1px solid #07c0c2;
    display: inline-block;
    content: "复制";
    vertical-align: bottom;
    font-size: 20px;
    font-weight: 400;
    color: #07c0c2;
    line-height: 24px;
    text-align: center;
    margin-left: 12px;
  }
}
