@import "@/assets/css/global.scss";

.prize_detail {
  padding: 24px;
  .cash_deatil {
    margin-top: 16px;
    padding: 32px;
    background: #ffffff;
    border-radius: 8px;
    .cash_deatil_tile {
      font-size: 32px;
      font-weight: 600;
      color: #333333;
      margin-bottom: 20px;
    }
    .cash_deatil_content {
      font-size: 28px;
      font-weight: 400;
      color: #333333;
      line-height: 36px;
      text-align: justify;
    }
  }
}
