page {
  width: 100%;
  height: 100%;
  line-height: 1;
  overflow: hidden;
}
.home_box {
  width: 100%;
  height: 100%;
  position: relative;
  .video_liner {
    background: rgba(255, 255, 255, 0.6);
    height: 6px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .home_Waterfall_box {
    position: absolute;
    background: white;
    left: 0;
    right: 0;
    bottom: 0;
    top: 140px;
    overflow-y: auto;
  }
  .home_wait {
    position: fixed;
    left: 0;
    right: 0;
    top: 66px;
    display: flex;
    align-items: center;
    z-index: 1000;
    .backStyle_box {
      width: 100px;
      height: 100px;
      position: absolute;
      left: 0;
    }
    .backStyle {
      width: 21px;
      height: 38px;
      position: absolute;
      left: 32px;
      z-index: 10086;
    }
  }
  .home_bottom {
    position: absolute;
    bottom: 42px;
    left: 32px;
    right: 32px;
    z-index: 10;
    .home_active_box {
      margin-top: 24px;
      width: 468px;
      height: 96px;
      background: rgba(0, 0, 0, 0.3);
      border-radius: 8px;
      display: flex;
      align-items: center;
      .home_active_image {
        width: 72px;
        height: 72px;
        border-radius: 4px;
        margin-left: 12px;
      }
      .home_active_details {
        height: 72px;
        margin-left: 12px;
        .home_active_font1 {
          max-width: 204px;
          font-size: 28px;
          color: #ffffff;
          line-height: 28px;
          padding-top: 4px;
        }
        .home_active_font2 {
          padding-top: 8px;
          max-width: 204px;
          line-height: 28px;
          color: rgba(255, 255, 255, 0.8);
          font-size: 22px;
        }
      }
      .home_active_btn {
        position: absolute;
        right: 16px;
        top: 39px;
        width: 120px;
        height: 48px;
        background: #ef476f;
        border-radius: 4px;
        text-align: center;
        line-height: 48px;
        color: #ffffff;
        font-size: 24px;
      }
    }
  }

  .home_barrage {
    width: 50%;
    height: 116px;
    color: rgba(255, 255, 255, 1);
    position: relative;
    .home_barrage_box {
      height: 52px !important;
      background: #000000;
      border-radius: 26px;
      opacity: 0.2;
      display: flex;
      align-items: center;
      .home_barrage_useProfile {
        width: 48px;
        height: 48px;
        border: 2px solid #ffffff;
        border-radius: 50%;
        box-sizing: border-box;
        display: inline-block;
      }
    }
    .home_barrage_font {
      padding: 0 24px 0 16px;
      font-size: 24px;
      line-height: 52px;
      color: #ffffff;
      display: inline-block;
    }
    .home_barrage_count {
      background: rgba(0, 0, 0, 0.4);
      opacity: 1;
    }
    .home-barrage_layer {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 1002;
      background: transparent;
    }
  }
  .home_barrage_item {
    height: 62px;
    display: flex;
    align-items: center;
  }
  .home_bottom_decBox {
    margin-top: 24px;
    min-height: 42px;
    font-size: 28px;
    color: #ffffff;
    line-height: 42px;
    width: 686px;
    max-height: 168px;
  }
  .home_bottom_auto {
    overflow-y: auto;
    max-height: 336px;
  }
  .home_desc_coll {
    margin-top: 12px;
    font-size: 24px;
    color: #ffffff;
  }
  .home_desc_city {
    color: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    .home_city_icon {
      width: 24px;
      height: 24px;
      display: inline-block;
      content: "";
      background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon503.png")
        no-repeat;
      background-size: 100% 100%;
      margin-right: 4px;
      vertical-align: middle;
    }
    .home_desc_text {
      max-width: 538px;
    }
  }

  .home_video_box {
    width: 100%;
    height: 100%;
    .home_stem_layer {
      position: absolute;
      right: 24px;
      width: 96px;
      top: 50%;
      z-index: 100;
      .home_stem_userProfile {
        width: 88px;
        height: 88px;
        border: 2px solid #ffffff;
        position: relative;
        .home_stem_fallStatus {
          position: absolute;
          width: 32px;
          height: 32px;
          bottom: -16px;
          left: 0;
          right: 0;
          margin: 0 auto;
        }
        .home_stem_status1 {
          background: url(https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon456.png)
            no-repeat;
          background-size: 100% 100%;
        }
      }
      .collected_box {
        width: 72px;
        height: 72px;
        margin: 32px auto 0;
      }
      .collected_font {
        text-align: center;
        font-size: 24px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #ffffff;
        line-height: 33px;
      }
      .home_share_wechat {
        width: 72px;
        height: 72px;
        margin: 32px auto 0;
        background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon457.png")
          no-repeat;
        background-size: 100% 100%;
      }
      button::after {
        border: none;
      }
    }
  }
}
.home_black {
  background: black;
  .home_order_box {
    width: 100%;
    height: 100%;
    .home_order_image {
      width: 300px;
      height: 300px;
    }
    .home_order_font {
      margin-top: 32px;
      text-align: center;
      font-size: 28px;
      font-weight: 400;
      color: rgba(153, 153, 153, 1);
    }
  }
}
.player_no {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -56px;
  margin-left: -62px;
  z-index: 100;
  width: 111px;
  height: 124px;
  background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon510.png")
    no-repeat;
  background-size: 100% 100%;
}
