page{
  width: 100%;
  height: 100%;
}
.tipView_box{
  width: 100%;
  min-height: 100%;
  background: #FFFFFF;
  line-height: 1;
  .tipView_banner{
    width: 750px;
    height: 400px;
    text-align: center;
    .tipView_opName{
      padding-top: 146px;
      font-size: 42px;
      color: white;
      max-width: 686px;
      margin: 0 auto;
    }
    .tipView_opDec{
      padding-top: 16px;
      font-size: 24px;
      color: #FFFFFF;
      max-width: 686px;
      margin: 0 auto;
      color: rgba(255, 255, 255, 0.8);
    }
    .tipView_num{
      padding-top: 116px;
      text-align: center;
      font-size: 24px;
      color: #FFFFFF;
      line-height: 24px;
    }
  }
  .view_padding{
    padding: 32px 0;
  }
}
