page {
  width: 100%;
  height: 100%;
  background: #f5f5f5;
}
.Skeleton_user {
  width: 750px;
  background: #ffffff;
  .Skeleton_toast {
    margin: 0 32px 0 120px;
  }
  .Skeleton_auto {
    margin: 0 32px 0;
  }
  .Skeleton_user_liner {
    height: 16px;
    background: #f5f5f5;
  }
}
.page_user_logo {
  height: 168px;
  .page_user_dakalelogo {
    width: 306px;
    height: 42px;
    background: url(https://wechat-config.dakale.net/miniprogram/image/new_user15.png)
      no-repeat;
    background-size: 100% 100%;
  }
}
.page_userBox {
  width: 750px;
  background: #f5f5f5;
  line-height: 1;

  .user_card_nextNever {
    width: 686px;
    height: 80px;
    background: linear-gradient(
      229deg,
      rgba(16, 133, 136, 0.1) 0%,
      rgba(23, 152, 155, 0.1) 100%
    );
    box-shadow: 0px 5px 15px 0px rgba(0, 61, 67, 0.04);
    display: flex;
    align-items: center;
    position: relative;
    .user_card_nextfont {
      font-size: 24px;
      font-weight: 400;
      color: #07c0c2;
      line-height: 32px;
      text-shadow: 0px 5px 15px rgba(0, 61, 67, 0.04);
      margin-left: 24px;
    }
    .user_card_nextBtn {
      position: absolute;
      width: 226px;
      height: 106px;
      right: 0;
      top: -12px;
      background: url(https://wechat-config.dakale.net/miniprogram/image/icon737.png)
        no-repeat;
      background-size: 100% 100%;
    }
  }
  .close_box {
    width: 48px;
    height: 48px;
    margin-right: 8px;
  }
  .reloadBottom {
    height: 80px;
    background: #ffffff;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 20;
    padding: 0 32px;
  }
  .reloadBottom_box {
    height: 52px;
    width: 100%;
  }
  .reloadBottom_left {
    font-size: 28px;
    font-weight: 400;
    color: #333333;
    display: flex;
    align-items: center;
  }
  .reloadBottom_right {
    width: 138px;
    height: 52px;
    background: #108588;
    border-radius: 26px;
    font-size: 28px;
    font-weight: 400;
    color: #ffffff;
  }
  .rules_box {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    .rules_prompts {
      width: 650px;
      height: 960px;
      background: #ffffff;
      border-radius: 20px;
      .rules_title {
        height: 92px;
        font-size: 32px;
        font-weight: 600;
        color: #333333;
        border-bottom: 1px solid #e5e5e5;
        line-height: 92px;
        text-align: center;
      }
      .rules_context {
        width: 588px;
        height: 680px;
        font-size: 28px;
        font-weight: 400;
        color: #666666;
        line-height: 42px;
        text-align: left;
        margin: 32px auto;
      }
      .rules_btn {
        margin-top: 40px;
        padding: 0 40px;
        display: flex;
        height: 70px;
        align-items: center;
        justify-content: center;
        .rules_btn_out {
          width: 520px;
          height: 70px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 8px;
          font-size: 28px;
          font-weight: 600;
          color: #ffffff;
          background: #07c0c2;
        }
        .rules_btn_opcity {
          opacity: 0.4;
        }
      }
    }
    .rules_success_box {
      width: 601px;
      height: 1006px;
      background: url(https://wechat-config.dakale.net/miniprogram/image/icon738.png)
        no-repeat;
      background-size: 100% 100%;
      position: relative;
    }
    .user_toast_close {
      width: 48px;
      height: 48px;
      margin: 40px auto 0;
      background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/active/8.8/active8_8_17.png")
        no-repeat;
      background-size: 100% 100%;
    }
    .user_toast_layers {
      width: 540px;
      height: 632px;
      position: relative;
    }
    .user_toast_image {
      width: 100%;
      height: 100%;
    }
    .user_toast_btnInfo {
      width: 460px;
      height: 70px;
      background: #07c0c2;
      border-radius: 8px;
      font-size: 32px;
      font-weight: 400;
      color: #ffffff;
      position: absolute;
      bottom: 40px;
      left: 40px;
    }
    .rules_success_btn {
      position: absolute;
      bottom: 37px;
      left: 83px;
      right: 82px;
      width: 436px;
      height: 80px;
      background: #f0597d;
      border-radius: 41px;
      border: 2px solid #000000;
      font-size: 32px;
      font-weight: 600;
      color: #ffffff;
    }
  }
  .page_user_toast1 {
    padding: 32px 52px;
  }
  .user_top_newBox {
    background: white;
    padding: 32px 32px 0;
    position: relative;
    line-height: 1;
  }
  .user_other_box {
    position: absolute;
    bottom: 4px;
    right: 0;
  }
  .user_goLink {
    width: 168px;
    height: 48px;
    background: #108588;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .user_scan {
    width: 48px;
    height: 48px;
    background: url(https://wechat-config.dakale.net/miniprogram/image/icon614.png)
      no-repeat;
    background-size: 100% 100%;
    position: absolute;
    right: 32px;
    bottom: 32px;
  }
  .user_coupon {
    position: absolute;
    width: 48px;
    height: 48px;
    background: url(https://wechat-config.dakale.net/miniprogram/image/icon690.png)
      no-repeat;
    background-size: 100% 100%;
    right: 112px;
    bottom: 32px;
  }
  .user_coupon::after {
    position: absolute;
    width: 14px;
    height: 14px;
    background: #ef476f;
    display: block;
    content: "";
    right: -7px;
    border-radius: 50%;
  }
  .user_top_box {
    display: flex;
    position: relative;
    .user_top_userProfile {
      width: 120px;
      height: 120px;
      border-radius: 50%;
    }
    .user_top_usercontent {
      height: 120px;
      margin-left: 32px;
      .user_top_username {
        padding-top: 8px;
        font-size: 40px;
        font-weight: 600;
        color: #333333;
        line-height: 56px;
        position: relative;
        display: flex;
        align-items: center;
        .user_max_width {
          max-width: 360px;
        }
        .user_top_Icon {
          width: 148px;
          height: 36px;
          border-radius: 100px;
          line-height: 36rpx;
          margin-left: 24px;
          display: flex;
          align-items: center;
          font-size: 24px;
          text-indent: 32px;
          position: relative;
          .user_icons_box {
            position: absolute;
            left: -14px;
            top: -2px;
            width: 52px;
            height: 40px;
          }
        }
        .user_color1 {
          background: #e2f1f1;
          color: #108588;
        }
        .user_color2 {
          background: rgba(255, 244, 222, 1);
          color: rgba(231, 167, 37, 1);
        }
      }
      .user_top_beanName {
        padding-top: 8px;
        width: 380px;
        font-size: 28px;
        font-weight: 400;
        color: #999999;
        line-height: 40px;
      }
    }
  }
  .user_tabbarBox {
    margin: 64px 32px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .user_tabbar_one {
      text-align: center;
      font-size: 24px;
      font-weight: 400;
      color: #333333;
    }
    .user_tabbar_one::before {
      width: 72px;
      height: 72px;
      background: url(https://wechat-config.dakale.net/miniprogram/image/new_user3.png)
        no-repeat;
      background-size: 100% 100%;
      display: block;
      margin: 0 auto;
      content: "";
      margin-bottom: 8px;
    }
    .user_tabbar_two {
      text-align: center;
      font-size: 24px;
      font-weight: 400;
      color: #333333;
    }
    .user_tabbar_two::before {
      width: 72px;
      height: 72px;
      background: url(https://wechat-config.dakale.net/miniprogram/image/new_user2.png)
        no-repeat;
      background-size: 100% 100%;
      display: block;
      margin: 0 auto;
      content: "";
      margin-bottom: 8px;
    }
    .user_tabbar_three {
      text-align: center;
      font-size: 24px;
      font-weight: 400;
      color: #333333;
    }
    .user_tabbar_three::before {
      width: 72px;
      height: 72px;
      background: url(https://wechat-config.dakale.net/miniprogram/image/new_user1.png)
        no-repeat;
      background-size: 100% 100%;
      display: block;
      margin: 0 auto;
      content: "";
      margin-bottom: 8px;
    }
    .user_tabbar_four {
      text-align: center;
      font-size: 24px;
      font-weight: 400;
      color: #333333;
    }
    .user_tabbar_four::before {
      width: 72px;
      height: 72px;
      background: url(https://wechat-config.dakale.net/miniprogram/image/new_user4.png)
        no-repeat;
      background-size: 100% 100%;
      display: block;
      margin: 0 auto;
      content: "";
      margin-bottom: 8px;
    }
  }
  .user_topGoods {
    margin: 40px auto 0;
    padding: 32px 40px;

    background: #ffffff;
    box-shadow: 0px 0px 10px 0px rgba(20, 144, 148, 0.1);
    border-radius: 8px;
  }
  .user_top_title {
    font-size: 36px;
    font-weight: 600;
    color: #333333;
  }
  .user_top_goods::before {
    display: block;
    content: "";
    position: absolute;
    right: 164px;
    width: 2px;
    height: 79px;
    background: #cccccc;
    top: 48px;
  }
  .user_top_goods {
    padding: 32px 28px 0;
    display: flex;
    align-items: flex-start;
    position: relative;

    .user_goods_one {
      text-align: center;
      font-size: 24px;
      font-weight: 400;
      color: #333333;
      margin-right: 56px;
    }
    .user_goods_one::before {
      width: 72px;
      height: 72px;
      background: url(https://wechat-config.dakale.net/miniprogram/image/new_user5.png)
        no-repeat;
      background-size: 100% 100%;
      display: block;
      margin: 0 auto;
      content: "";
      margin-bottom: 8px;
    }
    .user_goods_two {
      text-align: center;
      font-size: 24px;
      font-weight: 400;
      color: #333333;
      margin-right: 56px;
    }
    .user_goods_two::before {
      width: 72px;
      height: 72px;
      background: url(https://wechat-config.dakale.net/miniprogram/image/new_user6.png)
        no-repeat;
      background-size: 100% 100%;
      display: block;
      margin: 0 auto;
      content: "";
      margin-bottom: 8px;
    }
    .user_goods_three {
      text-align: center;
      font-size: 24px;
      font-weight: 400;
      color: #333333;
      margin-right: 67px;
    }
    .user_goods_three::before {
      width: 72px;
      height: 72px;
      background: url(https://wechat-config.dakale.net/miniprogram/image/new_user7.png)
        no-repeat;
      background-size: 100% 100%;
      display: block;
      margin: 0 auto;
      content: "";
      margin-bottom: 8px;
    }
    .user_goods_four {
      text-align: center;
      font-size: 24px;
      font-weight: 400;
      color: #333333;
      margin-left: auto;
    }
    .user_goods_four::before {
      width: 72px;
      height: 72px;
      background: url(https://wechat-config.dakale.net/miniprogram/image/new_user5.png)
        no-repeat;
      background-size: 100% 100%;
      display: block;
      margin: 0 auto;
      content: "";
      margin-bottom: 8px;
    }
  }
}
