page {
  width: 100%;
  height: 100%;
  background: #f5f5f5;
}
.user_centerBar_pt {
  width: 702px;
  height: 140px;
  background: url(https://wechat-config.dakale.net/miniprogram/image/icon957.png)
    no-repeat;
  background-size: 100% 100%;
  margin: 0 auto;
}
.page_user_liner24 {
  height: 24px;
  background: #f5f5f5;
}
.Skeleton_user {
  width: 750px;
  background: #ffffff;
  .Skeleton_toast {
    margin: 0 32px 0 120px;
  }
  .Skeleton_auto {
    margin: 0 32px 0;
  }
  .Skeleton_user_liner {
    height: 16px;
    background: #f5f5f5;
  }
}
.page_user_logo {
  height: 168px;
  .page_user_dakalelogo {
    width: 306px;
    height: 42px;
    background: url(https://wechat-config.dakale.net/miniprogram/image/new_user15.png)
      no-repeat;
    background-size: 100% 100%;
  }
}
.page_userBox {
  width: 750px;
  background: #f5f5f5;
  line-height: 1;
  .user_other_box {
    position: absolute;
    bottom: 4px;
    right: 0;
    .user_goLink {
      width: 168px;
      height: 48px;
      background: #108588;
      border-radius: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .user_top_newBox {
    background: white;
    padding: 32px 32px 40px;
    position: relative;
    line-height: 1;
    .user_top_enterGroup {
      margin-top: 40px;
      height: 88px;
      background-image: url(https://wechat-config.dakale.net/miniprogram/image/userCenter_enterGroup.png);
      background-size: 100% 100%;
    }
  }
  .page_user_liner {
    height: 16px;
    background: #f5f5f5;
  }
  .user_top_box {
    display: flex;
    position: relative;
    .user_top_userProfile {
      width: 120px;
      height: 120px;
      border-radius: 50%;
    }
    .user_top_usercontent {
      height: 120px;
      margin-left: 32px;
      .user_top_username {
        padding-top: 8px;
        font-size: 40px;
        font-weight: 600;
        color: #333333;
        line-height: 56px;
        position: relative;
        display: flex;
        align-items: center;
        .user_max_width {
          max-width: 360px;
        }
        .user_top_Icon {
          width: 148px;
          height: 36px;
          border-radius: 100px;
          line-height: 36rpx;
          margin-left: 24px;
          display: flex;
          align-items: center;
          font-size: 24px;
          text-indent: 32px;
          position: relative;
          .user_icons_box {
            position: absolute;
            left: -14px;
            top: -2px;
            width: 52px;
            height: 40px;
          }
        }
        .user_color1 {
          background: #e2f1f1;
          color: #108588;
        }
        .user_color2 {
          background: rgba(255, 244, 222, 1);
          color: rgba(231, 167, 37, 1);
        }
      }
      .user_top_beanName {
        padding-top: 8px;
        width: 380px;
        font-size: 28px;
        font-weight: 400;
        color: #999999;
        line-height: 40px;
      }
    }
  }
}
