page {
  background-color: #333333;
}
.rechargeMember_box {
  View {
    box-sizing: border-box;
  }
  .rechargeMember_head {
    position: relative;
    height: 210px;
    background-image: url(https://wechat-config.dakale.net/miniprogram/image/rechargeMember_head.png);
    background-size: 100% 100%;
    .rechargeMember_i_share {
      position: absolute;
      width: 48px;
      height: 48px;
      top: 76px;
      right: 24px;
      background-image: url(https://wechat-config.dakale.net/miniprogram/image/rechargeMember_share.png);
      background-size: 100% 100%;
    }
  }
  .rechargeMember_group {
    .rechargeMember_cell {
      .rechargeMember_cell_head {
        position: relative;
        height: 168px;
        .rechargeMember_cell_rule {
          position: absolute;
          padding: 5px 10px;
          border-radius: 20px;
          border: 1px solid #8c8c8c;
          font-size: 20px;
          color: #8c8c8c;
          top: 54px;
          right: 24px;
        }
      }
      .rechargeMember_cell_list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 40px;
        .rechargeMember_list_cell {
          width: 325px;
          height: 140px;
          background: #ffffff;
          border-radius: 16px;
          margin-bottom: 20px;
          padding: 0 32px;
          display: flex;
          align-items: center;
          .rechargeMember_cell_img {
            width: 100px;
            height: 100px;
            background-size: 100% 100%;
          }
          .rechargeMember_cell_name {
            font-size: 28px;
            font-weight: 600;
            color: #333333;
            margin-left: 24px;
            flex: 1;
          }
        }
      }
    }
  }
}
