.sub-search-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  z-index: 10000;
  position: relative;
  .sub-search-searchView {
    width: 608px;
    padding-left: 80px;
    height: 64px;
    background: #f5f5f5;
    border-radius: 40px;
    background: #f5f5f5
      url(https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon336.png)
      no-repeat;
    background-size: 36px 36px;
    background-position: 32px 14px;
    line-height: 64px;
    font-size: 28px;
    margin: 24px auto 0;
  }
}
