.page_share_download{
  width: 100%;
  height: 110px;
  background:rgba(0,0,0,0.6);
  position: absolute;
  z-index: 100;
  top: 0;
}
.page_share_layer{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  color: #ffffff;
  letter-spacing: 1px;
  overflow-y: hidden;
  line-height: 1;
}
.page_share_title{
  padding: 40px 30px 0 30px;
  display: flex;
  justify-content:space-between;
  position: relative;
  z-index: 100;
}
.page_share_left{
  padding: 15px 21px;
  background:rgba(255,255,255,0.3);
  border-radius:50px;
  font-size: 20px;
}
.page_bold{
  font-weight: bold;
}
.page_liner{
  display: inline-block;
  width:2px;
  height:17px;
  background:rgba(165,165,165,1);
  vertical-align: middle;
  margin-left: 6px;
  margin-top: -4px;
}
.page_close{
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-left: 11px;
  background: url('https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/close.png') no-repeat;
  background-size: 100% 100%;
  vertical-align: middle;
  margin-top: -4px;
}
.page_share_right{
  width: 50px;
  height: 50px;
  background: url(https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/shengyin.png) no-repeat;
  background-size: 100% 100%;
}
.page_share_city{
  position: absolute;
  bottom:339px;
  padding: 4px 14px;
  background:rgba(255,255,255,0.2);
  border-radius:5px;
  font-size: 18px;
  font-family:PingFang SC;
  font-weight:400;
  color:rgba(230,230,230,1);
  left: 29px;
}
.page_share_shop{
  position: absolute;
  bottom: 249px;
  background: rgba(255,255,255,0.2);
  border-radius: 10px;
  left: 29px;
  z-index: 100;
  padding-right: 10px;
  padding-bottom: 10px;
}
.page_shareShop_top{
  padding-top: 10px;
  font-family:PingFang SC;
  font-weight:600;
  font-size: 0;
  color:rgba(255,255,255,1);
}
.page_shareShop_name{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size:24px;
  display: inline-block;
}
.page_shareShop_name:before{
  width: 19px ;
  height:23px ;
  background: url(https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/allocation.png) no-repeat;
  background-size: 100% 100%;
  margin: 0 7px 0 11px;
  vertical-align: middle;
  display: inline-block;
  content: '';
}
.lineColor{
  background: rgba(255, 255, 255, 1);
  margin: 5px 10px 0 10px;
  vertical-align: top;
  display: inline-block;

}
.page_line_city{
  font-size:20px;
  font-family:PingFang SC;
  font-weight:400;
  color:rgba(165,165,165,1);
  vertical-align: top;
  display: inline-block;

}
.page_share_people{
  padding-left: 36px;
}
.page_share_frequency{
  font-size: 20px;
  font-family:PingFang SC;
  font-weight:400;
  color:rgba(165,165,165,1);
}

.page_share_tag{
  width:153px;
  height:25px;
  background:rgba(255,255,255,0.3);
  line-height: 25px;
  border-radius:13px;
  font-size:18px;
  font-family:PingFang SC;
  font-weight:400;
  color:rgba(255,255,255,1);
  margin-left: 9px;
  padding: 0 14px;
}
.page_share_user{
  font-size: 0;
  display: flex;
}
.page_share_userprofile{
  width:60px;
  height:60px;
  border-radius:50%;
  background: #FFFFFF;
  display: inline-block;
}
.page_share_username{
  font-size:26px;
  font-family:PingFang SC;
  font-weight:400;
  color:rgba(255,255,255,1);
  vertical-align: middle;
  height: 60px;
  line-height: 60px;
  display: inline-block;
  margin-left: 16px;
  display: flex;
  align-items: center;
}
.page_share_username:after{
  width: 34px;
  height: 29px;
  background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/shopIcon.png") no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  content: '';
  vertical-align: middle;
  margin-left: 10px;
}
.page_share_userdata{
  position: absolute;
  bottom: 169px;
  height: 60px;
  left: 30px;
  right: 45px;
  z-index: 100;
}
.page_share_details{
  font-size:26px;
  font-family:PingFang SC;
  font-weight:600;
  color:rgba(255,255,255,1);
  line-height:39px;
  vertical-align: top;
  padding-top: 8px;
  padding-left: 78px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.prism-progress{
  position: absolute !important;
  bottom: 0.09px !important;
  width: 100% !important;
  height: 0.04px !important;

}
.prism-progress-played{
  background: rgba(254, 156, 174, 1) !important;
}
.prism-progress-loaded{
  background: rgba(255, 255, 255, 1) !important;
}
.prism-big-play-btn{
  position: relative;
  top:50%;
  left: 50% !important;
  transform: translate(-50%, -50%);
}
.outter{
  background: url(https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/play.png) no-repeat ;
  background-size: 100% 100%;
}
/*page_share_bean start*/
.page_video{
  position: absolute;
  background: black;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video_box{
  width: 100%;
}
.bean_toast{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background:rgba(0,0,0,0.7);
  justify-content: center;
  align-items: center;
  padding-top: 251px;
  .bean_toastIcon{
    width: 589px;
    height: 700px;
    margin: 0 auto;
    background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/icon95.png") no-repeat top/cover;
    position: relative;
  }
  .bean_box{
    position: absolute;
    line-height: 1;
    top: 229px;
    width:400px;
    height:450px;
    background:rgba(255,255,255,1);
    border-radius:40px;
    left: 93px;
    z-index: -1;
    text-align: center;
    .bean_title{
      font-size:28px;
      font-family:PingFang SC;
      font-weight:400;
      color:rgba(51,51,51,1);
      padding-top: 131px;
    }
    .bean_num{
      padding-top:24px;
      font-size:40px;
      font-family:PingFang SC;
      font-weight:400;
      color:rgba(255,78,111,1);
      .bean_getNum{
        font-size:60px;
      }
    }
    .bean_btn{
      width:240px;
      height:80px;
      background:rgba(255,91,117,1);
      border-radius:40px;
      margin: 0 auto;
      margin-top: 90px;
      font-size:32px;
      font-family:PingFang SC;
      font-weight:600;
      color:rgba(255,255,255,1);
      line-height: 80px;
      position: relative;
    }
  }
  .bean_prompt{
    width: 550px;
    height: 251px;
    background: #FFFFFF;
    border-radius:20px;
    text-align: center;
    .prompt_title{
      padding-top: 29px;
      font-size:26px;
      font-family:PingFang SC;
      font-weight:600;
      color:rgba(51,51,51,1)
    }
    .prompt_context{
      height: 119px;
      line-height: 119px;
      font-size:30px;
      font-family:PingFang SC;
      font-weight:400;
      color:rgba(51,51,51,1);
    }
    .prompt_btn{
      height: 86px;
      border-top: 1px solid rgba(230, 230, 230, 1);
      display: flex;
      line-height: 86px;
      .prompt_btn_out{
        flex: 1;
        flex-grow: 1;
        font-size:28px;
        font-family:PingFang SC;
        font-weight:400;
        color:rgba(153,153,153,1);
        border-right:1px solid rgba(230, 230, 230, 1); ;

      }
      .prompt_btn_now{
        flex: 1;
        flex-grow: 1;
        font-size:28px;
        font-family:PingFang SC;
        font-weight:600;
        color:rgba(253,150,169,1);
      }
    }
  }
}
.prompt_box{
  display: flex;
  padding-top: 0;
}
.Merchant_getBean{
  width: 20px;
  height: 18px;
  display: inline-block;
  background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/icon98.png") no-repeat;
  background-size: 100% 100%;
  vertical-align: middle;
  margin-left: 10px;
}
.page_share_back{
  width: 50px;
  height: 50px;
  background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/icon99.png") no-repeat;
  background-size: 100% 100%;
  position: relative;
  z-index: 100;
}
.page_share_downloadBox{
  padding:15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page_share_profile{
  width: 80px;
  height: 80px;
  border-radius:50%;
  background: #A5A5A5;
}
.page_share_userBox{
  margin-left: 10px;
}
.page_share_userName{
  height:29px;
  font-size:30px;
  font-family:PingFang SC;
  font-weight:bold;
  color:rgba(255,255,255,1);
  line-height:22px;
}
.page_share_userTitle{
  font-size:22px;
  font-family:PingFang SC;
  font-weight:400;
  color:rgba(255,255,255,1);
  line-height:22px;
  margin-top: 10px;
}
.page_share_userDetails{
  display: flex;
  height: 100%;
  align-items: center;
}
.page_share_btn{
  height:50px;
  background:rgba(21,206,208,1);
  border-radius:25px;
  line-height: 50px;
}
.page_share_btnStyle{
  background:rgba(21,206,208,1);
  border-radius:25px;
  font-size:26px;
  font-family:PingFang SC;
  font-weight:400;
  color:rgba(255,255,255,1);
  margin: 0px;
  line-height: 50px;
}
.page_share_openApp{
  width:269px;
  height:72px;
  background:rgba(21,206,208,1);
  box-shadow:0px 2px 8px 0px rgba(5,147,149,0.72);
  border-radius:36px;
  position: fixed;
  z-index: 1000;
  top: 65%;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.page_share_btnStyle1{
  background:rgba(21,206,208,1);
  border-radius:36px;
  font-size:26px;
  font-family:PingFang SC;
  font-weight:400;
  color:rgba(255,255,255,1);
  margin: 0px;
  line-height: 72px;
  background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/share/downloadIcon.png") no-repeat;
  background-size: 50px 50px;
  background-position:36px 11px;
  text-align: left;
  padding-left: 99px;

}
