.comment_box {
  position: fixed;
  z-index: 1;
  z-index: 1001;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;

  background: transparent;
  display: flex;
  align-items: flex-end;
  .comment_content_box {
    border-radius: 20px 20px 0px 0px;
    position: absolute;
    background: #151515;
    height: 900px;
    left: 0;
    right: 0;
    bottom: 0;
    color: #ffffff;
    .temPlateComment_box {
      margin-top: 32px;
      display: flex;
      align-items: flex-start;
      .temPlateComment_profile {
        width: 80px;
        height: 80px;
      }
      .temPlateComment_content {
        width: 582px;
        margin-left: 16px;
      }
      .temPlateComment_username {
        padding-top: 4px;
        width: 582px;
        font-size: 28px;
        font-weight: 600;
        color: #666666;
      }
      .temPlateComment_desc {
        width: 582px;
        font-size: 28px;
        font-weight: 400;
        color: #ffffff;
        line-height: 42px;
      }
      .temPlateComment_time {
        padding-top: 20px;
        font-size: 24px;
        font-weight: 400;
        color: #666666;
        line-height: 24px;
      }
    }
    .comment_content_top {
      padding: 40px 24px 0;
      position: relative;
      font-size: 28px;
      font-weight: 600;
      color: #ffffff;
      text-align: center;
    }
    .comment_content_top::before {
      position: absolute;
      content: "";
      display: block;
      top: 24px;
      right: 24px;
      width: 32px;
      height: 32px;
      background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon766.png")
        no-repeat;
      background-size: 100% 100%;
    }
  }
  .comment_bottom_box {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000000;
    display: flex;
    align-items: flex-start;
    padding: 24px 32px;
    .comment_input_text {
      width: 480px;
      background: #151515;
      border-radius: 8px;
      position: relative;
      min-height: 80px;
    }
    .comment_bottom_btn {
      margin-left: auto;
      width: 112px;
      height: 64px;
      background: #07c0c2;
      border-radius: 8px;
      font-size: 32px;
      font-weight: 600;
      color: #ffffff;
      margin-top: 8px;
    }
    .Textarea_box {
      position: absolute;
      left: 24px;
      right: 24px;
      top: 12px;
      line-height: 45px;
      overflow-y: hidden;
      word-wrap: break-word;
      word-break: break-all;
      font-size: 32px;
      font-weight: 400;
      color: #666666;
      width: 432px;
      height: 100%;
    }
  }
  .comment_text_info {
    padding: 24px;
    display: block;
    visibility: hidden;
    word-break: break-all;
    word-wrap: break-word;
    line-height: 45px;
  }
}
