.date_bean {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10001;
  .pay_bean_box {
    width: 560px;
    height: 575px;
    background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon681.png")
      no-repeat;
    background-size: 100% 100%;
    position: relative;
  }
  .pay_bean_btn {
    position: absolute;
    bottom: 40px;
    left: 30px;
    right: 30px;
    height: 80px;
    border-radius: 50px;
    margin: 0 auto;
    .pay_bean_btnBox {
      width: 240px;
      height: 80px;
      border-radius: 41px;
      font-size: 32px;
      font-weight: bold;
    }
    .pay_bean_btnLeft {
      border: 2px solid #ffcf3b;
      color: #ffcf3b;
    }
    .pay_bean_btnRight {
      border: 2px solid #000000;
      color: #000000;
      background: #ffcf3b;
    }
  }
  .pay_bean_close {
    width: 48px;
    height: 48px;
    margin: 41px auto 0;
    background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon563.png")
      no-repeat;
    background-size: 100% 100%;
  }
}
