page {
  background: rgba(255, 255, 255, 1);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
}

.merchantBox {
  width: 100%;
  color: #333333;
  padding-bottom: 150px;
  background: rgba(255, 255, 255, 1);
  .merchantDetails_shop {
    margin: 0 32px;
    padding-top: 34px;

    .merchant_name {
      padding: 0 7px;
      max-height: 144px;
      font-size: 48px;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 600;
      color: #333333;
      line-height: 72px;
      text-align: center;
    }

    .merchant_desc {
      text-align: center;
      font-size: 24px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #333333;
      height: 24px;
      margin-top: 28px;
    }

    .merchant_tag {
      margin-top: 28px;
      display: flex;
      align-items: center;
      height: 28px;
      justify-content: center;

      .merchat_tag_box {
        height: 30px;
        background: #108588;
        border-radius: 4px;
        font-size: 20px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #FFFFFF;
        line-height: 30px;
        padding: 0 8px;
        margin-right: 12px;
      }

      .merchant_tag:first-child {
        margin-right: 0;
      }
    }

    .merchant_shopImg {
      height: 180px;
      width: 672px;
      white-space: nowrap;
      margin-top: 32px;

      .shopImgBox {
        width: 218px;
        height: 180px;
        background: #D8D8D8;
        border-radius: 8px;
        margin-right: 16px;
        display: inline-block;
      }
    }

    .share_btn {
      width: 400px;
      height: 80px;
      border-radius: 8px;
      border: 1px solid #333333;
      margin: 40px auto 0;
      text-align: center;
      line-height: 80px;
      font-size: 32px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;

      .share_icon {
        width: 48px;
        height: 48px;
        margin-right: 8px;
        background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon468.png") no-repeat;
        background-size: 100% 100%;
      }
    }

    .merchant_shop_details {
      height: 270px;
      width: 686px;
      margin: 40px auto 0;
      border-bottom: 1px solid rgba(229, 229, 229, 1);
      border-top: 1px solid rgba(229, 229, 229, 1);

      .merchant_bisinissStatus {
        height: 24px;
        line-height: 24px;
        font-size: 24px;
        font-weight: 400;
        color: #333333;
      }

      .merchat_time {
        height: 138px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgba(229, 229, 229, 1);
        position: relative;

        .merchant_time_box {
          height: 74px;
        }

        .merchant_time_go {
          width: 24px;
          height: 24px;
          position: absolute;
          right: 0;
          top: 56px;
          background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon78.png") no-repeat;
          background-size: 100% 100%;
        }

        .merchant_time_tags {
          height: 30px;
          margin-top: 20px;
          display: flex;
          align-items: center;

          .merchant_tag_shop {
            line-height: 30px;
            height: 30px;
            background: #F5F5F5;
            border-radius: 4px;
            padding: 0 8px;
            font-size: 20px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: #999999;
            margin-right: 12px;
          }
        }
      }

      .merchat_city_accress {
        height: 131px;
        display: flex;
        align-items: center;
        position: relative;

        .merchat_city_details {
          height: 68px;

          .merchat_city_names {
            height: 24px;
            font-size: 24px;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: 500;
            color: #333333;
            line-height: 24px;
            width: 350px;
          }

          .merchat_city_limit {
            margin-top: 20px;
            height: 24px;
            font-size: 24px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: #999999;
            line-height: 24px;
          }
        }

        .merchant_accBox {
          width: 156px;
          height: 48px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          position: absolute;
          top: 48px;
          right: 0;

          .merchant_city_icon1 {
            background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon79.png") no-repeat;
            background-size: 100% 100%;
            width: 48px;
            height: 48px;
          }

          .merchant_city_icon2 {
            width: 2px;
            height: 31px;
            background: rgba(153, 153, 153, 1);
          }

          .merchant_city_icon3 {
            width: 48px;
            height: 48px;
            background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon80.png") no-repeat;
            background-size: 100% 100%;
          }
        }
      }
    }
  }
  .merchant_active {
    height: 188px;
    margin: 0 32px;
    position: relative;
    .merchant_active_title {
      height: 36px;
      align-items: center;
      justify-content: center;
      padding-top: 60px;
      font-size: 32px;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 600;
      color: #333333;
      display: flex;
      position: relative;
      .merchant_active_iconBox {
        width: 36px;
        height: 36px;
        margin-right: 12px;
      }
      .active_icon1 {
        background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon81.png") no-repeat;
        background-size: 100% 100%;
      }
      .active_icon2 {
        background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon86.png") no-repeat;
        background-size: 100% 100%;
      }
      .active_icon3 {
        background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon87.png") no-repeat;
        background-size: 100% 100%;
      }
      .active_icon4 {
        background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon88.png") no-repeat;
        background-size: 100% 100%;
      }

    }
    .active_go {
      position: absolute;
      width: 48px;
      height: 48px;
      top: 79px;
      right: 1px;
      background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon83.png") no-repeat;
      background-size: 100% 100%;
    }
    .merchant_active_dec{
      margin-top: 24px;
      height: 28px;
      font-size: 28px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #666666;
      line-height: 28px;
      text-align: center;
    }
  }
  .merchant_newPrice{
    margin: 0 auto;
  }
  .merchant_billboard{
    width: 686px;
    height:300px;
    white-space: nowrap;
    margin: 0 auto;
  }
  .merchant_layer{
    height: 128px;
    background: #FFFFFF;
    box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
  }
  .merchant_layer_btn{
    height: 80px;
    display: flex;
    align-items: center;
    height: 20px;
    font-size: 20px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #999999;
    text-align: center;
    .merchant_layer_btn1{
      width: 120px;

    }
    .merchant_layer_btnBox{
      width: 48px;
      height: 48px;
    }
    .merchant_layer_btnIcon1{
      margin-left: 34px;
      margin-top: 6px;
      background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/102.png") no-repeat;
      background-size: 100% 100%;
    }
    .merchant_layer_limit{
      width: 2px;
      height: 56px;
      background: #E5E5E5;
    }
    .merchant_layer_btn2{
      width: 128px;
    }
    .merchant_layer_btnIcon2{
      margin-left: 40px;
      margin-top: 6px;
      background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/103.png") no-repeat;
      background-size: 100% 100%;
    }
    .merchant_layer_btnIcon3{
      margin-left: 40px;
      margin-top: 6px;
      background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/104.png") no-repeat;
      background-size: 100% 100%;
    }
    .merchant_layer_btnIcon4{
      margin-left: 40px;
      margin-top: 6px;
      background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/108.png") no-repeat;
      background-size: 100% 100%;
    }
  }
  .merchant_shop{
    position: absolute;
    top: 24px;
    right: 32px;
    width: 300px;
    height: 80px;
    background: #07C0C2;
    border-radius: 8px;
    font-size: 32px;
    text-align: center;
    line-height: 80px;
    color: #FFFFFF;
  }
}
