@import "@/assets/css/global.scss";

.Teamplayer_content {
  padding: 32px;
  .teamPlayer_group {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 0 32px;
    .teamPlayer_cell {
      @include flexCenterA;
      padding: 32px 0;
      & + .teamPlayer_cell {
        border-top: 1px solid #e5e5e5;
      }
      .teamPlayer_head {
        @include whEqual(90px);
        border-radius: 4px;
        background-color: #e5e5e5;
        margin-right: 12px;
        background-size: 100%;
      }
      .teamPlayer_name {
        @include flexCenterA;
        font-size: 28px;
        font-weight: 600;
        color: #333333;
        &.take {
          &::after {
            content: "订";
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 48px;
            height: 30px;
            background: #ef476f1a;
            border-radius: 4px;
            font-weight: 400;
            font-size: 20px;
            color: #ef476f;
            margin-left: 12px;
          }
        }
      }
    }
  }
}
