@import "@/assets/css/global.scss";

.bind_getNumber {
  View {
    box-sizing: border-box;
  }
  background: #ffce5c;
  padding-top: 48px;
  .bind_getNumber_title {
    @include whEqual(589px, 43px);
    margin: 0 auto;
    background: url("https://wechat-config.dakale.net/miniprogram/blind/home/title_getNumber.png")
      no-repeat;
    background-size: 100% 100%;
  }
  .bind_getNumber_group {
    padding: 39px 32px 48px;
    .bind_getNumber_cell {
      @include flexCenterA;
      & + .bind_getNumber_cell {
        margin-top: 32px;
      }
      .bind_getNumber_icon {
        @include whEqual(100px);
        margin-right: 24px;
        &.invite {
          background: url("https://wechat-config.dakale.net/miniprogram/blind/home/invite.png")
            no-repeat;
          background-size: 100% 100%;
        }
        &.video {
          background: url("https://wechat-config.dakale.net/miniprogram/blind/home/video.png")
            no-repeat;
          background-size: 100% 100%;
        }
      }

      .bind_getNumber_info {
        flex: 1;
        .bind_getNumberInfo_title {
          font-size: 32px;
          font-weight: 600;
          color: #333333;
        }
        .bind_getNumber_tip {
          font-size: 24px;
          color: #666666;
          margin-top: 12px;
        }
      }
      .bind_getNumber_btn {
        @include whEqual(132px, 56px);
        &.invite {
          background: url("https://wechat-config.dakale.net/miniprogram/blind/home/go_invite.png")
            no-repeat;
          background-size: 100% 100%;
        }
        &.video {
          background: url("https://wechat-config.dakale.net/miniprogram/blind/home/go_video.png")
            no-repeat;
          background-size: 100% 100%;
        }
      }
    }
  }
  .bind_recharge {
    background: #fdbf5d;
    padding: 40px 32px 0px;
    .bind_recharge_title {
      @include whEqual(391px, 42px);
      margin: 0 auto;
      background: url("https://wechat-config.dakale.net/miniprogram/blind/home/recharge.png")
        no-repeat;
      background-size: 100% 100%;
    }
    .bind_recharge_cell {
      @include flexCenterA;
      width: 686px;
      margin-top: 38px;
      background: #ffffff;
      border-radius: 20px;
      padding: 24px 40px;
      &::before {
        content: "";
        display: block;
        @include whEqual(160px);
        background: url("https://wechat-config.dakale.net/miniprogram/blind/home/recharge_icon.png")
          no-repeat;
        background-size: 100%;
      }
      .bind_rechargeCell_content {
        margin-left: 40px;
        .bind_rechargeCell_title {
          font-size: 36px;
          font-weight: 600;
          color: #333333;
        }
        .bind_rechargeCell_tip {
          margin-top: 16px;
          font-size: 28px;
          color: #999999;
        }
      }
    }
  }
}
