.pay_success_toast {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 100000;
  .pay_toast_box {
    width: 560px;
    height: 793px;
    position: relative;
    z-index: 100000;
    background: url("https://wechat-config.dakale.net/miniprogram/image/icon725.png")
      no-repeat;
    background-size: 100% 100%;
  }
  .pay_content_info {
    width: 332px;
    height: 96px;
    font-size: 36px;
    font-weight: 600;
    color: #ffc75e;
    line-height: 48px;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1);
    margin: 0px auto 0;
    padding-top: 428px;
    text-align: center;
  }
  .pay_content_btn {
    width: 440px;
    height: 80px;
    background: #ffc75e;
    border-radius: 41px;
    border: 3px solid #222222;
    margin: 48px auto 0;
    font-size: 32px;
    font-weight: 600;
    color: #222222;
  }
  .pay_content_bean {
    margin: 32px auto 0;
  }
  .pay_bean_icon {
    width: 64px;
    height: 64px;
    background: url("https://wechat-config.dakale.net/miniprogram/image/icon624.png")
      no-repeat;
    background-size: 100% 100%;
  }
  .pay_bean_xIcon {
    width: 48px;
    height: 48px;
    background: url("https://wechat-config.dakale.net/miniprogram/image/icon625.png")
      no-repeat;
    background-size: 100% 100%;
    margin-left: 8px;
  }
  .pay_bean_beanNums {
    height: 50px;
    font-size: 50px;
    font-weight: 600;
    color: #ffeebc;
    line-height: 50px;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1);
    margin-left: 8px;
  }
  .pay_toas_close {
    width: 48px;
    height: 48px;
    margin: 40px auto 0;
    background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/active/8.8/active8_8_17.png")
      no-repeat;
    background-size: 100% 100%;
  }
}
