.createMerchantByMap_fathers {
  width: 750px;
  height: 256px;
  position: relative;
}
.createMerchantByMap_box {
  margin: 0 auto;
  width: 686px;
  background: #ffffff;
  line-height: 1;
  background: #ffffff;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  z-index: 10;
  .createMerchantByMap_child_box {
    height: 120px;
    padding: 24px 24px 0px;
    display: flex;
    align-items: center;

    .createMerchantByMap_image {
      width: 120px;
      height: 120px;
      background: #eeeeee;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
    }

    .createMerchantByMap_child_right {
      margin-left: 20px;

      .createMerchantByMap_child_title1 {
        padding-top: 9px;
        max-width: 480px;
      }

      .createMerchantByMap_child_title2 {
        padding-top: 13px;
        color: #555555;
        width: 480px;
        font-size: 22px;
        display: flex;
      }

      .createMerchantByMap_child_title3 {
        margin-top: 14px;
        height: 30px;
        display: flex;
        align-items: center;

        .createMerchantByMap_child_tags {
          padding: 0px 8px;
          height: 30px;
          background: rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
          border-radius: 4px;
          font-size: 20px;
          color: rgba(168, 168, 168, 1);
          text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          line-height: 30px;
          margin-right: 12px;
        }
      }
    }
  }

  .createMerchantByMap_text {
    height: 120px;
  }

  .createMerchantByMap_child_marginRight {
    margin-left: auto;
  }
}
.createMerchantByMap_liner_view {
  width: 638px;
  height: 2px;
  background: #e5e5e5;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.08);
  margin: 24px auto 0;
}
.createMerchantByMap_getBean {
  height: 84px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: rgba(239, 71, 111, 1);
  .createMerchantByMap_ben_icon {
    width: 36px;
    height: 36px;
    margin: 0 8px 0 12px;
  }
}
.createMerchantByMap_ben_font{
  height: 84px;
  line-height: 84px;
}
.createMerchantByMap_byGoods {
  .createMerchantByMap_byGoodsBox {
    width: 690px;
    background: #ffffff;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.05) inset;
    border-radius: 20px;
    margin: 0 auto;
    .createMerchantByMap_byGoodsContent {
      padding: 28px 20px 0px;
      .createMerchantByMap_byGoodsTitle {
        height: 40px;
        line-height: 40px;
        font-size: 28px;
        font-weight: 600;
        color: #333333;
      }
      .createMerchantByMap_child_title2 {
        padding-top: 13px;
        color: #555555;
        font-size: 22px;
        display: flex;
      }
      .createMerchantByMap_child_marginRight {
        margin-left: auto;
      }
      .createMerchantByMap_child_title3 {
        margin-top: 14px;
        height: 30px;
        display: flex;
        align-items: center;

        .createMerchantByMap_child_tags {
          padding: 0px 8px;
          height: 30px;
          background: rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
          border-radius: 4px;
          font-size: 20px;
          color: rgba(168, 168, 168, 1);
          text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          line-height: 30px;
          margin-right: 12px;
        }
      }
    }
    .createMerchantByMap_byGoodsView {
      margin-top: 20px;
      display: flex;
      .createMerchantByMap_byGoodsImageBox {
        width: 203px;
        margin-right: 20px;
        .createMerchantByMap_byGoodsImage {
          width: 203px;
          height: 142px;
          border-radius: 8px;
        }
        .createMerchantByMap_byGoodsImagefont {
          width: 164px;
          height: 33px;
          font-size: 24px;
          font-family: PingFangSC-Regular, PingFang SC;
          font-weight: 400;
          color: #555555;
          line-height: 33px;
          text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.05);
          margin-top: 11px;
        }
        .createMerchantByMap_byGoodsImageprice {
          margin-top: 10px;
          height: 33px;
          line-height: 33px;
          font-size: 24px;
          color: #ff4f4f;
        }
      }
      .createMerchantByMap_byGoodsImageBox:last-child {
        margin-right: 0px;
      }
    }
  }
  .createMerchantByMap_byGoodsMark {
    width: 634px;
    height: 60px;
    margin: 0 auto;
    position: relative;
    .createMerchantByMap_byGoodsMark_view {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 50px;
      font-size: 24px;
    }
    .createMerchantByMap_bottom_image {
      width: 20px;
      height: 20px;
      margin-left: 8px;
    }
  }
}
.createMerchantByMap_child_coupon {
  margin: 20px 0 0;
  display: flex;
  align-items: center;
  overflow-x: auto;
  flex-wrap: nowrap;
}
.createMerchantByMap_child_coupon1 {
  margin: 20px 0 0;
  margin-left: 166px;
  display: flex;
  align-items: center;
  overflow-x: auto;
  flex-wrap: nowrap;
}
.createMerchantByMap_coupon_tags {
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  text-align: center;
  font-size: 20px;
  color: #ffffff;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  margin-right: 12px;
}
.createMerchantByMap_coupon_tagsBg1 {
  background: rgba(239, 71, 111, 1);
}
.createMerchantByMap_coupon_tagsBg2 {
  background: rgba(16, 133, 136, 1);
}
