.mainScene_box {
  width: 100%;
  background: rgba(255, 230, 201, 1);
  .mainScene_top {
    width: 100%;
    min-height: 1948px;
    background: url(https://wechat-config.dakale.net/miniprogram/active/8.8/active8_8_1.png)
      no-repeat;
    background-size: 100% 100%;
    text-align: center;
    .mainScene_box_location {
      padding-top: 734px;
      display: inline-block;
      text-align: center;
      .mainScene_box_scene {
        padding: 11px 16px;
        display: flex;
        align-items: center;
        line-height: normal;
        background: #ffeba5;
        border-radius: 24px;
      }
      .mainScene_box_sceneInfo {
        padding: 3px 16px 6px;
        display: flex;
        align-items: center;
        line-height: normal;
        background: #ffeba5;
        border-radius: 24px;
      }
      .mainScene_location_btn {
        width: 60px;
        height: 30px;
        background: #ef476f;
        border-radius: 15px;
        font-size: 22px;
        font-weight: 600;
        color: #ffffff;
        margin-left: 8px;
      }
    }
    .mainScene_box_cardbg1 {
      height: 956px;
      background: url(https://wechat-config.dakale.net/miniprogram/active/8.8/active8_8_2.png)
        no-repeat;
      background-size: 100% 100%;
    }
    .mainScene_box_cardbg2 {
      height: 1120px;
      background: url(https://wechat-config.dakale.net/miniprogram/active/8.8/active8_8_40.png)
        no-repeat;
      background-size: 100% 100%;
    }
    .mainScene_box_card {
      width: 710px;

      margin: 91px auto 0;
      position: relative;
      z-index: 10;
    }
    .mainScene_card_linkH5 {
      width: 590px;
      height: 110px;
      position: absolute;
      bottom: 60px;
      left: 60px;
      right: 60px;
    }
    .mainScene_box_height {
      height: 126px;
    }
    .mainScene_card_box {
      width: 662px;
      height: 242px;
      position: relative;
    }
    .mainScene_card_style1 {
      margin: 0px auto 0;
      background: url(https://wechat-config.dakale.net/miniprogram/active/8.8/active8_8_3.png)
        no-repeat;
      background-size: 100% 100%;
    }
    .mainScene_card_style2 {
      margin: 24px auto 0;
      background: url(https://wechat-config.dakale.net/miniprogram/active/8.8/active8_8_4.png)
        no-repeat;
      background-size: 100% 100%;
    }
    .mainScene_card_style3 {
      margin: 24px auto 0;
      background: url(https://wechat-config.dakale.net/miniprogram/active/8.8/active8_8_5.png)
        no-repeat;
      background-size: 100% 100%;
    }
    .mainScene_card_btn {
      width: 150px;
      height: 64px;
      position: absolute;
      top: 109px;
      right: 32px;
      bottom: 69px;
    }
    .mainScene_box_styleFontBold {
      font-size: 42px;
      font-weight: 600;
      color: #f34b4b;
    }
    .mainScene_box_styleFont {
      font-size: 24px;
      font-weight: 600;
      color: #f34b4b;
    }
    .mainScene_card_btnStyle1 {
      background: url(https://wechat-config.dakale.net/miniprogram/active/8.8/active8_8_6.png)
        no-repeat;
      background-size: 100% 100%;
    }
    .mainScene_card_btnStyle2 {
      background: url(https://wechat-config.dakale.net/miniprogram/active/8.8/active8_8_7.png)
        no-repeat;
      background-size: 100% 100%;
    }
    .mainScene_card_btnStyle3 {
      background: url(https://wechat-config.dakale.net/miniprogram/active/8.8/active8_8_8.png)
        no-repeat;
      background-size: 100% 100%;
    }
    .mainScene_card_style4 {
      background: url(https://wechat-config.dakale.net/miniprogram/active/8.8/active8_8_20.png)
        no-repeat;
      background-size: 100% 100%;
    }
  }
  .mainScene_logo_box {
    height: 147px;
    background: rgba(255, 230, 201, 1);
  }
  .mainScene_card_logo {
    width: 409px;
    height: 57px;
    margin: 61px auto;
    background: url(https://wechat-config.dakale.net/miniprogram/active/8.8/active8_8_21.png)
      no-repeat;
    background-size: 100% 100%;
  }
}
