.payWeex_topMerchant {
  padding: 32px 32px 0;
  .payWeex_merchantProfile {
    width: 108px;
    height: 108px;
    border-radius: 50%;
    margin: 0 auto;
  }
  .payWeex_merchantName {
    font-size: 24px;
    font-weight: 600;
    color: #333333;
    padding-top: 20px;
    text-align: center;
  }
}
