.noviceGuide_Box_father {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10088;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  .noviceGuide_Box {
    .noviceGuide_image {
      width: 565px;
      height: 662px;
      background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/novice_img.png")
        no-repeat;
      background-size: 100% 100%;
      .noviceGuide_user {
        padding-top: 287px;
        font-size: 32px;
        font-weight: 600;
        color: #ffffff;
        line-height: 32px;
        text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1);
        text-align: center;
        max-width: 500px;
        margin: 0 auto;
        min-height: 32px;
      }
      .noviceGuide_font2 {
        margin-top: 24px;
        .noviceGuide_bean_icon {
          width: 105px;
          height: 105px;
          background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon573.png")
            no-repeat;
          background-size: 100% 100%;
        }
        .noviceGuide_num_icon {
          width: 64px;
          height: 64px;
          background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon572.png")
            no-repeat;
          background-size: 100% 100%;
        }
        .noviceGuide_num {
          font-size: 50px;
          font-weight: 600;
          color: #ffffff;
          line-height: 50px;
        }
      }
      .noviceGuide_font3 {
        padding-top: 24px;
        text-align: center;
        font-size: 28px;
        font-weight: 600;
        color: #ffffff;
        text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1);
      }
      .noviceGuide_font4 {
        margin: 48px auto 0;
        width: 440px;
        height: 80px;
        background: #ffcf3b;
        border-radius: 41px;
        border: 2px solid #000000;
        font-size: 32px;
        font-weight: 600;
        color: #000000;
      }
    }
    .noviceGuide_Box_close {
      width: 48px;
      height: 48px;
      margin: 40px auto 0;
      background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon563.png")
        no-repeat;
      background-size: 100% 100%;
    }
  }
}
