.noviceGuide_Box_father {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10088;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  .noviceGuide_Box {
    .noviceGuide_title {
      width: 640px;
      height: 200px;
      background: url(https://wechat-config.dakale.net/miniprogram/blind/blind_10.png)
        no-repeat;
      background-size: 100% 100%;
      font-size: 56px;
      font-weight: 600;
      color: #ffe478;
      margin: 0 auto;
      text-align: center;
      .noviceGuide_title_pad {
        padding-top: 144px;
      }
    }
    .noviceGuide_hf {
      width: 440px;
      height: 80px;
      background: url(https://wechat-config.dakale.net/miniprogram/blind/blind_11.png)
        no-repeat;
      background-size: 100% 100%;
      margin: 40px auto 0;
      line-height: 80px;
      font-size: 32px;
      font-weight: 600;
      color: #ffffff;
      text-align: center;
    }
    .noviceGuide_gif {
      width: 640px;
      height: 447px;
      background: url(https://wechat-config.dakale.net/miniprogram/blind/blind_12.png)
        no-repeat;
      background-size: 100% 100%;
      margin: 8px auto 0;
    }
    .noviceGuide_gifBean {
      width: 640px;
      height: 447px;
      background: url(https://wechat-config.dakale.net/miniprogram/blind/blind_13.png)
        no-repeat;
      background-size: 100% 100%;
      margin: 8px auto 0;
      position: relative;
      .gifBean_btn {
        width: 182px;
        height: 60px;
        background: #ef476f;
        border-radius: 30px;
        border: 2px solid #ffe478;
        position: relative;
        top: 329px;
        margin: 0 auto;
        font-size: 28px;
        font-weight: 600;
        color: #ffffff;
        line-height: 28px;
      }
    }
    .noviceGuide_btn {
      width: 440px;
      height: 90px;
      background: #ffd62e;
      box-shadow: 0px 8px 0px 0px #ff9101;
      border-radius: 59px;
      border: 3px solid #ffffff;
      font-size: 36px;
      font-weight: 600;
      color: #ef476f;
      margin: 8px auto 0;
    }
    .noviceGuide_Box_close {
      width: 48px;
      height: 48px;
      margin: 40px auto 0;
      background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon563.png")
        no-repeat;
      background-size: 100% 100%;
    }
  }
}
