.specialOffer_shop {
  width: 688px;
  height: 264px;
  margin: 0 auto 32px;
  display: flex;
  position: relative;
}
.specialOffer_shop_box {
  width: 654px;
  margin: 0 auto 32px;
}
.specialOffer_shop_child {
  width: 688px;
  height: 264px;
  display: flex;
  position: relative;
}
.specialOffer_bottom_btn {
  width: 120px;
  height: 52px;
  background: #ef476f;
  border-radius: 26px;
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  font-weight: 400;
  color: #ffffff;
}
.specialOffer_shopImg {
  width: 264px;
  height: 264px;
  background: #d8d8d8;
  border-radius: 8px;
}
.specialOffer_desc {
  margin-left: 24px;
  height: 264px;
  .specialOffer_title {
    width: 366px;
    height: 80px;
    font-size: 28px;
    font-weight: 400;
    color: #333333;
    line-height: 40px;
    padding-top: 4px;
  }
  .specialOffer_userDetails {
    margin-top: 16px;
    height: 30px;
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 400;
    color: #999999;
    line-height: 30px;
    .specialOffer_userprofile {
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
    .specialOffer_username {
      margin-left: 8px;
      max-width: 210px;
    }
  }
  .specialOffer_toast {
    margin-top: 28px;
    font-size: 20px;
    font-weight: 600;
    color: #ef476f;
    line-height: 20px;
  }
  .specialOffer_date_price {
    margin-top: 8px;
    font-size: 32px;
    font-weight: 600;
    color: #333333;
    line-height: 32px;
    display: flex;
    align-items: baseline;
  }
  .specialOffer_date_relMargin {
    margin-left: 8px;
  }
  .specialOffer_date_rel {
    font-size: 20px;
    font-weight: 400;
    color: #cccccc;
    line-height: 20px;
    text-decoration: line-through;
  }
  .specialOffer_price_text {
    font-size: 20px;
    vertical-align: text-bottom;
  }
  .specialOffer_bean_box {
    padding: 4px 8px;
    line-height: normal;
    font-size: 22px;
    font-weight: 400;
    color: #ef476f;
    display: inline-block;
    border-radius: 4px;
  }
  .specialOffer_price_text {
    font-size: 20px;
    vertical-align: text-bottom;
  }
  .specialOffer_share_text {
    display: inline-block;
    margin-left: 4px;
    vertical-align: bottom;
    font-size: 22px;
    font-weight: 500;
    color: #ef476f;
  }
}
.specialOffer_bean_border {
  margin-top: 6px;
}
.specialOffer_shop_bottom {
  height: 52px;
  margin-top: 24px;
}
.specialOffer_shop_btn {
  width: 176px;
  height: 52px;
  background: #ef476f;
  border-radius: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  font-weight: 400;
  color: #ffffff;
}
.specialOffer_shop_text {
  font-size: 28px;
  font-weight: 400;
  color: #333333;
  display: flex;
  align-items: center;
}
.specialOffer_profile {
  display: flex;
  align-items: center;
  .specialOffer_profile_box {
    width: 48px;
    height: 48px;
    border: 1px solid #ffffff;
  }
  .specialOffer_profile_left {
    margin-left: -8px;
  }
  .specialOffer_left_pay {
    margin-left: 12px;
    font-size: 24px;
    color: #333333;
  }
}
@keyframes loadAnimate {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(360deg);
  }
}

.specialOffer_shop_text::before {
  display: block;
  position: relative;
  width: 32px;
  height: 32px;
  content: "";
  background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon548.png")
    no-repeat;
  background-size: 100% 100%;
  margin-right: 16px;
  animation-name: loadAnimate;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}
