page {
  width: 100%;
  height: 100%;
  line-height: 1;
}

.code_scanPay_box {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #f5f5f5;
  position: relative;

  .code_scanPay_top {
    background: #ffffff;
    border-radius: 8px;
    text-align: center;
    padding-top: 32px;
    .code_scanPay_bg {
      width: 200px;
      height: 200px;
      margin: 0 auto;
      background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon334.png")
        no-repeat;
      background-size: 100% 100%;
    }
    .code_scanPay_payStatus {
      margin-top: 23px;
      color: #666666;
    }
    .code_scanPay_payNum {
      margin: 28px auto 0;
      line-height: 60px;
      display: flex;
      justify-content: center;
      text-align: center;
      .code_scanPay_icon {
        height: 60px;
        line-height: 75px;
      }
      .code_scanPay_font {
        height: 60px;
        display: inline-block;
        font-size: 60px;
      }
    }
    .code_scanPay_decBox {
      margin: 0 64px 0;
      line-height: 24px;
    }
    .code_scanPay_decMargin {
      margin-top: 32px;
    }
    .code_scanPay_decMargin1 {
      margin-top: 24px;
    }
    .code_scanPay_liner {
      width: 622px;
      height: 2px;
      background: #e5e5e5;
      border-radius: 1px;
      margin: 24px auto  0;
    }
    .code_scanPay_btnBox {
      padding: 48px 149px;
      height: 60px;
      display: flex;
      justify-content: space-between;
      width: 452px;
      .code_scanPay_btn {
        width: 214px;
        height: 60px;
        border-radius: 8px;
        border: 2px solid #06C0C2;
        border-radius: 8px;
        text-align: center;
        line-height: 60px;
        margin-right: 24px;
        color: #06C0C2;
        font-size: 28px;
      }
      .code_scanPay_btn:last-child{
        margin-right: 0px;
      }
    }
  }
  .code_scanPay_loveMagin {
    margin-top: 64px;
  }
}
