.kol_bean {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10001;
  .kol_bean_box {
    width: 512px;
    height: 678px;
    position: relative;
    .kol_details_padding {
      padding-top: 423px;
      text-align: center;
      .bean_padding {
        padding-top: 16px;
      }
    }
    .getBean_btn {
      position: absolute;
      bottom: 40px;
      left: 40px;
      width: 420px;
      height: 80px;
      background: #ef476f;
      border-radius: 50px;
      text-align: center;
      line-height: 80px;
    }
  }
  .specal_layer_box {
    width: 560px;
    height: 983px;
    background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon547.png")
      no-repeat;
    background-size: 100% 100%;
    .specal_layer_getBean {
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 433px;
      .specal_layer_bean {
        width: 80px;
        height: 80px;
        background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon545.png")
          no-repeat;
        background-size: 100% 100%;
      }
      .specal_layer_X {
        width: 48px;
        height: 48px;
        background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon546.png")
          no-repeat;
        background-size: 100% 100%;
      }
      .specal_layer_count {
        color: #ffeebc;
        font-size: 50px;
        font-weight: 600;
        text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1);
        margin-left: 6px;
      }
    }
    .specal_layer_title {
      margin-top: 32px;
      text-align: center;
    }
    .specal_layer_card {
      width: 512px;
      height: 166px;
      background: #ffffff;
      border-radius: 8px;
      margin: 24px auto 0;
      display: flex;
      align-items: center;
      position: relative;

      .specal_layer_img {
        width: 150px;
        height: 150px;
        background: #ffeebc;
        border-radius: 4px;
        margin-left: 8px;
      }
      .specal_layer_font {
        margin-left: 16px;
        height: 150px;
        .specal_title {
          max-width: 322px;
          font-size: 28px;
          padding-top: 4px;
          font-weight: 600;
          color: #333333;
        }
        .specal_getBeanPrice {
          margin-top: 54px;
          font-size: 20px;
          font-weight: 600;
          color: #ef476f;
        }
        .specal_orice {
          margin-top: 8px;
          display: flex;
          align-items: baseline;
          .specal_rice_font {
            margin-left: 8px;
            font-size: 20px;
            color: #cccccc;
            text-decoration: line-through;
          }
        }
        .specal_oldPrice {
          display: flex;
          align-items: baseline;
          margin-top: 14px;
        }
        .specal_relPrice {
          display: flex;
          align-items: baseline;
          margin-top: 6px;
        }
      }
      .specal_btn {
        width: 88px;
        height: 40px;
        background: #ef476f;
        border-radius: 26px;
        font-size: 24px;
        font-weight: 400;
        color: #ffffff;
        position: absolute;
        right: 16px;
        bottom: 12px;
      }
    }
    .specal_layer_scanBtn {
      width: 238px;
      height: 80px;
      background: #ffcf3b;
      border-radius: 41px;
      border: 2px solid #000000;
      font-size: 32px;
      font-weight: 600;
      color: #000000;
    }
    .specal_layer_shareFriend {
      height: 24px;
      font-weight: 400;
      color: #ffffff;
      text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1);
      margin: 40px auto 0;
    }
    .specal_layer_btn {
      margin: 40px 30px 0;
      height: 80px;
    }
    .specal_layer_btnBox {
      width: 240px;
      height: 80px;
      border-radius: 41px;
      font-size: 32px;
      font-weight: bold;
    }
    .specal_layer_btnLeft {
      border: 2px solid #ffcf3b;
      color: #ffcf3b;
    }
    .specal_layer_btnRight {
      border: 2px solid #000000;
      color: #000000;
      background: #ffcf3b;
    }
    .specal_new_bean {
      margin-top: 8px;
      height: 32px;
      background: #ffffff;
      box-sizing: border-box;
      border-radius: 24px;
      display: inline-flex;
      align-items: center;
      .specal_new_img {
        width: 98px;
        height: 32px;
      }
      .specal_new_pay {
        font-size: 24px;
        font-weight: bold;
        color: #ef476f;
        max-width: 120px;
        padding: 0 8px 0 4px;
      }
    }
  }
}
