.empty_box {
  padding-top: 32px;
  min-height: 100%;
  .empty_img_box {
    width: 240px;
    height: 240px;
    margin: 0 auto 0;
  }
  .empty_img_home {
    background: url(https://wechat-config.dakale.net/miniprogram/relay/empty_home.png)
      no-repeat;
    background-size: 100% 100%;
  }
  .empty_img_error {
    background: url(https://wechat-config.dakale.net/miniprogram/image/icon653.png)
      no-repeat;
    background-size: 100% 100%;
  }

  .empty_img_nullShop {
    background: url(https://wechat-config.dakale.net/miniprogram/image/nullGoodsss.png)
      no-repeat;
    background-size: 100% 100%;
  }
  .empty_info_font {
    margin: 26px auto 0;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    color: #999999;
    line-height: 22px;
  }
  .empty_info_btn {
    margin: 80px auto 0;
    width: 200px;
    height: 70px;
    border-radius: 8px;
    border: 2px solid #07c0c2;
    font-size: 28px;
    font-weight: 400;
    color: #07c0c2;
  }
}
