.help_frequentlyQuestion{
  background: #F2F2F2;
  height: 75px;
  padding: 0 31px;
  color: #A5A5A5;
  font-size: 24px;
  padding-top: 31px;
}
.help_Details{
  width:100%;
  background: white;
}
.help_question{
  height: 173px;
  width: 92%;
  padding: 20px 0;
  margin: 0 auto;
  border-bottom: 1px solid #E6E6E6;
  font-size: 24px;
  color: rgba(51, 51, 51, 1);
  .help_left_title{
    width: 148px;
    justify-content: left;
    display: flex;
    align-items: center;
    border-right: 1px solid rgba(230, 230, 230, 1);
  }
  .help_left_title:after{
    content: '';
    margin-left: 10px;
    width: 15px;
    height: 23px;
    background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon/help_question.png") no-repeat;
    background-size: 100% 100%;
  }
  .help_right_title{
    flex: 1;
    font-size: 26px;
    padding-left:32px;
    color: rgba(119, 119, 119, 1);
    .help_right_top{
      padding: 12px 0 12px 0 ;
      border-bottom: 1px solid rgba(230, 230, 230, 1);
      text-indent: 20px;
    }
    .help_right_bottom{
      padding: 12px 0 12px 0 ;
      text-indent: 20px;
    }
  }

}
.help_feedback{
  padding: 30px;
  background:#FFFFFF;
  font-size: 26px;
  color: #333333;
}
.help_setQuestion{
  width: 14px;
  height: 24px;
  background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon/help_setQuestion.png") no-repeat;
  background-size: 100% 100%;
  margin-top: 10px;
}





.help_question:last-child{
  border-bottom: 0px solid #E6E6E6;
}


.help_goSelect {
  padding-top: 45px;
  font-size: 20px;
  color: #A5A5A5;
  .help-telephone{
    color: #FD96A9;
  }
  .borders{
    width:181px;
    height:1px;
    background:rgba(230,230,230,1);
    display: inline-block;
    margin:0 45px 0 60px;
    margin-top: 15px;

  }
  .borders:last-child{
    width:181px;
    height:1px;
    background:rgba(230,230,230,1);
    display: inline-block;
    margin:0 0 0 45px;
    margin-top: 15px;
  }
}
