.tabCity_layer {
  position: fixed;
  z-index: 100;
  top: 72px;
  left: 32px;
  height: 66px;
  min-width: 440px;
  background: url("https://wechat-config.dakale.net/miniprogram/image/icon785.png")
    no-repeat;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .tabCity_layer_close {
    width: 32px;
    height: 32px;
    background: url("https://wechat-config.dakale.net/miniprogram/image/icon784.png")
      no-repeat;
    background-size: 100% 100%;
    margin: 12px 16px 0;
    content: "";
  }
  .tabCity_layer_font {
    font-size: 26px;
    font-weight: 400;
    color: #ffffff;
    margin-top: 12px;
    margin-left: 16px;
  }
  .tabCity_layer_btn {
    width: 128px;
    height: 40px;
    background: #07c0c2;
    border-radius: 20px;
    font-size: 24px;
    font-weight: 400;
    color: #ffffff;
    margin: 12px 0 0 24px;
  }
}
