.ugcTimeOver_box {
  position: fixed;
  top: 208px;
  right: 24px;
  width: 88px;
  height: 88px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ugcTimeOver_tag_toast {
  width: 361px;
  height: 56px;
  background: url("https://wechat-config.dakale.net/miniprogram/image/icon794.png")
    no-repeat;
  background-size: 100% 100%;
  font-size: 24px;
  font-weight: 400;
  color: #ffffff;
  line-height: 56px;
  text-align: center;
  position: absolute;
  left: -369px;
  top: 20px;
}
.ugcTimeOver_boxBean::before {
  content: "";
  width: 60px;
  height: 60px;
  background: url("https://wechat-config.dakale.net/miniprogram/image/icon327.png")
    no-repeat;
  background-size: 100% 100%;
  z-index: 100;
}
.animateCanvas {
  width: 88px;
  height: 88px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: transparent;
  z-index: 10;
}
.ugcTimeOver_toast_box {
  width: 88px;
  height: 88px;
  background: url("https://wechat-config.dakale.net/miniprogram/image/icon793.png")
    no-repeat;
  background-size: 100% 100%;
  font-size: 28px;
  font-weight: bold;
  color: #ffeba5;
  transform: rotateY(-360deg);
}
@keyframes ugcTime_tags {
  from {
    transform: rotateY(-360deg);
  }
  to {
    transform: rotateY(0deg);
  }
}
.ugcTimeOver_transtation {
  animation-name: ugcTime_tags;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes ugcTimeOver_tag_toast {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.ugcTimeOver_tag_transtation {
  animation-name: ugcTimeOver_tag_toast;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
