@import "@/assets/css/global.scss";

.GoodsManageList_Head {
  &::before {
    content: "";
    display: block;
    height: 144px;
  }
  .GoodsManageList_Head_btn {
    @include flexCenterA;
    height: 144px;
    padding: 0 32px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    background: #ffffff;
    Button {
      flex: 1;
      @include sumbitButton;
      & + Button {
        margin-left: 32px;
      }
    }
    .gm_linout {
      background: #ffffff;
      color: #07c0c2;
      border: 2px solid #07c0c2;
      &[disabled] {
        opacity: 0.4;
      }
    }
    .gm_add {
      &::before {
        content: "";
        display: inline-block;
        @include whEqual(48px);
        margin-right: 8px;
        background: url("https://wechat-config.dakale.net/miniprogram/relay/add_white.png");
        background-size: 100%;
      }
    }
  }
}
