.zPay{
  background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/zPay.png") no-repeat;
  background-size: 100% 100%;
}
.wPay{
  background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/wpay.png") no-repeat;
  background-size: 100% 100%;
}
.kolTag{
  background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/kolGoodIcon.png") no-repeat;
  background-size: 100% 100%;
}
.codeLeft_icon{
  background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/codeLeft.png") no-repeat;
  background-size: 100% 100%;
}
.codeLeft_right{
  background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/codeRight.png") no-repeat;
  background-size: 100% 100%;
}
.onReadly_icon{
  background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/onReadly.png") no-repeat;
  background-size: 100% 100%;
}
.kol_telephone{
  background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/telephone.png") no-repeat;
  background-size: 100% 100%;
}
.kol_radius{
  background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/radiusIcon.png") no-repeat;
  background-size: 100% 100%;
}
.kol_drawTrue{
  background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/drawTrue.png") no-repeat;
  background-size: 100% 100%;
}
.kol_drawFalse{
  background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/drawFlase.png") no-repeat;
  background-size: 100% 100%;
}
.beanTime{
  background:url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/beanTime.png") no-repeat;
  background-size: 100% 100%;
}
.beanTime1{
  background:url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/beanTime1.png") no-repeat;
  background-size: 100% 100%;
}
.beanLookToast{
  background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/bena_look_toast.png") no-repeat;
  background-size: 100% 100%;
}
.happyBean{
  background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/happygetBean.png") no-repeat;
  background-size: 100% 100%;
}
