.zPay {
  background: url("https://wechat-config.dakale.net/miniprogram/image/zPay.png")
    no-repeat;
  background-size: 100% 100%;
}
.wPay {
  background: url("https://wechat-config.dakale.net/miniprogram/image/wpay.png")
    no-repeat;
  background-size: 100% 100%;
}
.kolTag {
  background: url("https://wechat-config.dakale.net/miniprogram/image/kolGoodIcon.png")
    no-repeat;
  background-size: 100% 100%;
}
.codeLeft_icon {
  background: url("https://wechat-config.dakale.net/miniprogram/image/codeLeft.png")
    no-repeat;
  background-size: 100% 100%;
}
.codeLeft_right {
  background: url("https://wechat-config.dakale.net/miniprogram/image/codeRight.png")
    no-repeat;
  background-size: 100% 100%;
}
.onReadly_icon {
  background: url("https://wechat-config.dakale.net/miniprogram/image/onReadly.png")
    no-repeat;
  background-size: 100% 100%;
}
.kol_telephone {
  background: url("https://wechat-config.dakale.net/miniprogram/image/telephone.png")
    no-repeat;
  background-size: 100% 100%;
}
.kol_radius {
  background: url("https://wechat-config.dakale.net/miniprogram/image/radiusIcon.png")
    no-repeat;
  background-size: 100% 100%;
}
.kol_shop_icon {
  background: url("https://wechat-config.dakale.net/miniprogram/image/shop_icon_1.png")
    no-repeat;
  background-size: 100% 100%;
}
.cannet_icon {
  background: url("https://wechat-config.dakale.net/miniprogram/image/icon759.png")
    no-repeat;
  background-size: 100% 100%;
}
.kol_drawTrue {
  background: url("https://wechat-config.dakale.net/miniprogram/image/drawTrue.png")
    no-repeat;
  background-size: 100% 100%;
}
.kol_drawFalse {
  background: url("https://wechat-config.dakale.net/miniprogram/image/drawFlase.png")
    no-repeat;
  background-size: 100% 100%;
}
.beanTime {
  background: url("https://wechat-config.dakale.net/miniprogram/image/icon453.png")
    no-repeat;
  background-size: 100% 100%;
}
.beanTime1 {
  background: url("https://wechat-config.dakale.net/miniprogram/image/icon454.png")
    no-repeat;
  background-size: 100% 100%;
}
.beanLookToast {
  background: url("https://wechat-config.dakale.net/miniprogram/image/bena_look_toast.png")
    no-repeat;
  background-size: 100% 100%;
}
.happyBean {
  background: url("https://wechat-config.dakale.net/miniprogram/image/happygetBean.png")
    no-repeat;
  background-size: 100% 100%;
}
.bgCode {
  background: url("https://wechat-config.dakale.net/miniprogram/image/closeCode.png")
    no-repeat;
  background-size: 100% 100%;
}
.fraover_go {
  background: url("https://wechat-config.dakale.net/miniprogram/image/fraover1.png")
    no-repeat;
  background-size: 100% 100%;
}
.main_fire {
  background: url("https://wechat-config.dakale.net/miniprogram/image/main_fire.png")
    no-repeat;
  background-size: 100% 100%;
}
.mainBean {
  background: url("https://wechat-config.dakale.net/miniprogram/image/mainBean.png")
    no-repeat;
  background-size: 100% 100%;
}
.beanQiang {
  background: url("https://wechat-config.dakale.net/miniprogram/image/beanQiang.png")
    no-repeat;
  background-size: 100% 100%;
}
.zSearch {
  background: url("https://wechat-config.dakale.net/miniprogram/image/zSearch.png")
    no-repeat;
  background-size: 100% 100%;
}
.users_codeBg {
  background: url("https://wechat-config.dakale.net/miniprogram/image/icon45.png")
    no-repeat;
  background-size: 100% 100%;
}
.shop_goods_icon {
  background: url("https://wechat-config.dakale.net/miniprogram/image/icon352.png")
    no-repeat;
  background-size: 100% 100%;
}
.shop_merchant_icon {
  background: url("https://wechat-config.dakale.net/miniprogram/image/icon353.png")
    no-repeat;
  background-size: 100% 100%;
}
.coupon_sm_icon {
  background: url("https://wechat-config.dakale.net/miniprogram/image/coupon_sm.png")
    no-repeat;
  background-size: 100% 100%;
}
.coupon_big_icon {
  background: url("https://wechat-config.dakale.net/miniprogram/image/coupon_big.png")
    no-repeat;
  background-size: 100% 100%;
}
.coupon_shop_icon {
  background: url("https://wechat-config.dakale.net/miniprogram/image/conpon_shop.png")
    no-repeat;
  background-size: 100% 100%;
}
.public_null_image {
  background: url("https://wechat-config.dakale.net/miniprogram/image/icon450.png")
    no-repeat;
  background-size: 100% 100%;
}
.share_shoucang_icon1 {
  background: url("https://wechat-config.dakale.net/miniprogram/image/icon505.png")
    no-repeat;
  background-size: 100% 100%;
}
.share_shoucang_icon2 {
  background: url("https://wechat-config.dakale.net/miniprogram/image/icon504.png")
    no-repeat;
  background-size: 100% 100%;
}
.home_close {
  background: url("https://wechat-config.dakale.net/miniprogram/image/icon459.png")
    no-repeat;
  background-size: 100% 100%;
}
.home_nullStatus_white {
  background: url("https://wechat-config.dakale.net/miniprogram/image/icon460.png")
    no-repeat;
  background-size: 100% 100%;
}
.home_nullStatus_black {
  background: url("https://wechat-config.dakale.net/miniprogram/image/icon461.png")
    no-repeat;
  background-size: 100% 100%;
}

.go_back_icon {
  background: url("https://wechat-config.dakale.net/miniprogram/image/icon467.png")
    no-repeat;
  background-size: 100% 100%;
}
.question_icon {
  background: url("https://wechat-config.dakale.net/miniprogram/image/icon470.png")
    no-repeat;
  background-size: 100% 100%;
}
.home_new_nullStatus {
  background: url("https://wechat-config.dakale.net/miniprogram/image/icon508.png")
    no-repeat;
  background-size: 100% 100%;
}
.home_new_login {
  background: url("https://wechat-config.dakale.net/miniprogram/image/icon509.png")
    no-repeat;
  background-size: 100% 100%;
}
.public_null_shop {
  background: url("https://wechat-config.dakale.net/miniprogram/image/icon520.png")
    no-repeat;
  background-size: 100% 100%;
}
.merchant_dakale_logo {
  background: url("https://wechat-config.dakale.net/miniprogram/image/merchant_dakale.png")
    no-repeat;
  background-size: 100% 100%;
}
.bean_getInfo {
  background: url("https://wechat-config.dakale.net/miniprogram/image/icon701.png")
    no-repeat;
  background-size: 100% 100%;
}
.bean_getBigInfo {
  background: url("https://wechat-config.dakale.net/miniprogram/image/icon702.png")
    no-repeat;
  background-size: 100% 100%;
}
