/*
#333333 - color1
#999999 - color2
*/
.color1 {
  color: #333333;
}
.color2 {
  color: #999999;
}
.color3 {
  color: #ef476f;
}
.color4 {
  color: #07c0c2;
}
.color5 {
  color: #e5e5e5;
}
.color6 {
  color: #ffffff;
}
.color7 {
  color: #cccccc;
}
.color8 {
  color: #666666;
}
.color9 {
  color: #108588;
}
