.userNewGift_box {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url(https://wechat-config.dakale.net/miniprogram/image/icon694.png);
  background-size: 100% auto;
  .userNewGift_status_box {
    width: 744px;
    height: 1025px;
    margin: 42px auto 0;
    background: url(https://wechat-config.dakale.net/miniprogram/image/icon697.png);
    background-size: 100% 100%;
    position: relative;
  }
  .userNewGift_status_box2 {
    width: 744px;
    height: 1025px;
    margin: 42px auto 0;
    background: url(https://wechat-config.dakale.net/miniprogram/image/icon696.png);
    background-size: 100% 100%;
    position: relative;
  }
  .userNewGift_status_box1 {
    width: 744px;
    height: 1025px;
    margin: 42px auto 0;
    background: url(https://wechat-config.dakale.net/miniprogram/image/icon695.png);
    background-size: 100% 100%;
    position: relative;
  }
  .userNewGift_info_btnBox {
    width: 588px;
    height: 80px;
    position: absolute;
    bottom: 134px;
    left: 0;
    right: 0;
    margin: 0 auto;
    .userNewGift_info_btn {
      width: 280px;
      height: 80px;
      background: #ffcf3b;
      border-radius: 41px;
      border: 2px solid #000000;
      font-size: 32px;
      font-weight: 600;
      color: #000000;
    }
  }
  .userNewGift_btn {
    width: 436px;
    height: 80px;
    background: #ffcf3b;
    border-radius: 41px;
    border: 2px solid #000000;
    font-size: 32px;
    font-weight: 600;
    color: #000000;
    position: absolute;
    bottom: 134px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}
.skeleton_boxInfo {
  width: 100%;
  height: 100%;
  background: #f5f5f5;
  .skeleton_boxInfo_top {
    height: 42px;
  }
  .skeleton_boxInfo_box {
    width: 720px;
    height: 820px;
    margin: 0 auto 0;
    background: #ffffff;

    border-radius: 12px;
  }
}
