.merchant__com_box {
  padding: 32px 24px;
  background: #ffffff;
  margin-top: 16px;
  .merchant__com_title {
    font-size: 32px;
    font-weight: 600;
    color: #333333;
    line-height: 32px;
  }
  .merchantcom_name {
    margin-top: 40px;
    .merchant_com_nameLeft {
      max-width: 548px;
      font-size: 28px;
      font-weight: 400;
      color: #333333;
      line-height: 28px;
    }
  }
  .merchant_com_Right {
    display: flex;
    align-items: center;
  }
  .merchant_com_RightIcon {
    width: 32px;
    height: 32px;
    margin-right: 4px;
  }

  .merchant_com_RightIcon1 {
    background: url(https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon634.png)
      no-repeat;
    background-size: 100% 100%;
  }
  .merchant_com_RightIcon2 {
    background: url(https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon635.png)
      no-repeat;
    background-size: 100% 100%;
  }
  .merchant_com_RightIcon3 {
    background: url(https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon636.png)
      no-repeat;
    background-size: 100% 100%;
  }
  .merchant_com_RightFont {
    font-size: 24px;
    font-weight: 400;
    color: #333333;
    line-height: 24px;
  }
  .merchant_com_time {
    margin-top: 24px;
  }
  .merchant_com_telephone {
    margin-top: 24px;
  }
  .merchant_com_telephoneMax{
    max-width: 524px;
  }
  .merchant_com_address {
    margin-top: 24px;
  }
  .merchant_com_max {
    max-width: 537px;
  }
  .merchantcom_name {
    margin-top: 40px;
    .merchant_com_nameLeft {
      max-width: 548px;
      font-size: 28px;
      font-weight: 400;
      color: #333333;
      line-height: 28px;
    }
  }
  .merchant_com_Right {
    display: flex;
    align-items: center;
  }
  .merchant_com_RightIcon {
    width: 32px;
    height: 32px;
    margin-right: 4px;
  }

  .merchant_com_RightIcon1 {
    background: url(https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon634.png)
      no-repeat;
    background-size: 100% 100%;
  }
  .merchant_com_RightIcon2 {
    background: url(https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon635.png)
      no-repeat;
    background-size: 100% 100%;
  }
  .merchant_com_RightIcon3 {
    background: url(https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon636.png)
      no-repeat;
    background-size: 100% 100%;
  }
  .merchant_com_RightFont {
    font-size: 24px;
    font-weight: 400;
    color: #333333;
    line-height: 24px;
  }
  .merchant_com_time {
    margin-top: 24px;
  }
  .merchant_com_telephone {
    margin-top: 24px;
  }
  .merchant_com_address {
    margin-top: 24px;
  }
  .merchant_com_max {
    max-width: 537px;
  }
}
