page {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 1);
}

.interests_box {
  padding: 0 32px 32px;
  .interests_title {
    font-size: 32px;
    font-weight: 600;
    color: #333333;
    line-height: 32px;
    padding-bottom: 8px;
    padding-top: 32px;
  }
  .interests_font {
    padding: 16px 32px 0px;
    font-size: 28px;
    font-weight: 400;
    color: #666666;
    line-height: 42px;
    position: relative;
  }
  .interests_img_box {
    width: 686px;
    height: 871px;
    margin: 24px auto 32px;
  }
  .interests_font::before {
    display: inline-block;
    position: absolute;
    top: 34px;
    left: 9px;
    width: 6px;
    height: 6px;
    background: #333333;
    content: "";
    border-radius: 50%;
  }
  .desc_img{
    width: 100%;
    height: 100%;
  }
}
