.beanToast_layer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10001;
  line-height: 1;
  .beanToast_box {
    width: 560px;
    height: 504px;
    position: relative;
    background: url(https://wechat-config.dakale.net/miniprogram/active/8.8/active8_8_35.png)
      no-repeat;
    background-size: 100% 100%;
  }
  .beanToast_box_btn {
    position: relative;
    top: 360px;
    width: 464px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .beanToast_btn_left {
      width: 220px;
      height: 80px;
      border-radius: 64px;
      border: 2px solid #ef476f;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 36px;
      font-weight: 600;
      color: #ef476f;
    }
    .beanToast_btn_right {
      width: 220px;
      height: 80px;
      background: #ef476f;
      border-radius: 64px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 36px;
      font-weight: 600;
      color: #ffd95d;
    }
  }
}
