page {
  width: 100%;
  height: 100%;
  .ImperVideo_box {
    width: 100%;
    min-height: 100%;
    background-image: url("https://wechat-config.dakale.net/miniprogram/image/icon904.png");
    background-size: 100% 100%;
  }
  .ImperVideo_btn_box {
    width: 600px;
    height: 160px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 295px;
    margin: 0 auto;
    background-image: url("https://wechat-config.dakale.net/miniprogram/image/icon905.png");
    background-size: 100% 100%;
  }
  .adContainer {
    width: 686px;
    height: 240px;
    background: #ffffff;
    border-radius: 20px;
    position: fixed;
    bottom: 24px;
    display: flex;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
}
