page{
  height: 100%;
  background: #FFFFFF;
  line-height: 1;
  vertical-align: top;
}
.mark_success{
  padding-top: 108px;
  text-align: center;
  .mark_success_icon{
    width: 275px;
    height: 228px;
    margin: 0 auto;
    background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/icon100.png") no-repeat;
    background-size: 100% 100%;
  }
  .mark_success_title{
    padding-top: 62px;
    font-size:28px;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(51,51,51,1);
    height:28px;
  }
  .mark_success_bean{
    font-size:30px;
    font-family:PingFang SC;
    font-weight:500;
    color:rgba(255,91,117,1);
  }
  .mark_success_beanNum{
    font-size: 50px;
    font-weight: bold;
  }
  .mark_success_btn{
    font-size:28px;
    font-family:PingFang SC;
    font-weight:600;
    color:rgba(255,255,255,1);
    width:300px;
    height:70px;
    background:rgba(255,91,117,1);
    border-radius:35px;
    margin: 50px auto 0 auto;
    line-height: 70px;
  }
  .mark_success_linkBtn{
    width:520px;
    height:80px;
    border-radius:40px;
    line-height: 80px;
    margin: 0 auto;
    font-size:30px;
    font-family:PingFang SC;
    font-weight:400;
  }
  .mark_success_linkColor1{
    background:rgba(7,192,194,1);
    margin-top: 186px;
    color:rgba(255,255,255,1);
  }
  .mark_success_linkColor2{

    margin-top: 30px;
    border:1px solid rgba(7,192,194,1);
    color:rgba(7,192,194,1);
  }
  .mark_success_linkColor3{
    margin-top: 30px;
    border:1px solid rgba(7,192,194,1);
    color:rgba(7,192,194,1);
  }
}
.mark_fail, .mark_fail1 ,.mark_netWork{
  padding-top: 281px;
  text-align: center;
  .mark_failIcon{
    width: 118px;
    height: 118px;
    margin: 0 auto;
    background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/icon101.png") no-repeat;
    background-size: 100% 100%;
  }
  .mark_NetworkIcon{
    width: 120px;
    height: 91px;
    margin: 0 auto;
    background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/icon102.png") no-repeat;
    background-size: 100% 100%;
  }
  .mark_failTitle{
    margin-top: 47px;
    font-size:30px;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(51,51,51,1);
  }
  .mark_failBtn{
    width:520px;
    height:80px;
    border-radius:40px;
    line-height: 80px;
    margin: 0 auto;
    font-size:30px;
    font-family:PingFang SC;
    font-weight:400;
  }
  .mark_failColor1{
    background:rgba(7,192,194,1);
    margin-top: 366px;
    color:rgba(255,255,255,1);
  }
  .mark_failColor2{
    margin-top: 30px;
    border:1px solid rgba(7,192,194,1);
    color:rgba(7,192,194,1);
  }
}
