.specialSelf_liner {
  height: 48px;
  background: #f5f5f5;
}
.specialSelf_box {
  height: 128px;
  background: #f5f5f5;
  position: relative;
  z-index: 10;
  .specialSelf_commer {
    background: #ffffff;
    border-radius: 40px 40px 0px 0px;
    padding: 40px 187px 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .specialSelf_perimeter {
    padding: 40px 80px 20px;
    background: #ffffff;
    border-radius: 40px 40px 0px 0px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .specialSelf_select {
    font-size: 32px;
    font-weight: 500;
    color: #07c0c2;
    text-align: center;
  }
  .specialSelf_noSelect {
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    color: rgba(102, 102, 102, 1);
  }
  .specialSelf_select::after {
    width: 36px;
    height: 8px;
    background: url(https://wechat-config.dakale.net/miniprogram/image/icon656.png)
      no-repeat;
    background-size: 100% 100%;
    margin: 16px auto 0;
    content: "";
    display: block;
  }
}
.specialSelf_render {
  background: #f5f5f5;
}
