.draw_box {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 20px 20px 0px 0px;
  background: #ffffff;
  z-index: 100001;
  .draw_top {
    height: 95px;
    padding: 0 32px;
    border-bottom: 1px solid #e5e5e5;
  }
  .draw_center {
    padding: 44px 32px 0;

    .draw_select {
      height: 36px;
      margin-bottom: 40px;
    }

    .draw_selectIcon {
      width: 36px;
      height: 36px;
    }
  }
}
