@import "@/assets/css/global.scss";

.pu_order {
  position: relative;
  background: linear-gradient(180deg, #ffffff 0%, #f5f5f5 10%, #f5f5f5 100%);
  .pu_order_tab {
    position: sticky;
    top: 128px;
    background: linear-gradient(180deg, #ffffff 0%, #fbfbfb 100%);
    z-index: 1111;
    .tabBarMargin {
      padding: 32px;
    }
  }
  .pu_order_group {
    padding: 32px 32px 100px;
    .pu_order_cell {
      background: #ffffff;
      border-radius: 12px;
      & + .pu_order_cell {
        margin-top: 24px;
      }
      .pu_order_heard {
        @include flexCenterA;
        padding: 32px;
        border-bottom: 1px solid #e5e5e5;
        .pu_heard_date {
          font-size: 20px;
          font-weight: 400;
          color: #999999;
        }
        .pu_heard_footer {
          @include flexCenterA;
          justify-content: flex-end;
          flex: 1;
          .pu_heard_tools {
            @include flexCenter;
            padding: 0 14px;
            height: 40px;
            border-radius: 4px;
            border: 1px solid #b5b5b5;
            font-size: 24px;
            font-weight: 400;
            color: #666666;
            & + .pu_heard_tools {
              margin-left: 12px;
            }
            &.pu_tools_disabled {
              opacity: 0.4;
            }
          }
        }
      }
      .pu_order_info {
        padding: 0 32px;
        .pu_order_content {
          padding: 32px 0;
          border-bottom: 1px solid #e5e5e5;
          .pu_order_name {
            display: flex;
            padding-bottom: 24px;
            .puon_name {
              flex: 1;
              font-size: 32px;
              font-weight: 600;
              color: #333333;
            }
            .puon_price {
              font-size: 32px;
              font-weight: 600;
              color: #ef476f;
              &::before {
                content: "￥ ";
                font-size: 20px;
              }
            }
          }
          .pu_order_img {
            display: flex;
            justify-content: space-between;
            padding-bottom: 40px;
          }
          .pu_content_footer {
            @include flexCenterA;
            .pu_order_status {
              flex: 1;
              font-size: 24px;
              color: #999999;
              &.start {
                color: #07c0c2;
              }
              &.end {
                color: #999999;
              }
              &.notStarted {
                color: #ef476f;
              }
            }
            .pu_order_share {
              @include whEqual(120px, 40px);
              background-image: url("https://wechat-config.dakale.net/miniprogram/relay/icon_1.png");
              background-size: 100%;
            }
          }
        }
        .pu_order_footer {
          @include flexCenterA;
          padding: 32px 0 25px;
          font-size: 20px;
          font-weight: 400;
          color: #999999;
          .pu_order_income {
            flex: 1;
            View + View {
              margin-top: 24px;
            }
            Text + Text {
              margin-left: 24px;
            }
          }
          .pu_order_tools {
            @include flexCenterA;
            padding: 0 4px;
            justify-content: space-between;
            width: 31px;
            height: 23px;
            background: #f5f5f5;
            border-radius: 4px;
            .pu_tools_radio {
              width: 4px;
              height: 4px;
              background: #999999;
              border-radius: 50%;
            }
            &::after {
              border: none;
            }
          }
        }
      }
    }
  }
  .pu_order_null {
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    color: #cccccc;
    margin-top: 56px;
  }
}
