.groupUser_green_box {
  line-height: 1;
  .groupUser_after_toast {
    margin: 45px auto 0;
    font-size: 19px;
    font-weight: 400;
    color: #cccccc;
    text-align: center;
  }
  .groupUser_green_height {
    height: 98px;
    background: #108588;
  }
  .groupUser_card {
    left: 32px;
    right: 32px;
    position: absolute;
    padding: 32px 0;
    background: #ffffff;
    border-radius: 12px;
    margin-top: -54px;
    z-index: 10;
    .groupUser_card_radius {
      border-radius: 50%;
    }
    .groupUser_card_image {
      width: 100%;
      height: 100%;
    }
    .groupUser_card_user {
      height: 80px;
      display: flex;
      align-items: flex-start;
      padding: 0 32px;
    }
    .groupUser_card_userProfile {
      width: 80px;
      height: 80px;
    }
    .groupUser_card_userTitle {
      margin-left: 20px;
      position: relative;

      .groupUser_card_usernameInfo {
        display: flex;
        align-items: center;
        padding-top: 8px;
      }
      .groupUser_card_username {
        font-size: 28px;
        font-weight: 400;
        color: #333333;
        max-width: 320px;
      }
      .groupUser_card_userTime {
        padding-top: 16px;
        font-size: 20px;
        font-weight: 400;
        color: #999999;
        width: 378px;
      }
    }
    .groupUser_card_share {
      position: absolute;
      right: 26px;
      width: 61px;
      height: 32px;
      top: 48px;
      background: url("https://wechat-config.dakale.net/miniprogram/relay/icon_34.png")
        no-repeat;
      background-size: 100% 100%;
    }
    .groupUser_card_btn {
      width: 74px;
      height: 24px;
      margin-left: 10px;
      background-size: 100% 100%;
      background: #07c0c2;
      font-size: 16px;
      font-weight: 400;
      color: #ffffff;
    }
    .groupUser_card_nobtn {
      width: 74px;
      height: 24px;
      margin-left: 10px;
      background: #07c0c2;
      border-radius: 3px;
      opacity: 0.4;
      font-weight: 400;
      text-align: center;
      font-size: 16px;
      font-weight: 400;
      color: #ffffff;
    }
  }
  .groupUser_card_collected {
    padding-left: 398px;
    display: flex;
    align-items: center;
    margin-top: 12px;
  }
  .groupUser_card_iconBox {
    margin-right: 40px;
  }
  .groupUser_card_icon1 {
    width: 48px;
    height: 48px;
    background: url("https://wechat-config.dakale.net/miniprogram/relay/icon_5.png")
      no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
  }
  .groupUser_card_icon2 {
    width: 48px;
    height: 48px;
    background: url("https://wechat-config.dakale.net/miniprogram/relay/icon_6.png")
      no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
  }
  .groupUser_card_icon3 {
    width: 48px;
    height: 48px;
    background: url("https://wechat-config.dakale.net/miniprogram/relay/icon_7.png")
      no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
  }
  .groupUser_card_iconBox:last-child {
    margin-right: 0;
  }
  .groupUser_card_font {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: #999999;
    line-height: 20px;
    padding-top: 8px;
  }
  .groupUser_after_box {
    width: 750px;
    background: linear-gradient(180deg, #fbfbfb 0%, #ffffff 100%);
    border-radius: 20px 20px 0px 0px;
    padding-bottom: 248px;
  }
  .groupUser_after_box {
    margin-top: -20px;
    position: relative;
    z-index: 9;
    background: #f5f5f5;
    .groupUser_after_shopHeight {
      height: 88px;
    }
  }
  .groupUser_goodCard_box {
    background: #ffffff;
    padding: 40px 32px 32px;
    position: relative;
    .groupUser_goodCard_title {
      display: flex;
      align-items: center;
      .groupUser_goodCard_titlesInfo {
        max-width: 512px;
        font-size: 32px;
        font-weight: 600;
        color: #333333;
        line-height: 32px;
      }
    }
    .groupUser_goodCard_tags {
      background: rgba(7, 192, 194, 0.1);
      display: block;
      font-size: 20px;
      font-weight: 400;
      color: #07c0c2;
      padding: 5px 14px;
      content: "";
      margin-left: 24px;
    }
    .groupUser_goodCard_data {
      margin-top: 32px;
      color: #999999;
      font-size: 20px;
    }
    .groupUser_goodCard_count {
      margin-top: 12px;
      color: #999999;
      font-size: 20px;
      min-height: 20px;
    }
  }
  .groupUser_goodCard_coby {
    width: 124px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #b5b5b5;
    position: absolute;
    right: 32px;
    top: 110px;
    font-size: 24px;
    font-weight: 400;
    color: #666666;
  }
  .groupUser_buyCard_box {
    width: 100%;
    height: 242px;
    background: #ffffff;
    position: relative;
    margin-top: 24px;
    .groupUser_buyCard_order {
      position: absolute;
      top: 50px;
      right: 32px;
      font-size: 24px;
      font-weight: 400;
      color: #ef476f;
      line-height: 32px;
    }
  }
  .groupUser_buyCard_shopInfo {
    padding: 40px 32px 0;
    display: flex;
    position: relative;
    .groupUser_buyCard_profile {
      width: 160px;
      height: 160px;
      background: #d8d8d8;
      border-radius: 8px;
    }
    .groupUser_buyCard_content {
      margin-left: 20px;
      .groupUser_buyCard_name {
        width: 414px;
        max-height: 86px;
        font-size: 28px;
        font-weight: 400;
        color: #333333;
        line-height: 42px;
      }
      .groupUser_buyCard_price {
        margin-top: 12px;
      }
      .groupUser_buyCard_count {
        margin-top: 30px;
        font-size: 24px;
        font-weight: 400;
        color: #999999;
      }
    }
  }
  .groupUser_buyCard_collection {
    position: absolute;
    right: 32px;
    bottom: 46px;
    display: flex;
    align-items: center;
  }
  .groupUser_buyCard_icon {
    width: 56px;
    height: 56px;
  }
  .groupUser_buyCard_remove {
    background: url("https://wechat-config.dakale.net/miniprogram/relay/icon_8.png")
      no-repeat;
    background-size: 100% 100%;
  }
  .groupUser_buyCard_add {
    background: url("https://wechat-config.dakale.net/miniprogram/relay/icon_9.png")
      no-repeat;
    background-size: 100% 100%;
  }
  .groupUser_buyCard_text {
    width: 60px;
    height: 56px;
    font-size: 28px;
    font-weight: 400;
    color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .groupUser_nodeCard_box {
    margin-top: 24px;
    background: #ffffff;
    .groupUser_nodeCard_title {
      padding: 32px;
      border-bottom: 2px solid #e5e5e5;
      height: 32px;
      font-size: 28px;
      font-weight: 600;
      color: #333333;
      line-height: 32px;
    }
    .groupUser_nodeCard_list {
      padding: 32px;
      .groupUser_nodeCard_listBox {
        height: 60px;
        display: flex;
        align-items: center;
        margin-bottom: 24px;
      }
      .groupUser_nodeCard_listBox:last-child {
        margin-bottom: 0px;
      }
      .groupUser_nodeCard_listcount {
        height: 28px;
        font-size: 20px;
        font-weight: 400;
        color: #999999;
        line-height: 28px;
        text-align: center;
      }
    }
    .groupUser_nodeCard_listprofile {
      width: 60px;
      height: 60px;
      border-radius: 4px;
      margin-left: 16px;
    }
    .groupUser_nodeCard_listImage {
      width: 100%;
      height: 100%;
      border-radius: 4px;
    }
  }
}
