.ClockInButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 228px;
  height: 80px;
  border-radius: 40px;
  &.yellow {
    font-size: 28px;
    font-weight: 600;
    color: #ff4035;
    background: linear-gradient(180deg, #ffda36 0%, #ffb949 100%);
    box-shadow: 0px 0px 10px 0px #ffffff inset;
  }
}
