.naviton_box {
  width: 750px;
  height: 128px;
  position: relative;
  z-index: 100;
  .naviton_title_fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 128px;
    background: #ffffff;
    z-index: 100;
    .naviton_title_backStyle {
      width: 48px;
      height: 48px;
      position: absolute;
      left: 32px;
      z-index: 10086;
    }
  }
  .naviton_title_green {
    background: #108588 !important;
  }
  .go_back_iconGreen {
    background: url("https://wechat-config.dakale.net/miniprogram/relay/icon_4.png")
      no-repeat;
    background-size: 100% 100%;
  }
  .go_back_iconWhite {
    background: url("https://wechat-config.dakale.net/miniprogram/relay/icon_3.png")
      no-repeat;
    background-size: 100% 100%;
  }
}
.naviton_info {
  flex: 1;
}
