@font-face {
  font-family: ZhenyanGB-Regular;
  src: url('https://dakale-website.oss-cn-hangzhou.aliyuncs.com/common/font/ZhenyanGB-Regular.ttf')
}
.clearfix{
  display: flex;
}
.sportsPoster_box{
  height: 100%;
  line-height: 1;
  .sportsPoster_titleBox{
     height: 564px;
     background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/icon71.png") no-repeat center/cover;
     position: relative;
     text-align: center;
    .sportsPoster_title{
      height: 110px;
      .sportsPoster_titleTop{
        padding-top: 58px;
        position: relative;
        .sportsPoster_titleIcon{
          font-size:34px;
          font-family:PingFang SC;
          font-weight:600;
          color:rgba(255,255,255,1);
          padding-top: 8px;
          margin: 0 auto;
          text-align: center;
        }
        .sportsPoster_titleBack{
          position: absolute;
          left: 30px;
          top: 59px;
          width: 50px;
          height: 50px;
          background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/icon47.png") no-repeat;
          background-size: 100% 100%;
          z-index: 10;
        }
      }
    }
    .sportsPoster_titleCard_times{
      display: inline-block;
      padding-right: 30px;
      margin: 0 auto;
      margin-top: 61px;
      background: rgba(0, 0, 0, 0.2);
      border-radius: 25px;
      height: 50px;
      line-height: 50px;
      color: #FFFFFF;
      font-size: 20px;
      .sportsPoster_titleCard_date{
        display: inline-block;
        padding:0 20px;
        height: 50px;
        line-height: 50px;
        background: #FFFFFF;
        color: rgba(51, 51, 51, 1);
        text-align: center;
        border-radius: 25px;
        font-weight:600;
      }
      .sportsPoster_titleCard_dateTime{
        display: inline-block;
        text-indent: 33px;
        font-weight: bold;
      }
    }
    .sportsPoster_simpleBox{
      top: 115px;
      right: 22px;
      position: absolute;
      .sportsPoster_simpleIcon{
        width: 85px;
        height: 83px;
        background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/icon68.png") no-repeat;
        background-size: 100% 100%;
      }
    }
    .sportsPoster_constor{
      position: absolute;
      top: 245px;
      right: 22px;
      .sportsPoster_simpleIcon{
        width: 85px;
        height: 83px;
        background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/icon67.png") no-repeat;
        background-size: 100% 100%;
      }
    }
    .sportsPoster_font{
      font-size:20px;
      font-family:PingFang SC;
      font-weight:400;
      color:rgba(255,255,255,1);
    }
  }
  .sportsPoster_body{
    padding: 27px 25px 43px 25px;
    position: relative;
    border-radius:20px 20px 10px 10px;
    z-index: 10;
    margin-top:-20px;
    background: rgba(242, 242, 242, 1);
    .sportsPoster_beanNum{
      width: 700px;
      height: 291px;
      margin: 0 auto;
      background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/icon75.png") no-repeat;
      background-size: 100% 100%;
      text-align: center;
      .sportsPoster_beanTitle{
        padding-top: 28px;
        font-size:26px;
        font-family:PingFang SC;
        font-weight:bold;
        color:rgba(51,51,51,1);
      }
      .sportsPoster_bean{
        font-size:57px;
        font-family:ZhenyanGB-Regular;
        font-weight:400;
        color:rgba(182,53,45,1);
        margin-top: 90px;
      }
      .sportsPoster_beanPeople{
        margin-top: 59px;
        font-size:20px;
        font-family:PingFang SC;
        font-weight:bold;
        color:rgba(255,255,255,1);
        .sportsPoster_peopleDetails{
          text-indent:49px;
          display: inline-block;
        }
        .sportsPoster_peopleColor{
          color: rgba(51, 51, 51, 1);
        }

      }
    }
    .sportsPoster_btn{
      width: 337px;
      height: 77px;
      margin: 14px auto 0 auto;
      border-radius:20px;
      text-align: center;
    }
    .sportsPoster_btnColor1{
      background:linear-gradient(-40deg,rgba(7,192,194,1) 0%,rgba(49,221,203,1) 98%);
      .sportsPoster_status{
        font-size:28px;
        padding-top: 10px;
        font-family:PingFang SC;
        font-weight:600;
        color:rgba(255,255,255,1);
      }
      .sportsPoster_price{
        font-size:20px;
        font-family:PingFang SC;
        font-weight:400;
        color:rgba(255,255,255,1);
        margin-top: 11px;
      }
    }
    .sportsPoster_btnColor2{
      background:rgba(230, 230, 230, 1);
      line-height: 77px;
      font-size:28px;
      font-family:PingFang SC;
      font-weight:600;
      color:rgba(255,255,255,1);
    }
    .sportsPoster_cardMatch{
      width: 690px;
      height: 344px;
      margin: 0 auto;
      margin-top: 21px;
      background: #FFFFFF;
      border-radius: 20px;
      .sportsPoster_cardMatch_title{
        padding-top: 31px;
        font-size: 28px;
        font-weight: bold;
        color: rgba(52, 52, 52, 1);

      }
      .sportsPoster_cardMatch_title:before{
        width: 28px;
        height: 31px;
        background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/health/koushao.png") no-repeat;
        background-size: 100% 100%;
        content: '';
        display: inline-block;
        vertical-align: middle;
        margin-top: -5px;
        margin-left: 20px;
        margin-right: 5px;
      }
      .sportsPoster_cardMatch_reach{
        padding-top: 22px;
        text-align: center;
        view:nth-child(1){
          font-size: 40px;
          color: rgba(52, 52, 52, 1);
          font-weight: bold;
          height: 30px;
        }
        view:nth-child(2){
          color: rgba(86, 86, 86, 1);
          font-size: 26px;
          line-height: 65px;
          height: 65px;
        }
      }
      .sportsPoster_cardMatch_Details{
        margin-top:23px;
        height: 54px;
        text-align: center;
        line-height: 1;
        view:nth-child(1){
          width: 244px;
          border-right: 1px solid rgba(230,230,230,1);
        }
        view:nth-child(2){
          width: 199px;
          border-right: 1px solid rgba(230,230,230,1);
        }
        view:nth-child(3){
          flex: 1;
          flex-grow: 1;
        }
        text{
          display: block;
        }
        text:nth-child(1){
          color: rgba(255, 85, 96, 1);
          font-size: 26px;
          font-weight: bold;
        }
        text:nth-child(2){
          color: rgba(86, 86, 86, 1);
          font-size: 20px;
          line-height: 46px;
          height: 46px;
        }
      }
      .sportsPoster_cardMatchStatus{
        font-size: 20px;
        color: rgba(86, 86, 86, 1);
        text-align: center;
        margin-top: 30px;
      }
      .sportsPoster_cardMatchStatus:before{
        content: '';
        display: inline-block;
        width:54px;
        height:2px;
        background:rgba(230,230,230,1);
        border-radius:1px;
        vertical-align: middle;
        margin-right: 10px;
        margin-top: -3px;
      }
      .sportsPoster_cardMatchStatus:after{
        content: '';
        display: inline-block;
        width:54px;
        height:2px;
        background:rgba(230,230,230,1);
        border-radius:1px;
        vertical-align: middle;
        margin-left: 10px;
        margin-top: -3px;
      }
    }
    .sportsPoster_cardBottom{
      background: rgba(255, 221, 226, 1);
      border-radius:20px;
      padding: 0 6px 6px 6px;
      margin-top: 21px;
      .sportsPoster_cardBottom_title{
        height: 90px;
        line-height: 90px;
        font-size:28px;
        font-family:PingFang SC;
        font-weight:600;
        color:rgba(51,51,51,1);
      }
      .sportsPoster_cardBottom_title:before{
        width: 30px;
        height: 30px;
        background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/icon66.png") no-repeat;
        background-size: 100% 100%;
        display: inline-block;
        content: '';
        vertical-align: middle;
        margin:-7px 10px 0 15px;
      }
      .sportsPoster_cardBottom_icon{
        width:678px;
        height:329px;
        background:rgba(255,255,255,1);
        border-radius:0px 0px 16px 16px;
        margin: 0 auto;
        position: relative;
        .sportsPoster_cardBottom_iconImg{
          padding: 50px 65px 0 65px;
          justify-content: space-between;
          .img_icon{
            width: 112px;
            height: 112px;
          }
          .img_bg1{
            background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/icon74.png") no-repeat;
            background-size: 100% 100%;
            position: relative;
            z-index: 1;
          }
          .img_bg2{
            background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/icon72.png") no-repeat;
            background-size: 100% 100%;
            position: relative;
            z-index: 1;
          }
          .img_bg3{
            background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/icon73.png") no-repeat;
            background-size: 100% 100%;
            position: relative;
            z-index: 1;
          }
        }
        .sportsPoster_cardBottom_iconDetails{
          padding: 15px 63px 0 57px;
          text-align: center;
          position: relative;
          .iconDetail1{
            width: 125px;
          }
          .iconDetail2{
            margin-left: 88px;
          }
          .iconDetail3{
            margin-left: 97px;
          }
          .iconDetails_title{
            font-size:24px;
            font-weight:600;
            olor:rgba(51,51,51,1);

          }
          .iconDetails_work{
            padding-top: 10px;
            font-size:20px;
            font-weight:400;
            color:rgba(165,165,165,1);
          }
          .iconDetails_date{
            width:80px;
            height:30px;
            background:rgba(7,192,194,1);
            border-radius:15px;
            line-height: 30px;
            font-size:20px;
            font-family:PingFang SC;
            font-weight:400;
            color:rgba(255,254,254,1);
            margin:  0 auto;
            margin-top: 19px;
          }
        }
        .sportsPoster_line{
          position: absolute;
          width:385px;
          height:1px;
          background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/icon70.png") no-repeat;
          background-size: 100% 100%;
          top: 105px;
          left: 149px;
        }
      }
    }
  }
}
