page{
  background: #F2F2F2;
  width: 100%;
  line-height: 100%;
  box-sizing: border-box;
}
.cleanfix{
  display: flex;
}
.user_box{
  width: 100%;
  background: rgba(242, 242, 242, 1);
  box-sizing: border-box;
  .user_Title{
     height: 351px;
     background: rgba(7, 192, 194, 1);
     padding:78px 38px 0 28px;
    .user_title_Details{
      height: 112px;
      line-height: 112px;
      .user_title_DetailsImg{
        width: 112px;
        height: 112px;
        border-radius: 50px;
        display: inline-block;
        image{
          width: 100%;
          height: 100%;
          vertical-align: middle;
          border-radius: 50px;
        }
      }
      .user_title_userName{
        display: inline-block;
        font-size: 26px;
        margin-left: 20px;
        color: #FFFFFF;
        font-weight: bold;
      }
    }
    .user_title_earnings{
      height: 288px;
      width: 690px;
      background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/user/biaoti.png");
      background-size: 100% 100%;
      position: relative;
      z-index: 10;
      margin-top: -64px;
      .user_title_earningsBox{
        padding:179px 0 33px 0  ;
        text-align: center;
        font-weight: bold;
        font-size: 38px;
        color: rgba(254, 87, 95, 1);
       .user_earnings_bean{
         flex: 1;
         flex-grow:1 ;
         border-right: 1px solid rgba(230, 230, 230, 1);
         height:76px;
         line-height: 1.1;
       }
       .user_earnings_getBean{
         flex: 1;
         flex-grow: 1;
         height: 76px;
         line-height: 1.1;
       }
       .user_earnings_type{
         font-weight: normal;
         font-size: 23px;
         color: rgba(85, 85, 85, 1);
         padding-top: 15px;
       }
      }
      .user_code{
        position: absolute;
        width: 40px;
        height: 40px;
        right: 0;
        top: 0;
        background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/user/saoyisao.png") no-repeat;
        background-size: 100% 100%;
      }
      .user_Toast{
        position: absolute;
        width: 34px;
        height: 34px;
        background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/user/details.png");
        background-size: 100% 100%;
        z-index: 6;
        right: 37px;
        top: 165px;
      }
    }
  }
  .user_body_context{
    position: relative;
    z-index: 5;
    background:#F2F2F2;
    padding-top: 85px;
    margin-top: -80px;
    border-radius:20px 20px 0px 0px;
    .user_tab{
       width: 694px;
       margin: 0 auto;
      .user_tabInvite{
        height: 102px;
        line-height: 102px;
        padding: 0 30px 0 23px;
        justify-content: space-between;
        background: rgba(255, 255, 255, 1);
        border-radius: 20px;
      }
      .user_bgtab1:before{
        width: 40px;
        height: 40px;
        content: '';
        display: inline-block;
        background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/user/tab1.png") no-repeat;
        background-size: 100% 100%;
        vertical-align: middle;
        margin-top: -6px;
        margin-right:16px;
        font-size: 0px;
      }
    }
    .user_tabTitle{
      color: rgba(52, 52, 52, 1);
      font-size: 26px;
    }
    .user_tabLink{
      width: 19px;
      height: 29px;
      background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/user/newLinkgo.png") no-repeat;
      background-size: 100% 100%;
      margin-top: 38px;
    }
    .user_tabMargin{
      padding-top: 20px;
      border-radius: 20px;
      .user_tabOperate{
        height: 101px;
        line-height: 101px;
        padding: 0 30px 0 23px;
        justify-content: space-between;
        background: rgba(255, 255, 255, 1);
      }
      .user_tabOperate:first-child{
        border-radius: 20px 20px 0 0 ;
      }
      .user_tabOperate:last-child{
        border-radius: 0px 0px 20px 20px ;
      }
      .user_bgtab2:before{
        width: 40px;
        height: 40px;
        content: '';
        display: inline-block;
        vertical-align: middle;
        margin-top: -6px;
        margin-right:16px;
        font-size: 0px;
        background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/user/tab2.png") no-repeat;
        background-size: 100% 100%;
      }
      .user_bgtab3:before{
        width: 40px;
        height: 40px;
        content: '';
        display: inline-block;
        vertical-align: middle;
        margin-top: -6px;
        margin-right:16px;
        font-size: 0px;
        background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/user/tab3.png") no-repeat;
        background-size: 100% 100%;
      }
      .user_bgtab4:before{
        width: 40px;
        height: 40px;
        content: '';
        display: inline-block;
        vertical-align: middle;
        margin-top: -6px;
        margin-right:16px;
        font-size: 0px;
        background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/user/tab4.png") no-repeat;
        background-size: 100% 100%;
      }
      .user_bgtab5:before{
        width: 40px;
        height: 40px;
        content: '';
        display: inline-block;
        vertical-align: middle;
        margin-top: -6px;
        margin-right:16px;
        font-size: 0px;
        background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/user/tab5.png") no-repeat;
        background-size: 100% 100%;
      }.user_bgtab6:before{
         width: 40px;
         height: 40px;
         content: '';
         display: inline-block;
         vertical-align: middle;
         margin-top: -6px;
         margin-right:16px;
         font-size: 0px;
         background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/user/tab6.png") no-repeat;
         background-size: 100% 100%;
       }
    }
  }
}
.clearAfter:after{
  border: none;
}
