.payScice_box {
  padding: 48px 32px 87px;
  position: relative;
  z-index: 1000;
  background: #ef476f;
  .payScice_shop_good {
    width: 322px;
    height: 103px;
    margin: 0px auto 0;
    background: url("https://wechat-config.dakale.net/miniprogram/active/8.8/active8_8_12.png")
      no-repeat;
    background-size: 100% 100%;
  }
  .payScice_shop_logo {
    width: 453px;
    height: 64px;
    margin: 121px auto 0;
    background: url("https://wechat-config.dakale.net/miniprogram/active/8.8/active8_8_13.png")
      no-repeat;
    background-size: 100% 100%;
  }
}
