.payScice_box {
  padding: 48px 32px 87px;
  position: relative;
  z-index: 1000;
  background: #1c3e6c;
  z-index: 1;
  .payScice_shop_good {
    width: 340px;
    height: 61px;
    margin: 0px auto 0;
    background: url("https://wechat-config.dakale.net/miniprogram/active/midautumn/midautumn_5.png")
      no-repeat;
    background-size: 100% 100%;
  }
  .payScice_shop_logo {
    width: 453px;
    height: 64px;
    margin: 121px auto 0;
    background: url("https://wechat-config.dakale.net/miniprogram/active/8.8/active8_8_13.png")
      no-repeat;
    background-size: 100% 100%;
  }
  .payScice_goods_box {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .payScice_goods_btn {
    width: 190px;
    height: 60px;
    border-radius: 35px;
    border: 2px solid #ffffff;
    margin: 40px auto 0;
    font-size: 28px;
    font-weight: 600;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
