page {
  width: 100%;
  height: 100%;
  background: #ffffff;
  .recharge_box {
    width: 100%;
    height: 100%;
    line-height: 1;
    background: #ffffff;
    .recharge_content_box {
      padding: 40px 28px 0;
    }
    .recharge_content_label {
      font-size: 28px;
      font-weight: 400;
      color: #333333;
    }
    .recharge_content_input {
      margin-top: 36px;
      display: block;
      font-size: 48px;
      font-weight: 400;
      color: #333333;
      height: 60px;
      line-height: 60px;
    }
    .recharge_content_liner {
      width: 686px;
      height: 2px;
      background: #e5e5e5;
      border-radius: 1px;
      margin-top: 12px;
    }
    .recharge_wrong {
      margin-top: 16px;
      font-size: 24px;
      font-weight: 400;
      color: #ef476f;
    }
  }
  .recharge_title {
    margin-top: 40px;
    font-size: 28px;
    font-weight: 400;
    color: #333333;
    line-height: 28px;
  }
  .recharge_select_info {
    margin-top: 24px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .recharge_select_box {
    width: 218px;
    padding: 36px 0 24px;
    box-sizing: border-box;
    border-radius: 8px;
    margin-bottom: 16px;
  }
  .recharge_select_right {
    margin-right: 16px;
  }
  .recharge_select_boxStyle1 {
    background: #e3c763;
    .recharge_select_price {
      font-size: 40px;
      font-weight: 600;
      color: #ffffff;
      text-align: center;
    }
    .recharge_select_pay {
      font-size: 24px;
      font-weight: 400;
      color: #ffffff;
      padding-top: 8px;
      text-align: center;
    }
    .recharge_select_title {
      padding-top: 8px;
      font-size: 24px;
      font-weight: 400;
      color: #ffffff;
      text-align: center;
    }
    .recharge_select_font {
      font-size: 24px;
      font-weight: 400;
      color: #ffffff;
      text-align: center;
      padding-top: 6px;
    }
  }
  .recharge_select_boxStyle2 {
    background: #ffffff;
    border: 1px solid #e5e5e5;
    .recharge_select_price {
      font-size: 40px;
      font-weight: 600;
      color: rgba(51, 51, 51, 1);
      text-align: center;
    }
    .recharge_select_pay {
      font-size: 24px;
      font-weight: 400;
      color: #ef476f;
      padding-top: 8px;
      text-align: center;
    }
    .recharge_select_title {
      padding-top: 8px;
      font-size: 24px;
      font-weight: 400;
      color: rgba(218, 158, 43, 1);
      text-align: center;
    }
    .recharge_select_font {
      font-size: 24px;
      font-weight: 400;
      color: rgba(218, 158, 43, 1);
      text-align: center;
      padding-top: 6px;
    }
  }
  .recharge_select_toast {
    margin: 40px auto 0;
    font-size: 24px;
    font-weight: 400;
    color: #999999;
    line-height: 24px;
    text-align: center;
  }
  .recharge_select_toast1 {
    margin: 16px auto 0;
    font-size: 24px;
    font-weight: 400;
    color: #999999;
    line-height: 24px;
    text-align: center;
  }
  .recharge_video_box {
    width: 523px;
    height: 56px;
    background: #fef4f7;
    border-radius: 30px;
    border: 1px solid #ef476f;
    margin: 0 auto;
    border-radius: 42px;
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 400;
    color: #333333;
    line-height: 24px;
    position: fixed;
    bottom: 162px;
    left: 0;
    right: 0;
    z-index: 100;
    .recharge_icon {
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 100;
      width: 90px;
      height: 90px;
      background: url(https://wechat-config.dakale.net/miniprogram/image/icon703.png)
        no-repeat;
      background-size: 100% 100%;
    }
    .videoBean_desc {
      text-indent: 90px;
    }
    .recharge_left {
      margin-left: 24px;
      font-weight: 400;
      color: #ef476f;
    }
  }
  .recharge_select_btn {
    width: 606px;
    height: 80px;
    border-radius: 40px;
    font-size: 36px;
    font-weight: 600;
    margin-right: 32px;
  }
  .recharge_select_color1 {
    background: #ef476f;
    color: #ffffff;
  }
  .recharge_select_color2 {
    opacity: 0.1;
    background: #ef476f;
    color: #ffffff;
  }
  .recharge_bottom_share {
    font-size: 24px;
    font-weight: 400;
    color: #333333;
    margin-left: 32px;
  }
  .recharge_bottom_share::before {
    width: 48px;
    height: 48px;
    background: url(https://wechat-config.dakale.net/miniprogram/image/icon575.png)
      no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
    display: block;
    content: "";
    margin-bottom: 3px;
  }
  .recharge_bottom_layer {
    height: 128px;
    background: #ffffff;
    bottom: 0;
    right: 0px;
    left: 0px;
    border-top: 2px solid #e5e5e5;
    position: fixed;
    background: #ffffff;
  }
}
