page{
  width: 100%;
  height: 100%;

}
.favOrder_box{
  background: #F5F5F5;
  width: 100%;
  height: 100%;
  overflow: hidden;
  .order_details_box{
    width: 686px;
    background: #FFFFFF;
    border-radius: 12px;
    margin: 32px auto 0;
    .order_details_merchant{
      margin: 0 32px;
      height: 91px;
      align-items: center;
      display: flex;
      border-bottom: 1px solid rgba(229, 229, 229, 1);
      .order_merchant_details{
        height: 50px;
        width: 100%;
        display: flex;
        align-items: center;
        .order_merchant_userProfile{
          width: 50px;
          height: 50px;
          background: #e6e6e6;
        }
        .order_name{
          max-width: 320px;
          height: 32px;
          font-size: 28px;
          font-family: PingFangSC-Medium, PingFang SC;
          font-weight: 600;
          color: #333333;
          margin-left: 16px;
        }
        .order_merchant_go{
          width: 24px;
          height: 24px;
          margin-left: 8px;
          background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon253.png") no-repeat;
          background-size: 100% 100%;
        }
        .order_accBox{
          margin-left: auto;
          height: 50px;
          display: flex;
          align-items: center;
          .order_city_icon1 {
            background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon79.png") no-repeat;
            background-size: 100% 100%;
            width: 48px;
            height: 48px;

          }

          .order_city_icon2 {
            margin: 0  28px;
            width: 2px;
            height: 31px;
            background: rgba(153, 153, 153, 1);
          }

          .order_city_icon3 {
            width: 48px;
            height: 48px;
            background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon80.png") no-repeat;
            background-size: 100% 100%;
          }
        }
      }
    }
    .order_shopDetails{
      margin: 23px 32px 0px;
      padding-bottom: 31px;
      border-bottom: 1px solid rgba(229, 229, 229, 1);
      .order_shopDetails_box{
        width: 100%;
        height: 160px;
        position: relative;
        display: flex;
        .order_shopDetails_Img{
          width: 160px;
          height: 160px;
          border-radius: 8px;
        }
        .order_shopDetails_dec{
          margin-left: 24px;
          font-family: PingFangSC-Medium, PingFang SC;
          font-weight: 600;
          color: #333333;
          .order_shopDetails_title{
            width: 196px;
            height: 84px;
            font-size: 28px;
            line-height: 42px;
          }
          .order_toast{
            font-size: 20px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: #999999;
          }
          .order_price{
            height: 32px;
            font-size: 32px;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: 600;
            color: #333333;
            margin-top: 8px;
          }
        }
        .order_shopDetails_price{
          position: absolute;
          bottom: 4px;
          right: 0px;
          height: 48px;
          width: 169px;
          overflow: hidden;
          display: flex;
          align-items: center;
          text-align: center;
          .order_shop_btnBox{
            width: 48px;
            height: 48px;
          }
          .order_shop_num{
            width: 73px;
            text-align: center;
            height: 48px;
            line-height: 48px;
          }
          .order_shop_btn1{
            background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon254.png") no-repeat;
            background-size: 100% 100%;
          }
          .order_shop_btn2{
            background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon255.png") no-repeat;
            background-size: 100% 100%;
          }
        }
      }
      .order_shopDetails_active{
        margin-top: 32px;
        height: 24px;
        font-size: 24px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #999999;
      }
    }
    .order_shop_time{
      padding-bottom: 32px;
      margin:32px 32px 0;
      font-size: 28px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #333333;
      .order_shop_after{
        margin-top: 20px;
      }
    }
  }
  .order_details_payType{
    width: 686px;
    background: #FFFFFF;
    border-radius: 12px;
    margin: 24px auto 0;
    .order_payType_box{
      margin: 0 32px;
      .order_pay_box{
        width: 100%;
        height: 99px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .order_pay_font{
          height: 28px;
          font-size: 28px;
          font-family: PingFangSC-Regular, PingFang SC;
          font-weight: 400;
          color: #333333;
          line-height: 28px;
          display: flex;
          align-items: center;
          .order_pay_fontToast{
            max-width: 360px;
            font-size: 24px;
            color: rgba(153, 153, 153, 1);
            display: inline-block;
            margin-left: 16px;
            height: 28px;
            line-height: 28px;
          }
        }
        .order_pay_iconBox{
          width: 30px;
          height: 30px;
        }
        .order_pay_icon1{
          background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon256.png") no-repeat;
          background-size: 100% 100%;
        }
        .order_pay_icon2{
          background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon257.png") no-repeat;
          background-size: 100% 100%;
        }
      }
      //.order_pay_line{
      //  border-bottom: rgba(229, 229, 229, 1) 1px solid;
      //}
    }
  }
  .order_details_sumbit{
    height: 128px;
    background: #FFFFFF;
    box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    .order_rmb{
      padding: 35px 32px 0;
      font-size: 28px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #333333;
      line-height: 28px;
    }
    .order_beanRmb{
      margin-top: 12px;
      margin-left: 32px;
      height: 29px;
      font-size: 20px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #666666;
      line-height: 29px;
      .order_computed{
        display: inline-block;
        margin-left: 30px;
      }
    }
    .payBtn{
      width: 380px;
      height: 80px;
      background: #07C0C2;
      border-radius: 8px;
      text-align: center;
      font-size: 32px;
      font-weight: 400;
      color: #FFFFFF;
      line-height: 80px;
      position: absolute;
      top: 24px;
      right: 32px;
    }
  }
}
