@import "@/assets/css/global.scss";

@mixin gdIcon($url) {
  &::before {
    content: "";
    display: block;
    @include whEqual(36px);
    background: url($url);
    background-size: 100%;
    margin-right: 24px;
  }
}

.group_order_manage {
  &::before {
    content: "";
    display: block;
    height: 92px;
  }
  .group_order_tab {
    position: fixed;
    height: 92px;
    left: 0;
    right: 0;
    top: 0;
    background: #ffffff;
    border-radius: 0px 0px 20px 20px;
    padding: 0 32px;
  }
  .order_manage_group {
    padding: 32px;
    .order_manage_cell {
      background: #ffffff;
      border-radius: 8px;
      & + .order_manage_cell {
        margin-top: 24px;
      }
      .order_manage_head {
        @include flexCenterA;
        justify-content: space-between;
        padding: 32px;
        border-bottom: 1px solid #e5e5e5;
        .order_manage_number {
          font-size: 28px;
          font-weight: 600;
          color: #333333;
          Text {
            color: #ef476f;
          }
        }
        .order_manage_status {
          font-size: 24px;
          font-weight: 400;
          color: #999999;
          &.pay {
            color: #07c0c2;
          }
        }
      }
      .order_manage_info {
        padding: 32px;
        .order_info_head {
          padding-bottom: 32px;
          border-bottom: 1px solid #e5e5e5;
          .order_info_shop {
            @include flexCenterA;
            .order_info_img {
              @include whEqual(50px);
              border-radius: 50%;
              background-color: #d8d8d8;
              background-size: 100%;
            }
            .order_info_shopName {
              // @include fontHideOnly;
              flex: 1;
              margin-left: 16px;
            }
          }
          .order_info_title {
            @include flexCenterA;
            margin-top: 32px;
            .order_title {
              @include fontHideOnly;
              font-size: 28px;
              font-weight: 600;
              color: #333333;
              flex: 1;
              margin-right: 5px;
            }
            .order_title_footer {
              @include flexCenterA;
              font-size: 24px;
              font-weight: 400;
              color: #999999;
              &::after {
                content: "";
                display: inline-block;
                @include whEqual(24px);
                background: url("https://wechat-config.dakale.net/miniprogram/relay/icon_16.png");
                background-size: 100%;
              }
            }
          }
        }
        .order_info_goods {
          padding-top: 32px;
          .order_goods_cell {
            @include flexCenterA;
            .order_goods_name {
              @include fontHideOnly;
              flex: 1;
              font-size: 24px;
              font-weight: 400;
              color: #333333;
            }
            .order_goods_number {
              font-size: 24px;
              font-weight: 400;
              color: #999999;
              margin-left: 12px;
            }
            .order_goods_price {
              font-size: 24px;
              font-weight: 400;
              color: #333333;
              margin-left: 137px;
            }
            & + .order_goods_cell {
              margin-top: 12px;
            }
          }
        }
        .order_info_pay {
          @include flexCenterA;
          justify-content: space-between;
          margin-top: 25px;
          .order_pay_time {
            font-size: 20px;
            font-weight: 400;
            color: #999999;
          }
          .order_pay_footer {
            display: flex;
            align-items: flex-end;
            .order_pay_total {
              font-size: 20px;
              color: #999999;
              font-weight: 400;
              margin-right: 32px;
            }
            .order_pay_price {
              font-size: 28px;
              color: #333333;
              font-weight: 600;
              .order_price_num {
                color: #ef476f;
                &::before {
                  content: "￥";
                  display: inline;
                  font-size: 20px;
                  margin-right: 5px;
                }
              }
            }
          }
        }
        .order_info_user {
          margin-top: 40px;
          background: #fbfbfb;
          border-radius: 8px;
          .order_user_head {
            @include flexCenterA;
            height: 96px;
            padding: 0 32px;
            font-size: 32px;
            font-weight: 600;
            color: #333333;
            border-bottom: 1px solid #e5e5e5;
          }
          .order_user_content {
            padding: 32px;
            .order_user_cell {
              & + .order_user_cell {
                margin-top: 32px;
              }
              .order_user_title {
                @include flexCenterA;
                font-size: 24px;
                color: #333333;
                font-weight: 400;
                .order_ui_user {
                  @include gdIcon(
                    "https://wechat-config.dakale.net/miniprogram/relay/icon_27.png"
                  );
                }
                .order_ui_shop {
                  @include gdIcon(
                    "https://wechat-config.dakale.net/miniprogram/relay/icon_26.png"
                  );
                }
                .order_ui_order {
                  @include gdIcon(
                    "https://wechat-config.dakale.net/miniprogram/relay/icon_28.png"
                  );
                }
                .order_user_name {
                  flex: 1;
                  @include fontHideOnly;
                  margin-right: 8px;
                }
                .order_user_phone {
                  @include flexCenterA;
                  color: #999999;
                  &::after {
                    content: "";
                    display: inline-block;
                    @include whEqual(24px);
                    background: url("https://wechat-config.dakale.net/miniprogram/relay/phone.png");
                    background-size: 100%;
                    margin-left: 12px;
                  }
                }
                .order_address_name {
                  font-size: 28px;
                  font-weight: 600;
                  color: #333333;
                }
                .order_user_remark {
                  @include flexCenterA;
                  Text {
                    flex: 1;
                    color: #ef476f;
                  }
                }
              }
              .order_user_info {
                margin-top: 20px;
                padding-left: 60px;
                .order_user_cont {
                  font-size: 24px;
                  font-weight: 400;
                  color: #999999;
                  line-height: 36px;
                }
                .order_user_pop {
                  @include flexCenterA;
                  margin-top: 12px;
                  font-size: 24px;
                  font-weight: 400;
                  color: #333333;
                  &::after {
                    content: "";
                    display: inline-block;
                    @include whEqual(24px);
                    background: url("https://wechat-config.dakale.net/miniprogram/relay/phone.png");
                    background-size: 100%;
                    margin-left: 12px;
                  }
                }
              }
            }
          }
        }
      }
    }

    .order_null {
      font-size: 28px;
      font-weight: 400;
      color: #999999;
      text-align: center;
      &::before {
        content: "";
        display: block;
        margin: 0 auto;
        @include whEqual(300px);
        background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/relay/icon_33.png")
          no-repeat;
        background-size: 100%;
        margin-bottom: 32px;
      }
    }
  }
}
