page {
  width: 100%;
  height: 100%;
  overflow: auto;
  background: #f5f5f5;
}

.kolGoods_details_kolGoodsDetails {
  width: 100%;
  background: #f5f5f5;
  padding-bottom: 188px;
  color: #ffffff;

  .kolGoodsTitle_top {
    padding: 0 32px;
    height: 232px;
    background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon258.png")
      center/cover;
    position: relative;

    .kolGoodsTitle_pad {
      padding-top: 32px;
    }

    .kol_noPrice {
      width: 112px;
      height: 36px;
      border-radius: 4px;
      border: 1px solid #ffffff;
      position: absolute;
      right: 32px;
      bottom: 100px;
      text-align: center;
    }

    .kolGoodsTitle_status {
      height: 60px;
      display: flex;
      align-items: center;

      .kolGoodsTitle_iconBox {
        width: 60px;
        height: 60px;
      }

      .kolGoodsTitle_icon1 {
        background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon259.png")
          no-repeat;
        background-size: 100% 100%;
      }

      .kolGoodsTitle_icon2 {
        background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/wait.png")
          no-repeat;
        background-size: 100% 100%;
      }

      .kolGoodsTitle_icon3 {
        background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/closeing.png")
          no-repeat;
        background-size: 100% 100%;
      }

      .kolGoodsTitle_font {
        height: 60px;
        line-height: 60px;
        font-size: 48px;
        margin-left: 16px;
        font-weight: 600;
      }
    }

    .kolGoodsTitle_dec {
      margin-top: 16px;
      height: 24px;
      font-size: 24px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      line-height: 24px;
      margin-left: 76px;
    }
  }

  .descriptionCard_title {
    width: 686px;
    margin: -74px auto 0;
    background: #ffffff;
    border-radius: 12px;
    position: relative;
    z-index: 10;

    .descriptionCard_box {
      padding: 24px 32px 0px;
      font-size: 24px;

      .descriptionCard_merchant {
        height: 64px;
        display: flex;
        align-items: center;

        .descriptionCard_profile {
          width: 64px;
          height: 64px;
          border-radius: 50%;
        }

        .descriptionCard_merchantTitle {
          max-width: 280px;
          height: 42px;
          font-size: 28px;
          font-family: PingFangSC-Medium, PingFang SC;
          font-weight: 600;
          color: #333333;
          line-height: 42px;
          margin-left: 29px;
          margin-right: 16px;
        }

        .descriptionCard_goIcon {
          width: 36px;
          height: 36px;
          background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon260.png")
            no-repeat;
          background-size: 100% 100%;
        }
      }

      .descriptionCard_merchantShop {
        height: 120px;
        margin-top: 32px;
        display: flex;

        .descriptionCard_merchantLogo {
          width: 120px;
          height: 120px;
          border-radius: 8px;
        }

        .descriptionCard_shop_details {
          margin-left: 24px;

          .descriptionCard_goods_name {
            width: 280px;
            max-height: 84px;
            line-height: 42px;
          }

          .descriptionCard_goods_num {
            padding-top: 8px;
            max-width: 320px;
          }
          .descriptionCard_goods_time {
            padding-top: 16px;
          }
        }
      }

      .descriptionCard_shop_price {
        height: 32px;
        margin-top: 5px;
        margin-left: auto;
      }

      .descriptionCard_goods_liner {
        width: 622px;
        height: 1px;
        background: #e5e5e5;
        margin: 31px auto 0;
      }

      .descriptionCard_goods_tags {
        height: 84px;

        .kolTagBox {
          height: 36px;

          .kolTagIcons {
            width: 36px;
            height: 36px;
          }

          .kolTag_font {
            height: 36px;
            line-height: 36px;
            margin-left: 4px;
            margin-right: 16px;
          }
        }
      }

      .codeBox {
        position: relative;
        height: 304px;
        .code_swiper {
          width: 304px;
          height: 304px;
        }

        .code_left {
          position: absolute;
          top: 137px;
          left: 0;
        }

        .code_right {
          position: absolute;
        }

        .codePosition {
          width: 36px;
          height: 36px;
          top: 137px;
          right: 0;
        }
      }
    }
  }

  .kolGoods_details {
    width: 686px;
    background: #ffffff;
    border-radius: 12px;
    margin: 24px 32px 0;

    .kolGoods_details_price {
      height: 104px;
    }

    .kolGoods_detailsBox {
      padding: 32px 32px 0;

      .kolGoods_details_height {
        height: 24px;
      }

      .kolGoods_details_top {
        margin-top: 24px;
      }

      .kolGoods_details_liner {
        width: 622px;
        height: 2px;
        background: #e5e5e5;
        margin: 31px auto 0;
      }
    }
  }

  .kolGoods_card {
    width: 686px;
    background: #ffffff;
    border-radius: 12px;
    margin: 24px auto;

    .kolGoods_cardBox {
      padding: 32px 32px 40px;

      .kolGoods_cardHeight {
        height: 24px;
        margin-top: 24px;

        .kolGoods_cardliner {
          width: 2px;
          height: 20px;
          background: #e5e5e5;
          border-radius: 1px;
          margin: 0 16px;
        }
      }

      .kolGoods_payHeight {
        height: 30px;
        line-height: 30px;
        margin-top: 24px;

        .pay_icon_box {
          width: 30px;
          height: 30px;
          margin-right: 11px;
        }
      }
    }
  }

  .kolGoods_bottom_btnBox {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 128px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 1;
    .kolGoods_bottom_btn {
      padding: 0 32px;
      height: 80px;
      display: flex;
    }
    .kolGoods_submit1 {
      width: 220px;
      height: 80px;
      border-radius: 8px;
      border: 2px solid #07c0c2;
      text-align: center;
      line-height: 80px;
    }

    .kolGoods_submit {
      width: 220px;
      height: 80px;
      border-radius: 8px;
      border: 2px solid #999999;
      text-align: center;
      line-height: 80px;
    }
  }

  .kolGoods_details_refund {
    width: 686px;
    height: 320px;
    background: #ffffff;
    border-radius: 12px;
    margin: -74px auto 0;
    position: relative;
    z-index: 10;

    .refund_top {
      padding: 48px 32px 0;

      .refund_top_box {
        margin: 0 55px;
        height: 96px;
        display: flex;
        align-items: center;
        .refund_icon_margin1 {
          margin-right: 16px;
        }
        .refund_icon_box {
          width: 96px;
          height: 96px;
          background: rgba(16, 133, 136, 0.1);
          border-radius: 50%;
        }
        .refund_icon {
          width: 60px;
          height: 60px;
        }
        .refund_icon1 {
          background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/refund1.png")
            no-repeat;
          background-size: 100% 100%;
        }
        .refund_icon2 {
          background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/refund2.png")
            no-repeat;
          background-size: 100% 100%;
        }
        .refund_icon3 {
          background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/refund3.png")
            no-repeat;
          background-size: 100% 100%;
        }
        .refund_icon_margin2 {
          margin-right: 28px;
        }
        .refund_icon_liner1 {
          width: 68px;
          height: 96px;
          background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/refund4.png")
            no-repeat;
          background-size: 100% 100%;
        }
        .refund_icon_liner2 {
          width: 68px;
          height: 96px;
          background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/refund5.png")
            no-repeat;
          background-size: 100% 100%;
        }
        .refund_icon_margin3 {
          margin-right: 28px;
        }
        .refund_icon_margin4 {
          margin-right: 17px;
        }
        .refund_icon_bgColor {
          background: #f5f5f5;
        }
      }
      .refund_top_font {
        margin: 20px 55px 0;
        height: 24px;
      }
      .refund_top_liner {
        margin-top: 31px;
        width: 622px;
        height: 2px;
        background: #e5e5e5;
      }
    }
    .refund_text {
      margin-top: 32px;
      text-align: center;
    }
  }
}

.tests {
  width: 304px;
  height: 304px;
}

.code_count {
  margin-top: 16px;
  height: 24px;
  text-align: center;
}

.code_num {
  height: 24px;
  position: relative;
  text-align: center;
  margin-top: 10px;
}

.code_onRead {
  height: 36px;
  margin-top: 32px;

  .onReadly_iconBox {
    width: 36px;
    height: 36px;
    margin-right: 8px;
  }
}

.pay_dec {
  margin-top: 80px;
  padding-bottom: 32px;
}

.pay_dec_margin {
  margin-top: 20px;
}

.kolgoods_go {
  margin-top: 47px;
  height: 100px;
  border-top: 1px solid #e5e5e5;

  .kolgoods_goIcon_box {
    width: 36px;
    height: 36px;
    margin-right: 16px;
  }
}
.kolgoods_go_center {
  flex: 1;
  .kolgoods_go_leftBox {
    width: 100%;
    height: 36px;
    border-right: 1px solid rgba(229, 229, 229, 1);
  }
}
.kolgoods_go_left {
  flex: 1;

  .kolgoods_go_leftBox {
    width: 100%;
    height: 36px;
    border-right: 1px solid rgba(229, 229, 229, 1);
  }
}

.kolgoods_go_right {
  flex: 1;

  .kolgoods_go_rightBox {
    width: 100%;
    height: 36px;
  }
}

.draw_box {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 20px 20px 0px 0px;
  background: #ffffff;
  z-index: 100001;

  .draw_top {
    height: 95px;
    padding: 0 32px;

    border-bottom: 1px solid #e5e5e5;
  }

  .draw_center {
    padding: 44px 32px 0;

    .draw_select {
      height: 36px;
      margin-bottom: 40px;
    }

    .draw_selectIcon {
      width: 36px;
      height: 36px;
    }
  }
}

.codeBox {
  position: relative;
  height: 304px;
  margin-top: -12px;

  .code_swiper {
    width: 304px;
    height: 304px;
    position: relative;

    .code_onloader {
      width: 304px;
      height: 304px;
    }
  }

  .code_left {
    position: absolute;
    top: 137px;
    left: 0;
  }

  .code_right {
    position: absolute;
  }

  .codePosition {
    width: 36px;
    height: 36px;
    top: 137px;
    right: 0;
  }
}
