page {
  width: 100%;
  height: 100%;
  line-height: 1;
}

.repeatStatus_box {
  width: 100%;
  height: 100%;
  padding-top: 64px;
  box-sizing: border-box;
  background: #ffffff;
  line-height: 1;
  overflow: hidden;
  .repeatStatus_card{
    width: 300px;
    height: 300px;
    margin: 0px auto;
    background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon359.png") no-repeat;
    background-size: 100%  100%;
  }
  .repeatStatus_font{
    margin-top: 32px;
    height: 28px;
    font-size: 28px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #999999;
    line-height: 28px;
    text-align: center;
  }
}
