@import "@/assets/css/global.scss";

.SelfLiftingPointSet_Form {
  .slp_heard {
    background: #ffffff;
    padding: 32px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
    .slp_heard_title {
      font-size: 32px;
      font-weight: 600;
      color: #333333;
      flex: 1;
    }
    .slp_heard_btn {
      @include flexCenterA;
      padding: 0 14px;
      height: 40px;
      border-radius: 4px;
      border: 1px solid #07c0c2;
      background: #ffffff;
      font-size: 24px;
      font-weight: 400;
      color: #07c0c2;
      &::before {
        content: "";
        display: inline-block;
        @include whEqual(36px);
        margin-right: 4px;
        background: url("https://wechat-config.dakale.net/miniprogram/relay/add_blue.png");
        background-size: 100%;
      }
      &::after {
        border: none;
      }
    }
  }
  .slp_group {
    padding: 32px;
    .slp_cell {
      padding: 32px;
      background: #ffffff;
      border-radius: 12px;
      display: flex;
      & + .slp_cell {
        margin-top: 24px;
      }
      &.select {
        .slp_select {
          background-image: url("https://wechat-config.dakale.net/miniprogram/relay/gc_select2.png");
        }
      }
      .slp_select {
        @include whEqual(36px);
        background: url("https://wechat-config.dakale.net/miniprogram/relay/gc_noselect2.png");
        background-size: 100%;
        margin-right: 25px;
      }
      .slp_content {
        flex: 1;
        .slp_content_top {
          display: flex;
          .slp_content_left {
            flex: 1;
            font-size: 24px;
            color: #333333;
            .slp_content_title {
              font-size: 28px;
              font-weight: 600;
              flex: 1;
            }
            .slp_content_address {
              font-weight: 400;
              color: #999999;
              margin-top: 20px;
            }
            .slp_content_cont {
              margin-top: 12px;
            }
          }
          .slp_content_edit {
            @include whEqual(36px);
            background: url("https://wechat-config.dakale.net/miniprogram/relay/edit_blue.png");
            background-size: 100%;
            margin-left: 27px;
          }
        }
        .slp_content_footer {
          margin-top: 24px;
          margin-bottom: 16px;
          image + image {
            margin-left: 12px;
          }
        }
      }
    }
  }
  .slp_footer {
    @include flexCenterA;
    .slp_footer_left {
      @include flexCenterA;
      flex: 1;
      &::before {
        content: "";
        display: inline-block;
        @include whEqual(30px);
        margin-right: 8px;
        background: url("https://wechat-config.dakale.net/miniprogram/relay/gc_noselect2.png");
        background-size: 100%;
        margin-right: 12px;
      }
      &.select {
        &::before {
          background-image: url("https://wechat-config.dakale.net/miniprogram/relay/gc_select2.png");
        }
      }
      font-size: 24px;
      color: #333333;
    }

    .slp_footer_right {
      @include flexCenterA;
      .slp_submit_total {
        font-size: 24px;
        color: #333333;
        Text {
          color: #07c0c2;
        }
        margin-right: 24px;
      }
      .slp_submit_btn {
        @include sumbitButton;
        width: 280px;
      }
    }
  }

  .slp_null {
    @include flexCenterA;
    flex-direction: column;
    padding-top: 140px;
    .slp_tip {
      font-size: 28px;
      color: #999999;
      text-align: center;
      &::before {
        content: "";
        display: block;
        @include whEqual(300px);
        margin-bottom: 32px;
        background: url("https://wechat-config.dakale.net/miniprogram/relay/gc_self_null.png");
        background-size: 100%;
      }
    }
    .slp_go_add {
      margin-top: 140px;
      .add {
        width: 420px;
        @include sumbitButton;
        &::before {
          content: "";
          display: inline-block;
          @include whEqual(48px);
          margin-right: 8px;
          background: url("https://wechat-config.dakale.net/miniprogram/relay/add_white.png");
          background-size: 100%;
        }
      }
    }
  }
}
