page{
  background: #F2F2F2;
  width: 100%;
  line-height: 100%;
  box-sizing: border-box;
}
html,body{
  background: #F2F2F2;
  width: 100%;
  line-height: 100%;
  box-sizing: border-box;
}
.clearfix{
  display: flex;
}
.take_cardBox {
  width: 100%;
  min-height: 100%;
  .take_cardNode{
    position: absolute;
    z-index: 20;
    top: 190px;
    right: 23px;
    .take_cardNodeIcon{
      background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/health/cansai.png") no-repeat;
      background-size: 100%  100%;
      width: 60px;
      height: 60px;
      margin: 0  auto;
    }
    .take_cardNodefont{
      height: 43px;
      line-height: 43px;
      font-size: 24px;
      color: #FFFFFF;
      font-weight: bold;
    }
  }
  .take_cardBox_title{
    height: 968px;
    background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/health/zhutu.png") no-repeat;
    background-size: 100% 100%;
    position: relative;
    padding:0 30px;
    .take_card_title{
      position: relative;
      padding-top: 59px;
      view:nth-child(1){
        width: 50px;
        height: 50px;
        background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/health/back.png") no-repeat;
        background-size: 100% 100%;
        display: inline-block;
      }
      view:nth-child(2){
        width: 253px;
        height: 52px;
        background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/health/title.png") no-repeat;
        background-size: 100% 100%;
        margin-left: 164px;
        display: inline-block;
      }
    }
    .take_cardBean{
      padding-top: 76px;
      height: 27px;
      text-align: center;
      color: #FFFFFF;
      font-size: 28px;
    }
    .take_enlist{
      width: 480.4px;
      height: 110px;
      margin: 0  auto;
      background:rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      margin-top: 21px;
      position: relative;
      .take_enlistPeople{
        height: 62px;
        line-height: 65px;
        font-size: 28px;
        font-weight: 500;
        text-align: center;
        color: #FFFFFF;
        text{
          color: rgba(255, 228, 0, 1);
        }
      }
      .take_reward{
        font-size: 24px;
        color: #FFFFFF;
        padding:0 22px 0 35px ;
        text{
          display: inline;
          padding-left: 51px;
        }
      }
      .take_time{
        position: absolute;
        left: 0;
        top: 0;
        width: 138.4px;
        height: 40px;
        border-radius: 10px 0px 10px 0px;
        background: rgba(0, 0, 0, 0.2);
        line-height: 40px;
        font-size: 20px;
        color: #FFFFFF;
        text-align: center;
      }
    }
    .take_cardBeanAmount{
      font-size: 66px;
      color: rgba(255, 228, 0, 1);
      height: 67px;
      line-height: 67px;
      text-align: center;
      position: relative;
      margin-top: 21px;
      vertical-align:middle;
      font-family: ZhenyanGB-Regular;
    }
    .take_myStep{
      height: 32px;
      font-size: 22px;
      text-align: center;
      color: #FFFFFF;
      margin-top: 40px;
      text{
        font-size: 40px;
        font-weight: bold;
      }
    }
    .take_schedule{
      margin-top: 25px;
      font-size: 20px;
      color: #FFFFFF;
      text-align: center;
      .take_prompt{
        display: inline-block;
        width:150px;
        height:6px;
        background:rgba(255,244,242,1);
        border-radius:3px;
        vertical-align: middle;
        margin-right: 4px;
        view{
          height:6px;
          background:rgba(255,228,0,1);
          border-radius:3px;
        }
      }
    }
    .take_synchro{
      width: 185px;
      height: 48px;
      position: relative;
      margin-top: 36px;
      margin-left: 505px;
      background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/health/tongbu.png")  no-repeat;
      background-size: 100% 100%;
    }
    .take_contest{
      position: relative;
      width: 690px;
      height: 231px;
      background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/health/faqitiaozhan.png") no-repeat;
      background-size: 100% 100%;
      margin: 0 auto;
      margin-top: 198px;
      z-index: 10;
    }
  }
  .take_cardData{
    height: 470px;
    background: #FFFFFF;
    .take_cardData_title{
      padding-top: 136px;
      margin-left: 30px;
      view{
        color: rgba(51, 51, 51, 1);
        font-size: 28px;
        //display: inline;
        //vertical-align: middle;
      }
      text{
        vertical-align: top;
        display: inline-block;
        font-weight: bold;
      }
      view:before{
        content: '';
        display: inline-block;
        width: 32px;
        height: 32px;
        margin-right: 11px;
        background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/health/shuju.png") no-repeat;
        background-size: 100% 100%;
      }
    }
    .take_card_space{
      margin-top: 24px;
      justify-content: space-between;
      padding-left: 72px;
      padding-right: 70px;
      color: rgba(51, 51, 51, 1);
      height: 32px;
      view{
        font-size: 22px;
      }
      text{
        font-weight: bold;
        font-size: 40px;
      }
    }
    .take_card_identifying{
      margin-top: 23px;
      justify-content: space-between;
      padding-left: 65px;
      padding-right: 81px;
      font-size: 22px;
      color: rgba(153, 153, 153, 1);
      view:nth-child(1):before{
        content: '';
        width: 28px;
        height: 28px;
        background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/health/huangse.png") no-repeat;
        background-size: 100% 100%;
        display: inline-block;
      }
      view:nth-child(2):before{
        content: '';
        width: 28px;
        height: 28px;
        background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/health/zise.png") no-repeat;
        background-size: 100% 100%;
        display: inline-block;
      }
      view:nth-child(3):before{
        content: '';
        width: 28px;
        height: 28px;
        background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/health/hongse.png") no-repeat;
        background-size: 100% 100%;
        display: inline-block;
      }
      text{
        padding-left: 4px;
        min-width: 82px;
        vertical-align: top;
        display:inline-block;
      }
    }
    .take_cardHandle{
      margin-top: 32px;
      padding:0 43px 0 43px;
      justify-content: space-between;
      .take_cardHandle_icon{
        .Handlebg1{
          background:url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/health/yundong.png") no-repeat;
          background-size: 100% 100%;
        }
        .Handlebg2{
          background:url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/health/shenti.png") no-repeat;
          background-size: 100% 100%;
        }
        .Handlebg3{
          background:url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/health/paihangs.png") no-repeat;
          background-size: 100% 100%;
        }
        .Handlebg4{
          background:url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/health/kadou.png") no-repeat;
          background-size: 100% 100%;
        }
        .take_cardHandle_iconImg{
          width: 80px;
          height: 80px;
          margin:0 auto;
        }
        .take_cardHandle_iconTitle{
          color: rgba(51, 51, 51, 1);
          font-size: 26px;
          height: 63px;
          line-height: 63px;
        }
      }
    }
  }
  .take_healthCard{
    margin-top: 20px;
    background: #FFFFFF;
    padding: 0 30px;
    padding-bottom: 20px;
    .take_healthCard_title{
      height: 87px;
      line-height: 87px;
      font-size: 28px;
      font-weight: bold;
      color: rgba(51, 51, 51, 1);
    }
    .take_healthCard_title:before{
      content: '';
      display: inline-block;
      width: 32px;
      height: 32px;
      background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/health/downloadBody.png") no-repeat;
      background-size: 100% 100%;
      vertical-align: middle;
      margin-right: 9px;
    }
    .take_healthCard_Img{
      height: 242px;
      justify-content: space-between;
      .healthCard_Img{
        width: 156px;
        height: 220px;
        .healthCard_Img_headline{
          font-size: 26px;
          color: rgba(52, 52, 52, 1);
          font-weight: bold;
          height: 81px;
          line-height: 81px;
          padding: 0 0px 0 23px;
        }
      }
      .healthCard_bg1{
        background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/health/bg1.png") no-repeat;
        background-size: 100% 100%;
      }
      .healthCard_bg2{
        background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/health/bg2.png") no-repeat;
        background-size: 100% 100%;
      }
      .healthCard_bg3{
        background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/health/bg3.png") no-repeat;
        background-size: 100% 100%;
      }
      .healthCard_bg4{
        background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/health/bg4.png") no-repeat;
        background-size: 100% 100%;
      }
      .healthCard_bg5{
        background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/health/bg5.png") no-repeat;
        background-size: 100% 100%;
      }
      .healthCard_bg6{
        background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/health/bg6.png") no-repeat;
        background-size: 100% 100%;
      }
      .healthCard_bg7{
        background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/health/bg7.png") no-repeat;
        background-size: 100% 100%;
      }
      .healthCard_bg8{
        background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/health/bg8.png") no-repeat;
        background-size: 100% 100%;
      }
      .healthCard_btn{
        position: relative;
        bottom: 15px;
        width: 100px;
        height: 40px;
        margin: 0 auto;
        border-radius: 20px;
        text-align: center;
        line-height: 40px;
        margin-top: 100px;
        color:#FFFFFF;
        font-size: 20px;
      }
      .healthCard_cl1{
        background:rgba(6,156,158,0.8);
      }
      .healthCard_cl2{
        background:rgba(255, 80, 92,0.8);
      }
      .healthCard_cl3{
        background:rgba(102, 84, 255,0.8);
      }
      .healthCard_cl4{
        background:rgba(38, 128, 255,0.8);
      }
      .healthCard_cl5{
        background:rgba(255, 186, 20,0.8);
      }
      .healthCard_cl6{
        background:rgba(107, 222, 44,0.8);
      }
      .healthCard_cl7{
        background:rgba(255, 68, 152,0.8);
      }
      .healthCard_cl8{
        background:rgba(41, 184, 225,0.8);
      }
    }
  }
}
