page {
  width: 100%;
  height: 100%;
  background: #f5f5f5;
}

.commerce_details_goodsDetails {
  padding-bottom: 188px;
  width: 100%;
  overflow: auto;
  color: #ffffff;
  .commer_bottom_btnBox {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 128px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 123;
    .commer_bottom_btn {
      padding: 0 32px;
      height: 80px;
      display: flex;
    }
    .commer_submit1 {
      width: 220px;
      height: 80px;
      border-radius: 8px;
      border: 2px solid #07c0c2;
      text-align: center;
      line-height: 80px;
    }

    .commer_submit {
      width: 220px;
      height: 80px;
      border-radius: 8px;
      border: 2px solid #999999;
      text-align: center;
      line-height: 80px;
    }
  }
  .commerceTitle_top {
    padding: 0 24px;
    height: 232px;
    background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon258.png")
      center/cover;
    position: relative;

    .commerceTitle_pad {
      padding-top: 32px;
    }

    .commerceTitle_status {
      height: 60px;
      display: flex;
      align-items: center;

      .commerceTitle_iconBox {
        width: 60px;
        height: 60px;
      }

      .commerceTitle_icon1 {
        background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon259.png")
          no-repeat;
        background-size: 100% 100%;
      }

      .commerceTitle_icon2 {
        background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/wait.png")
          no-repeat;
        background-size: 100% 100%;
      }

      .commerceTitle_icon3 {
        background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/closeing.png")
          no-repeat;
        background-size: 100% 100%;
      }
    }
    .commerceTitle_font {
      height: 60px;
      line-height: 60px;
      font-size: 48px;
      margin-left: 16px;
      font-weight: 600;
    }
    .commerceTitle_dec {
      margin-top: 16px;
      height: 24px;
      font-size: 24px;
      font-weight: 400;
      line-height: 24px;
      margin-left: 76px;
    }
  }
  .descriptionCard_title {
    width: 702px;
    margin: -74px auto 0;
    background: #ffffff;
    border-radius: 12px;
    position: relative;
    z-index: 10;
  }

  .descriptionCard_box {
    padding: 24px 24px 0;
    font-size: 24px;

    .descriptionCard_merchant {
      height: 64px;
      display: flex;
      align-items: center;

      .descriptionCard_profile {
        width: 64px;
        height: 64px;
        border-radius: 50%;
      }

      .descriptionCard_merchantTitle {
        width: 498px;
        height: 42px;
        font-size: 28px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 600;
        color: #333333;
        line-height: 42px;
        margin-left: 29px;
      }

      .descriptionCard_goIcon {
        width: 36px;
        height: 36px;
        background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon260.png")
          no-repeat;
        background-size: 100% 100%;
      }
    }

    .descriptionCard_dec {
      padding-top: 32px;

      .descriptionCard_discount {
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #999999;
      }
    }
  }

  .discount_top {
    margin-top: 24px;
  }

  .descriptionCard_liner {
    width: 622px;
    height: 1px;
    background: #e5e5e5;
    margin: 31px auto 0;
  }

  .descriptionCard_payPrice {
    height: 104px;
    line-height: 104px;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .goods_details_margins {
    margin-top: 64px;
  }
  .goods_max {
    max-width: 324px;
  }
  .commerOrder_pay_info {
    padding: 32px 32px;
    margin: 16px 24px 0;
    background: #ffffff;
    border-radius: 8px;
    .commerOrder_pay_title {
      font-size: 32px;
      font-weight: 600;
      color: #333333;
      padding-bottom: 24px;
    }
    .commerOrder_pay_desc {
      font-size: 28px;
      font-weight: 400;
      color: #666666;
      line-height: 42px;
    }
  }

  .goods_card {
    width: 702px;
    background: #ffffff;
    border-radius: 12px;
    margin: 24px auto;
    .goods_remark {
      margin-top: 32px;
      font-size: 28px;
      font-weight: 400;
      color: #333333;
      line-height: 28px;
    }
    .goods_cardBox {
      padding: 32px 32px 40px;

      .goods_cardHeight {
        height: 24px;
        margin-top: 24px;

        .goods_cardliner {
          width: 2px;
          height: 20px;
          background: #e5e5e5;
          border-radius: 1px;
          margin: 0 16px;
        }
      }

      .goods_payHeight {
        height: 30px;
        line-height: 30px;
        margin-top: 24px;

        .pay_icon_box {
          width: 30px;
          height: 30px;
          margin-right: 11px;
        }
      }
    }
  }

  .goods_bottom_btnBox {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 128px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .goods_bottom_btn {
      padding: 0 32px;
      height: 80px;
    }

    .goods_submit {
      width: 220px;
      height: 80px;
      border-radius: 8px;
      border: 2px solid #999999;
      text-align: center;
      line-height: 80px;
    }
  }
}
