.shareSaveBean_img {
  width: 650px;
  height: 647px;
  background: url("https://wechat-config.dakale.net/miniprogram/image/icon802.png")
    no-repeat;
  background-size: 100% 100%;
  text-align: center;
  .shareSaveBean_height {
    height: 100px;
  }
  .shareSaveBean_top {
    width: 365px;
    height: 77px;
    background: url(https://wechat-config.dakale.net/miniprogram/blind/blind_zl.png)
      no-repeat;
    background-size: 100% 100%;
    margin: 0px auto 0;
  }
  .shareSaveBean_profile {
    width: 72px;
    height: 72px;
    margin: 24px auto 0;
    border-radius: 50%;
  }
  .shareSaveBean_desc {
    margin: 16px auto 0;
    font-size: 28px;
    font-weight: 400;
    color: #333333;
  }
  .shre_margin1 {
    margin-top: 24px;
  }

  .shareSaveBean_getbean {
    font-size: 40px;
    font-weight: 600;
    color: #ef476f;
    text-align: center;
    padding: 0 80px;
    text-align: center;
    line-height: 50px;
  }
  .shareSaveBean_font {
    font-size: 28px;
    font-weight: 400;
    color: #333333;
    height: 28px;
    margin-top: 16px;
  }
  .shareSaveBean_btn {
    width: 400px;
    height: 70px;
    background: #ef476f;
    border-radius: 35px;
    font-size: 28px;
    font-weight: 600;
    color: #ffffff;
    margin: 45px auto 0;
  }
}
