.topBean_box {
  width: 686px;
  height: 96px;
  background: #fffbf0;
  border-radius: 16px;
  margin: 24px auto 0;
  .topBean_left {
    display: flex;
    align-items: center;
    margin-left: 24px;
  }
  .topBean_profile {
    width: 64px;
    height: 64px;
    border-radius: 50%;
  }
  .topBean_bean {
    margin-left: 24px;
    font-size: 40px;
    font-weight: bold;
    color: #333333;
  }
  .topBean_left::after {
    width: 40px;
    height: 40px;
    display: block;
    content: "";
    margin-left: 8px;
    background: url("https://wechat-config.dakale.net/miniprogram/image/icon844.png")
      no-repeat;
    background-size: 100% 100%;
  }
  .topBean_right {
    padding-right: 24px;
    height: 36px;
    font-size: 36px;
    font-weight: bold;
    color: #ef476f;
    display: flex;
    align-items: center;
  }
  .topBean_right::before {
    width: 118px;
    height: 28px;
    display: block;
    content: "";
    margin-right: 16px;
    background: url("https://wechat-config.dakale.net/miniprogram/image/icon843.png")
      no-repeat;
    background-size: 100% 100%;
  }
}
