@import "@/assets/css/global.scss";

@mixin ptIcon($url, $w, $mr: 0) {
  &::before {
    content: "";
    display: block;
    @include whEqual($w);
    background: url($url);
    background-size: 100%;
    margin-right: $mr;
  }
}

.personal_tools {
  padding: 17px 32px 32px;
  .pt_content {
    padding: 32px 32px 12px 32px;
    background: #ffffff;
    border-radius: 20px;
    .pt_heard {
      @include flexCenterA;
      .pt_heard_title {
        font-size: 28px;
        font-weight: 600;
        color: #333333;
        flex: 1;
      }
      .pt_heard_btn {
        @include sumbitButton;
        height: 40px;
        padding: 0 14px;
        background: #ffffff;
        border-radius: 4px;
        border: 1px solid #b5b5b5;
        font-size: 24px;
        font-weight: 400;
        color: #666666;
        @include ptIcon(
          "https://wechat-config.dakale.net/miniprogram/relay/pt_heard_freshen.png",
          24px,
          8px
        );
      }
    }
    .pt_tools_group {
      @include flexCenterA;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 42px;
      &:after {
        content: "";
        flex: 1;
        border: 1px solid transparent;
      }
      .pt_tools_cell {
        button {
          &::after {
            border: none;
          }
        }
        position: relative;
        @include flexCenterA;
        width: 25%;
        margin-bottom: 48px;
        flex-direction: column;
        .tools_loact {
          @include ptIcon(
            "https://wechat-config.dakale.net/miniprogram/relay/pt_loact.png",
            60px
          );
        }
        .tools_order {
          @include ptIcon(
            "https://wechat-config.dakale.net/miniprogram/relay/pt_order.png",
            60px
          );
        }
        .tools_server {
          @include ptIcon(
            "https://wechat-config.dakale.net/miniprogram/relay/pt_sever.png",
            60px
          );
        }
        .tools_edit {
          @include ptIcon(
            "https://wechat-config.dakale.net/miniprogram/relay/pt_edit.png",
            60px
          );
        }
        .tools_menu {
          @include ptIcon(
            "https://wechat-config.dakale.net/miniprogram/relay/pt_menu.png",
            60px
          );
        }
        .tools_shop {
          @include ptIcon(
            "https://wechat-config.dakale.net/miniprogram/relay/pt_shop.png",
            60px
          );
        }
        .tools_code {
          @include ptIcon(
            "https://wechat-config.dakale.net/miniprogram/relay/pt_code.png",
            60px
          );
        }
        .tools_ordermg {
          @include ptIcon(
            "https://wechat-config.dakale.net/miniprogram/relay/pt_ordermg.png",
            60px
          );
        }
        .tools_text {
          @include flexCenterA;
          flex-direction: column;
          margin-top: 12px;
          font-size: 24px;
          font-weight: 400;
          color: #333333;
          &::before {
            margin-bottom: 12px;
          }
        }
      }
    }
  }
}
