.collageTime_shopDesc_box {
  margin: 40px 30px;
  .collageTime_shopDesc_title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: 600;
    color: #ffffff;
    line-height: 45px;
  }
  .collageTime_desc_linerLeft {
    width: 62px;
    height: 2px;
    background: linear-gradient(90deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
    border-radius: 100px 0px 0px 100px;
    margin-right: 16px;
  }
  .collageTime_desc_linerRight {
    width: 62px;
    height: 2px;
    background: linear-gradient(90deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
    border-radius: 100px 0px 0px 100px;
    margin-left: 16px;
    transform: rotateZ(180deg);
  }
  .collageTime_shop_details {
    margin-top: 16px;
    background: #ffffff;
    color: rgba(51, 51, 51, 1);
    padding-bottom: 16px;
    .collageTime_shop_merchantDetails {
      padding: 32px 24px 0;
      height: 32px;
      font-size: 32px;
      font-weight: 600;
      color: #333333;
    }
    .collageTime_dec {
      font-size: 28px;
      font-weight: 400;
      color: rgba(102, 102, 102, 1);
      line-height: 42px;
      padding: 32px 24px 0;
    }
    .collageTime_Image image {
      width: 100%;
      vertical-align: middle;
    }
    .collageTime_Image {
      margin-top: 24px;
      width: 100%;
    }
  }
  .collageTime_desc_bg {
    margin: 40px auto 0;
    background: #ffffff;
    padding: 42px 24px;
  }
}
