
.shareView_share {
  position: fixed;
  width: 100px;
  height: 104px;
  top: 873px;
  right: 10px;
  background: url(https://wechat-config.dakale.net/miniprogram/active/8.8/active8_8_22.png)
    no-repeat;
  background-size: 100% 100%;
  z-index: 100;
}
