page {
  width: 100%;
}
.shareActive_box {
  width: 100%;
  line-height: 1;
  .shareActive_Main {
    width: 100%;
    height: 600px;
  }
  .share_img {
    width: 100%;
    height: 100%;
  }
  .shareActive_content {
    margin-top: -112px;
    padding: 40px 32px 0;

    .shareActive_body_box {
      padding: 78px 0 32px 0;
      position: relative;
      background: #fffaf2;
      box-shadow: 0px 20px 10px 0px rgba(228, 73, 0, 0.16),
        0px 12px 0px 0px #e08900, 0px 0px 5px 0px #ffbc51;
      border-radius: 30px;
      .shareActive_time {
        background: linear-gradient(180deg, #ff9245 0%, #ff4242 100%);
        box-shadow: 0px 3px 5px 0px rgba(255, 197, 113, 0.5);
        border-radius: 35px;
        border: 3px solid #ffffff;
        padding: 18px 0px 21px;
        position: absolute;
        font-size: 26px;
        color: #ffffff;
        top: 0;
        margin: -28px auto 0;
        text-align: center;
        left: 0;
        right: 0;
        max-width: 440px;
      }
      .shareActive_shop_card {
        width: 600px;
        height: 240px;
        background: linear-gradient(180deg, #ff3b3b 0%, #ef3636 100%);
        box-shadow: 0px 2px 4px 0px #ffcd7f;
        border-radius: 24px;
        margin: 0 auto;
      }
      .shareActive_user {
        margin: 30px auto 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 56px;
        font-size: 28px;
        font-weight: 600;
        color: #333333;
        line-height: 40px;
      }
      .shareActive_user::after {
        width: 60px;
        height: 16px;
        content: "";
        background: url(https://wechat-config.dakale.net/miniprogram/shareActive/icon2.png)
          no-repeat;
        background-size: 100% 100%;
        margin-left: 13px;
      }
      .shareActive_user::before {
        width: 60px;
        height: 16px;
        content: "";
        background: url(https://wechat-config.dakale.net/miniprogram/shareActive/icon1.png)
          no-repeat;
        background-size: 100% 100%;
        margin-right: 13px;
      }
    }
    .shareActive_userProfile_box {
      margin: 62px 0 0px 40px;
      display: flex;
      flex-wrap: wrap;
    }
    .shareActive_userProfile {
      width: 120px;
      height: 120px;
      margin-right: 38px;
      margin-bottom: 40px;
    }
    .shareActive_userProfile_default {
      background: url(https://wechat-config.dakale.net/miniprogram/shareActive/icon3.png)
        no-repeat;
      background-size: 100% 100%;
    }
    .shareActive_userProfile_liner {
      border: 3px solid #ffffff;
      box-sizing: border-box;
      border-radius: 50%;
    }
    .shareActive_btnInfo {
      width: 480px;
      height: 96px;
      background: url(https://wechat-config.dakale.net/miniprogram/shareActive/icon4.png)
        no-repeat;
      background-size: 100% 100%;
      margin: 63px auto 0;
      color: #ffffff;
    }
    .shareActive_mobile {
      margin: 28px auto 0;
      text-align: center;
      font-size: 22px;
      font-weight: 400;
      color: #666666;
    }
    .shareActive_text {
      color: rgba(54, 149, 254, 1);
    }
  }
  .shareActive_introduction {
    width: 686px;
    height: 800px;
    background: #ffffff;
    border-radius: 20px;
    margin: 40px auto 0;
    font-size: 40px;
    font-weight: 800;
    color: #ffffff;
    line-height: 55px;
    color: #ffffff;
    border-radius: 20px;
  }
  .shareActive_shopTitle {
    margin: 64px auto 0;
    width: 368px;
    height: 112px;
  }
  .shareActive_shop_lineBox {
    margin: 40px 32px 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .shareActive_logo_box {
    padding: 40px 0 72px;
    text-align: center;
  }
  .shareActive_logo {
    width: 447px;
    height: 62px;
    background: url(https://wechat-config.dakale.net/miniprogram/shareActive/icon5.png)
      no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
  }
  .shareActive_fixed {
    position: fixed;
    right: 0;
    top: 118px;
    z-index: 10;
    .shareActive_fixed_rule {
      width: 50px;
      height: 136px;
      background: url(https://wechat-config.dakale.net/miniprogram/shareActive/icon6.png)
        no-repeat;
      background-size: 100% 100%;
    }
    .shareActive_fixed_share {
      margin-top: 16px;
      width: 50px;
      height: 96px;
      background: url(https://wechat-config.dakale.net/miniprogram/shareActive/icon7.png)
        no-repeat;
      background-size: 100% 100%;
    }
  }
  .shareActive_layer_info {
    width: 534px;
    border-radius: 20px;
    .shareActive_layer_content {
      padding: 48px 32px;
      background: #ffffff;
      border-radius: 8px;
      .shareActive_layer_title {
        font-size: 36px;
        font-weight: 600;
        color: #333333;
        text-align: center;
      }
      .shareActive_layer_body {
        margin: 48px auto 0;
        padding: 24px;
        background: rgba(239, 71, 111, 0.1);
        border-radius: 10px;
        .shareActive_body_name {
          max-height: 80px;
          font-size: 32px;
          font-weight: 500;
          color: #333333;
          line-height: 40px;
        }
        .shareActive_body_status {
          margin-top: 16px;
          font-size: 28px;
          font-weight: 400;
          color: #999999;
        }
      }
    }
  }
  .shareActive_success_btn {
    width: 400px;
    height: 70px;
    background: #ef476f;
    border-radius: 35px;
    font-size: 28px;
    font-weight: 600;
    color: #ffffff;
    margin: 58px auto 0;
  }
}
