.shopdetails_shop_toast {
  margin: 16px 0 0;
  color: #333333;
  padding: 32px 24px;
  background: #ffffff;
  .shop_toastDate {
    margin-top: 24px;
  }
  .shop_getDate {
    margin-top: 32px;
  }
  .shop_showNow {
    margin-top: 40px;
  }
  .shop_toastText {
    margin-top: 16px;
    min-height: 24px;
    font-size: 24px;
    font-weight: 400;
    color: rgba(102, 102, 102, 1);
    line-height: 36px;
    white-space: pre-wrap;
  }
  .shop_toastTextColor {
    color: rgba(7, 192, 194, 1);
  }
  .shop_toastTextHeight {
    line-height: 36px;
  }
  .shop_toastDec {
    font-size: 24px;
    font-weight: 600;
    color: #666666;
    line-height: 24px;
  }
}
.shop_toastTitle {
  font-size: 32px;
  font-weight: 600;
}
.shop_toastTitle {
  font-size: 32px;
  font-weight: 600;
}
