.componentdetails_component_toast {
  margin: 24px 32px 0;
  color: #333333;
  padding: 32px 40px 50px;
  background: #ffffff;
  border-radius: 20px;
  .component_toastDate {
    margin-top: 24px;
  }
  .component_getDate {
    margin-top: 40px;
  }
  .component_showNow {
    margin-top: 40px;
  }
  .component_toastText {
    margin-top: 16px;
    min-height: 24px;
    font-size: 24px;
    font-weight: 400;
    color: rgba(102, 102, 102, 1);
    line-height: 36px;
  }
  .component_toastTextColor {
    color: rgba(7, 192, 194, 1);
  }
  .component_toastTextHeight {
    line-height: 36px;
  }
}
.component_toastTitle {
  font-size: 32px;
  font-weight: 600;
}
.component_toastDec {
  height: 24px;
  font-size: 24px;
  font-weight: 600;
  color: #666666;
}
.shop_toastTitle {
  font-size: 32px;
  font-weight: 600;
}