page {
  width: 100%;
  height: 100%;
  line-height: 1;
}
.home_box {
  width: 100%;
  height: 100%;
  position: relative;
  button::after{
    border:none;
}
  .video_liner{
    background: rgba(255, 255, 255, 0.6);
    height: 6px;
    position: absolute;
    bottom:0;
    left: 0;
    right: 0;
  }
  .home_Waterfall_box {
    position: absolute;
    background: white;
    left: 0;
    right: 0;
    bottom: 0;
    top: 140px;
    overflow-y: auto;
  }
  .home_wait {
    position: fixed;
    left: 0;
    right: 0;
    top: 66px;
    display: flex;
    align-items: center;
    z-index: 1000;
  }
  .home_top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
    .home_city {
      display: flex;
      align-items: center;
      height: 48px;
      visibility: hidden;
      .home_cityIcon {
        width: 40px;
        height: 40px;
        background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon40.png")
          no-repeat;
        background-size: 100% 100%;
      }
      .home_cityName {
        margin-left: 8px;
        font-size: 28px;
        font-weight: bold;
        color: #ffffff;
        line-height: 40px;
      }
      .home_citySelect {
        width: 24px;
        height: 24px;
        background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon41.png")
          no-repeat;
        background-size: 100% 100%;
        margin-left: 8px;
      }
    }
  }

  .home_bottom {
    position: absolute;
    bottom: 42px;
    left: 32px;
    right: 32px;
    z-index: 10;
    .home_active_box {
      margin-top: 24px;
      width: 468px;
      height: 96px;
      background: rgba(0, 0, 0, 0.3);
      border-radius: 8px;
      display: flex;
      align-items: center;
      .home_active_image {
        width: 72px;
        height: 72px;
        border-radius: 4px;
        margin-left: 12px;
      }
      .home_active_details {
        height: 72px;
        margin-left: 12px;
        .home_active_font1 {
          max-width: 204px;
          font-size: 28px;
          color: #ffffff;
          line-height: 28px;
          padding-top: 4px;
        }
        .home_active_font2 {
          padding-top: 8px;
          max-width: 204px;
          line-height: 28px;
          color: rgba(255, 255, 255, 0.8);
          font-size: 22px;
        }
      }
      .home_active_btn {
        width: 120px;
        height: 48px;
        background: #ef476f;
        border-radius: 4px;
        margin-left: 32px;
        text-align: center;
        line-height: 48px;
        color: #ffffff;
        font-size: 24px;
      }
    }
  }

  .home_barrage {
    width: 50%;
    height: 116px;
    color: rgba(255, 255, 255, 1);
    position: relative;
    .home_barrage_box {
      height: 52px !important;
      background: #000000;
      border-radius: 26px;
      opacity: 0.2;
      display: inline-block;
      align-items: center;
      .home_barrage_useProfile {
        width: 48px;
        height: 48px;
        border: 1px solid #ffffff;
        border-radius: 50%;
        display: inline-block;
      }
    }
    .home_barrage_font {
      padding: 0 24px 0 16px;
      font-size: 24px;
      line-height: 52px;
      color: #ffffff;
      display: inline-block;
    }
    .home_barrage_count {
      background: rgba(0, 0, 0, 0.4);
      opacity: 1;
    }
    .home-barrage_layer {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 1002;
      background: transparent;
    }
  }
  .home_barrage_item {
    height: 62px;
    display: flex;
    align-items: center;
  }
  .home_bottom_decBox {
    margin-top: 24px;
    min-height: 42px;
    font-size: 28px;
    color: #ffffff;
    line-height: 42px;
    width: 686px;
    max-height: 168px;
  }
  .home_bottom_auto {
    overflow-y: auto;
    max-height: 336px;
  }
  .home_desc_coll {
    margin-top: 12px;
    font-size: 24px;
    color: #ffffff;
  }
  .home_desc_city {
    color: rgba(255, 255, 255, 0.8);
    max-width: 560px;
  }
  .home_video_box {
    width: 100%;
    height: 100%;
    .home_stem_layer {
      position: absolute;
      right: 24px;
      width: 96px;
      top: 50%;
      .home_stem_userProfile {
        width: 88px;
        height: 88px;
        border: 2px solid #ffffff;
        position: relative;
        .home_stem_fallStatus {
          position: absolute;
          width: 32px;
          height: 32px;
          bottom: -16px;
          left: 0;
          right: 0;
          margin: 0 auto;
        }
        .home_stem_status1 {
          background: url(https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon456.png)
            no-repeat;
          background-size: 100% 100%;
        }
      }
      .collected_box {
        width: 96px;
        height: 96px;
        margin-top: 32px;
      }
      .collected_font {
        text-align: center;
        font-size: 24px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #ffffff;
        line-height: 33px;
      }
      .home_share_wechat {
        width: 72px;
        height: 72px;
        margin: 32px auto 0;
        background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon457.png")
          no-repeat;
        background-size: 100% 100%;
      }
    }
  }
  .home_select_box {
    width: 100%;
    height: 1200px;
    background: #ffffff;
    border-radius: 20px 20px 0px 0px;
  }
}
.home_black {
  background: black;
  .home_order_box {
    width: 100%;
    height: 100%;
    .home_order_image {
      width: 300px;
      height: 300px;
    }
    .home_order_font {
      margin-top: 32px;
      text-align: center;
      font-size: 28px;
      font-weight: 400;
      color: rgba(153, 153, 153, 1)
    }
  }
  .home_Select {
    height: 48px;
    line-height: 48px;
    font-size: 28px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
    display: flex;
    .home_select_right {
      margin-right: 40px;
    }
    .hode_select_line {
      width: 36px;
      height: 4px;
      background: #ffffff;
      border-radius: 2px;
      position: absolute;
      bottom: -8px;
      left: 50%;
      margin-left: -18px;
    }
    .home_select_checked {
      font-size: 36px;
      color: rgba(255, 255, 255, 1);
      font-weight: bold;
      position: relative;
    }
  }
  .home_select_right:last-child {
    margin-right: 0px;
  }
  .home_right {
    display: flex;
    align-items: center;
    height: 48px;
    .home_right_search {
      width: 48px;
      height: 48px;
      background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon447.png")
        no-repeat;
      background-size: 100% 100%;
    }
    .home_right_up {
      width: 48px;
      height: 48px;
      margin-right: 24px;
      background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon448.png")
        no-repeat;
      background-size: 100% 100%;
    }
  }
}
.home_white {
  background: white;
  .home_Select {
    height: 48px;
    line-height: 48px;
    font-size: 28px;
    font-weight: 400;
    color: rgba(51, 51, 51, 0.6);
    display: flex;
    .home_select_right {
      margin-right: 40px;
    }
    .hode_select_line {
      width: 36px;
      height: 4px;
      background: rgba(51, 51, 51, 1);
      border-radius: 2px;
      position: absolute;
      bottom: -8px;
      left: 50%;
      margin-left: -18px;
    }
    .home_select_checked {
      font-size: 36px;
      color: rgba(51, 51, 51, 1);
      font-weight: bold;
      position: relative;
    }
  }
  .home_select_right:last-child {
    margin-right: 0px;
  }
  .home_right {
    display: flex;
    align-items: center;
    height: 48px;
    .home_right_search {
      width: 48px;
      height: 48px;
      background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon465.png")
        no-repeat;
      background-size: 100% 100%;
    }
    .home_right_up {
      width: 48px;
      height: 48px;
      margin-right: 24px;
      background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon466.png")
        no-repeat;
      background-size: 100% 100%;
    }
  }

  .home_near_box {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .home_near_image {
      width: 300px;
      height: 300px;
      background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon461.png")
        no-repeat;
      background-size: 100% 100%;
    }
    .home_near_font {
      margin-top: 32px;
      text-align: center;
      font-size: 28px;
      font-weight: 400;
      color: #999999;
    }
  }
}
.dressing_box {
  position: absolute;
  z-index: 1080;
  background: rgba(0, 0, 0, 0.6);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  .dressing_layer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ffffff;
    border-radius: 20px 20px 0px 0px;
    .dressing_layer_title {
      height: 115px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      border-bottom: 1px solid #e5e5e5;
      .closeIcon {
        position: absolute;
        right: 32px;
        top: 40px;
        width: 36px;
        height: 36px;
      }
    }
    .dressing_layer_content {
      max-height: 672px;
      overflow-x: hidden;
      overflow-y: auto;
      padding: 32px;
      .dressing_layer_tagTitle {
        font-size: 24px;
        font-weight: 400;
        color: #333333;
        line-height: 24px;
        padding-top: 16px;
      }
      .dressing_layer_tagTitle:first-child {
        padding: 0;
      }
      .dressing_layer_tagContent {
        padding: 32px 0;
        display: flex;
        flex-wrap: wrap;
        .dressing_layer_tahFont {
          width: 154px;
          height: 80px;
          border-radius: 4px;
          line-height: 80px;
          text-align: center;
          font-size: 24px;
          font-weight: 400;
          margin-bottom: 24px;
        }
        .dressing_layer_checked {
          border: 1px solid #07c0c2;
          color: #07c0c2;
          font-weight: bold;
          box-sizing: border-box;
        }
        .dressing_layer_noChecked {
          color: #666666;
          background: #f5f5f5;
        }
      }
    }
  }
  .dressing_layer_bottom {
    height: 112px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #e5e5e5;
    padding: 0 75px;
    .dressing_layer_btnReload {
      width: 280px;
      height: 70px;
      border-radius: 8px;
      border: 2px solid #999999;
      box-sizing: border-box;
      line-height: 70px;
      text-align: center;
      font-size: 32px;
      color: #999999;
    }
    .dressing_layer_btnOk {
      width: 280px;
      height: 70px;
      background: #07c0c2;
      border-radius: 8px;
      line-height: 70px;
      text-align: center;
      font-size: 32px;
      color: #ffffff;
    }
  }
}
