.lookAround_selectSpecal {
  width: 335px;
  background: #ffffff;
  border-radius: 8px;
  margin-bottom: 20px;
  .lookAround_image_box {
    width: 335px;
    height: 248px;
    border-radius: 8px 8px 0 0;
    .lookAround_image {
      width: 100%;
      height: 100%;
      border-radius: 8px 8px 0 0;
    }
  }
}
.lookAround_content {
  padding: 18px 16px 24px;
  .lookAround_title {
    height: 88px;
    font-size: 32px;
    font-weight: 400;
    color: #333333;
    line-height: 44px;
    font-weight: 400;
    color: #333333;
  }
  .lookAround_select_user {
    display: flex;
    height: 30px;
    margin-top: 16px;
    font-size: 24px;
    font-weight: 400;
    color: #999999;
    align-items: center;
    .lookAround_select_userProfile {
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
    .lookAround_select_userHide {
      width: 265px;
      display: flex;
      align-items: center;
    }
    .lookAround_select_merchantName {
      margin-left: 8px;
      max-width: 180px;
    }
  }
  .lookAround_bean_relbox {
    height: 38px;
    display: flex;
    align-items: flex-start;
    margin-top: 24px;
    .lookAround_bean_left {
      height: 38px;
      padding: 0 6px;
      text-align: center;
      font-size: 22px;
      font-weight: 400;
      color: #ef476f;
      line-height: 36px;
      display: inline-block;
      background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon492.png")
        no-repeat;
      background-size: 100% 100%;
      vertical-align: text-top;
    }
    .lookAround_bean_right {
      height: 32px;
      padding: 0 5px;
      border-radius: 0px 8px 8px 0;
      background: #ef476f;
      line-height: 32px;
      text-align: center;
      font-size: 22px;
      font-weight: 600;
      color: #ffffff;
      margin-left: -2px;
      display: flex;
      align-items: center;
      box-sizing: border-box;
    }
  }
  .lookAround_tag_box {
    height: 32px;
    align-items: center;
    justify-content: center;
    padding: 0px 6px;
    font-size: 22px;
    font-weight: 400;
    color: #ef476f;
    display: flex;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    align-items: center;
  }
  .lookAround_bean_border {
    margin-top: 8px;
    display: inline-block;
  }
}
.lookAround_pay_hander {
  margin-top: 24px;
  font-size: 20px;
  font-weight: 600;
  color: #ef476f;
}
.lookAround_pay_price {
  color: #333333;
  margin-top: 8px;
  display: flex;
  align-items: baseline;
}
.lookAround_bottom_left {
  font-size: 24px;
  font-weight: 400;
  color: #cccccc;
  text-decoration: line-through;
  margin-left: 8px;
}
.shopInit_hot_price {
  margin-top: 20px;
  display: flex;
  align-items: baseline;
  .lookAround_hot_priceMax {
  }
}
.shopInit_bean_price {
  margin-top: 14px;
  font-size: 20px;
  font-weight: 400;
  color: #ef476f;
  line-height: 20px;
}
.shopInit_bean_show {
  display: flex;
  align-items: center;
  margin-top: 10px;
  .shopInit_bean_showText {
    display: flex;
    align-items: baseline;
  }
}
.shopInit_bean_getMoney {
  max-width: 113px;
  margin-left: 8px;
  padding: 4px 8px;
  font-size: 24px;
  font-weight: 400;
  color: #ef476f;
  border-radius: 8px;
  display: flex;
  align-items: center;
}
