.clearfix{
  display: flex;
}
@font-face {
  font-family: DINAlternate-bold;
  src: url('https://dakale-website.oss-cn-hangzhou.aliyuncs.com/common/font/DINAlternate-bold.otf')
}
.drinking_box{
  height: 100%;
  line-height: 1;
  .drinking_titleBox{
    width: 100%;
    height: 1020px;
    background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/icon94.png") no-repeat center/cover;
    position: relative;
  }
  .drinking_title{
    height: 110px;
    .drinking_titleTop{
      padding-top: 59px;
      position: relative;
      .drinking_titleIcon{
        height:33px;
        font-size:34px;
        font-family:PingFang SC;
        font-weight:600;
        color:rgba(255,255,255,1);
        padding-top: 6px;
        margin: 0 auto;
        text-align: center;
      }
      .drinking_titleBack{
        position: absolute;
        left: 30px;
        top: 59px;
        width: 50px;
        height: 50px;
        background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/icon47.png") no-repeat;
        background-size: 100% 100%;
        z-index: 10;
      }
    }
  }
  .drinking_dates{
    position: absolute;
    top: 142px;
    right: 20px;
    width: 99px;
    text-align: center;
    .drinking_mounth{
      font-size:64px;
      font-family:DINAlternate-bold;
      font-weight:bold;
      color:rgba(255,255,255,1);
    }
    .drinking_years{
      margin-top: 11px;
      font-size:26px;
      font-weight:600;
      color:rgba(255,255,255,1);
    }
  }
  .drinking_encourage{
    width: 402px;
    height: 92px;
    background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/icon87.png") no-repeat center/cover;
    margin-top: 113px;
    margin-left: 29px;
  }
  .drinking_drinkIcon{
    width: 366px;
    height: 458px;
    background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/icon89.png") no-repeat;
    background-size: 100% 100%;
    margin: 81px auto 0 auto;
  }
  .drinking_details{
    color: rgba(255, 255, 255, 1);
    margin-left: 20px;
    font-size: 20px;
    margin-top: -30px;
    .drinking_date{
      font-weight: bold;
      .drinking_dateNum{
       font-size: 44px;
       font-weight: bold;
      }
    }
    .drinking_details_decitory{
      padding-top: 11px;
    }
    .drinking_details_people{
      padding-top: 10px;
      .drinking_details_peopleNum{
         font-weight: bold;
      }
    }
  }
  .drinking_status{
    margin: 36px 33px 0px 31px;
    justify-content: space-between;
    .drinking_statusIcon{
      width: 48px;
      height: 48px;
    }
    .drinking_statusTrue{
      background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/icon92.png") no-repeat center/cover;
    }
    .drinking_statusFalse{
      background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/icon93.png") no-repeat center/cover;
    }
    .drinking_statusNow{
      background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/icon88.png") no-repeat center/cover;
      width: 66px;
      height: 44px;
      margin-top: 2px;
    }
    .drinking_font{
      margin-top: 10px;
      font-size: 20px;
      text-align: center;
    }
    .drinking_trueColor{
      color: rgba(165, 165, 165, 1);
    }
    .drinking_falseColor{
      color: rgba(51, 51, 51, 1);
    }

  }
  .drinking_btn{
    margin: 58px auto 0 auto;
    width: 416px;
    height: 70px;
    line-height: 70px;
    font-size: 28px;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    background:rgba(123,115,255,1);
    border-radius:35px;
  }
}
