.share {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  display: flex;
  .stopBean_prompts {
    width: 500px;
    background: #ffffff;
    border-radius: 12px;
    padding-bottom: 40px;
    .prompts_title {
      height: 92px;
      font-size: 32px;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 600;
      color: #333333;
      border-bottom: 1px solid #e5e5e5;
      line-height: 92px;
      text-align: center;
    }
    .prompts_context {
      min-height: 42px;
      font-size: 28px;
      font-weight: 400;
      color: #666666;
      line-height: 42px;
      text-align: center;
      margin: 32px 52px;
    }
    .prompts_btn {
      margin-top: 40px;
      padding: 0 40px;
      display: flex;
      height: 70px;
      align-items: center;
      justify-content: space-between;
      .prompts_btn_out {
        width: 200px;
        height: 70px;
        border-radius: 8px;
        border: 2px solid #07c0c2;
        line-height: 70px;
        text-align: center;
        font-size: 32px;
        font-weight: 400;
        color: #07c0c2;
      }
      .prompts_btn_now {
        width: 200px;
        height: 70px;
        background: #07c0c2;
        border-radius: 8px;
        font-size: 32px;
        font-weight: 400;
        color: #ffffff;
        text-align: center;
        line-height: 70px;
      }
    }
  }
  .prompts_box {
    display: flex;
    padding-top: 0;
  }
}
