page {
  width: 100%;
  height: 100%;
}

.invitation_box {
  width: 100%;
  min-height: 100%;
  line-height: 1;
  background: #e1f2f2;
  .invitation_image {
    width: 100%;
    height: 100%;
  }
  .invitation_img1 {
    width: 750px;
    height: 492px;
  }
  .invitation_img2 {
    width: 557px;
    height: 118px;
    margin: 40px 52px 0px 114px;
  }
  .invitation_img6 {
    width: 720px;
    height: 497px;
    margin: 32px auto 0;
  }
  .invitation_img3 {
    margin: 24px 15px 0;
    padding: 40px 24px 0;
    border-radius: 12px 12px 0 0;
    background: linear-gradient(180deg, #108588 0, #e1f2f2 377px);
    .invitation_title {
      width: 232px;
      height: 42px;
      margin: 0 auto;
    }
    .invitation_waterfall_box {
      margin-top: 30px;
    }
  }
  .invitation_img5 {
    width: 100%;
    height: 1041px;
    margin: 72px 0 0;
  }
  .invitation_img4 {
    width: 100px;
    height: 100px;
    position: fixed;
    top: 85%;
    margin-top: -50px;
    right: 10px;
    background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/invitation_4_15_1.png")
      no-repeat;
    background-size: 100% 100%;
    z-index: 100;
  }
  .invitation_shop_initBox {
    width: 324px;
    position: relative;
    padding-bottom: 20px;
  }
  .invitation_shop_initBox:last-child {
    padding-bottom: 0px;
  }
  .invitation_shop_padding {
    background: #ffffff;
    padding: 0 24px 24px;
    border-radius: 0px 0px 8px 8px;
    position: relative;
  }
  .invitation_shop_imageBox {
    width: 324px;
    height: 225px;
    background: #d8d8d8;
    border-radius: 8px;
  }
  .invitation_shop_title {
    font-size: 28px;
    font-weight: 400;
    color: #333333;
    line-height: 40px;
    max-height: 80px;
    padding-top: 16px;
    max-width: 324px;
  }
  .invitation_bean_title {
    padding-top: 16px;
    font-size: 24px;
    font-weight: 600;
    color: #ef476f;
    line-height: 24px;
  }

  .invitation_bean_font {
    margin-top: 12px;
    display: flex;
    align-items: baseline;
    color: rgba(239, 71, 111, 1);
  }
  .invitation_oldPrice_font {
    margin-top: 4px;
    font-size: 28px;
    font-weight: 400;
    color: #999999;
    text-decoration: line-through;
    max-width: 200px;
  }
  .invitation_go_buy {
    width: 104px;
    height: 54px;
    position: absolute;
    right: 24px;
    bottom: 28px;
    background: url("https://wechat-config.dakale.net/miniprogram/image/5_1_7.png")
      no-repeat;
    background-size: 100% 100%;
  }
  .invitation_btn {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(16, 133, 136, 1);
    border-top: 2px solid black;
    z-index: 100;
  }
  .invitation_img_btn {
    width: 520px;
    height: 78px;
  }
}
