.ownerGroup_box {
  width: 750px;
  background: #ffffff;
  position: relative;
  .ownerGroup_info_box {
    padding: 32px 24px 36px;
    display: flex;
  }

  .ownerGroup_info_profile {
    width: 102px;
    height: 102px;
    border-radius: 4px;
  }
  .ownerGroup_info_content {
    height: 102px;
    margin-left: 24px;
    .ownerGroup_info_title_box {
      display: flex;
      align-items: center;
      padding-top: 8px;
    }
    .ownerGroup_info_title {
      max-width: 410px;
      font-size: 32px;
      font-weight: 600;
      color: #333333;
    }
    .ownerGroup_info_icon {
      display: flex;
      align-items: center;
    }
    .ownerGroup_info_icon::after {
      display: block;
      content: "";
      width: 50px;
      height: 28px;
      background: url(https://wechat-config.dakale.net/miniprogram/image/icon684.png)
        no-repeat;
      background-size: 100% 100%;
      margin-left: 8px;
    }
    .ownerGroup_info_contentbox {
      margin-top: 24px;
      height: 30px;
      align-items: center;
      display: flex;
      .ownerGroup_info_specal {
        display: flex;
        align-items: center;
        font-size: 24px;
        font-weight: 400;
        color: #333333;
        margin-right: 12px;
      }
      .ownerGroup_info_specal::before {
        display: block;
        content: "";
        width: 32px;
        height: 30px;
        background: url(https://wechat-config.dakale.net/miniprogram/image/icon617.png)
          no-repeat;
        background-size: 100% 100%;
        margin-right: 8px;
      }
      .ownerGroup_info_near {
        font-size: 24px;
        font-weight: 400;
        color: #333333;
        display: flex;
        align-items: center;
      }
      .ownerGroup_info_near::before {
        display: block;
        content: "";
        width: 28px;
        height: 28px;
        background: url(https://wechat-config.dakale.net/miniprogram/image/icon685.png)
          no-repeat;
        background-size: 100% 100%;
        margin-right: 10px;
      }
      // .ownerGroup_info_near::after {
      //   display: block;
      //   content: "";
      //   width: 24px;
      //   height: 24px;
      //   background: url(https://wechat-config.dakale.net/miniprogram/image/icon686.png)
      //     no-repeat;
      //   background-size: 100% 100%;
      //   margin-left: 4px;
      // }
    }
  }
  .ownerGroup_info_link {
    width: 48px;
    height: 48px;
    position: absolute;
    right: 24px;
    top: 61px;
    background: url(https://wechat-config.dakale.net/miniprogram/image/icon683.png)
      no-repeat;
    background-size: 100% 100%;
  }
}
