page {
  width: 100%;
  height: 100%;
  background: #F5F5F5;
}


.search_fav_box {
  width: 100%;
  line-height: 1;
  .fixed_tab {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }

  .search_center {
    padding-top: 208px;
  }

  .search_input_box {
    padding: 11px 32px 0;
    background: #FFFFFF;
  }

  .search_input {
    //width: 100%;
    height: 64px;
    border-radius: 40px;
    background: #F5F5F5 url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/searchs.png") no-repeat;
    background-size: 36px 36px;
    background-position: 32px 14px;
    display: block;
    padding-left: 76px;
    font-size: 24px;
  }

  .search_inTab {
    padding-top: 10px;
    background: #FFFFFF;
    border-radius: 0px 0px 20px 20px;
  }
  .createMerchant_box{
    width: 331px;
    border-radius: 8px;
    margin-bottom: 24px;
    .createMerchant_image{
      width: 331px;
      height: 280px;
      border-radius: 8px 8px 0px 0px;
      position: relative;
      .createMerchant_toast{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 50px;
        background: rgba(25, 109, 138, 0.6);
        display: flex;
        align-items: center;
        .createMerchant_city{
          height: 28px;
          padding-left: 13px;
          display: flex;
          align-items: center;
        }
        .createMerchant_city_icon {
          width: 28px;
          height: 28px;
          background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon90.png") no-repeat;
          background-size: 100% 100%;
          margin-right: 8px;
        }
        .createMerchant_city_font{
          width: 269px;
          height: 36px;
          font-size: 20px;
          line-height: 36px;
        }
      }
    }
    .createMerchant_center{
      background: #FFFFFF;
      padding: 28px 0 32px 20px;
      .createMerchant_merchantTitle{
        height: 28px;
        max-width: 280px;
      }
      .createMerchant_shopRadius{
        margin-top: 16px;
        height: 24px;
      }
      .merchant_take_card{
        height: 24px;
        margin-top: 24px;
      }
      .merchant_take_special{
        height: 32px;
        background: rgba(239, 71, 111,0.1) url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/hot_icon.png") no-repeat;
        background-position: 8px 4px;
        background-size: 24px 24px;
        border-radius: 4px;
        color: rgba(239, 71, 111, 1);
        font-size: 20px;
        display: inline-block;
        line-height: 32px;
        margin-top: 18px;
        text-indent: 36px;
        padding-right: 8px;
      }
    }
  }
}

