.view_shop_box {
  margin-bottom: 24px;
  background: #ffffff;
  border-radius: 8px;
  display: flex;
  line-height: 1;
}
.view_shop_img {
  width: 224px;
  height: 248px;
  border-radius: 8px 0px 0px 8px;
}
.view_shop_content {
  width: 462px;
  height: 248px;
  border-radius: 0px 8px 8px 0px;
  position: relative;
  .view_shopContent_box {
    padding-top: 8px;
    margin-left: 16px;
    .view_shopContent_name {
      font-size: 28px;
      font-weight: 400;
      color: #333333;
      line-height: 40px;
      max-width: 427px;
    }
    .view_shopContent_user {
      margin-top: 12px;
      display: flex;
      align-items: center;
      font-size: 24px;
      font-weight: 400;
      color: #999999;
      line-height: 24px;
      .view_shopContent_profile {
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }
      .view_shopContent_username {
        max-width: 280px;
      }
    }
  }
  .view_shopContent_price {
    margin-top: 32px;
    display: flex;
    align-items: center;
    max-width: 427px;
    font-size: 24px;
    .view_shopContent_priceTitle {
      font-weight: 400;
    }
    .view_shopContent_priceNum {
      font-weight: bold;
    }
  }
  .view_shopContent_info {
    margin-top: 11px;
    display: flex;
    align-items: baseline;
  }
  .shopContent_new_bean {
    height: 32px;
    background: #ffffff;
    box-sizing: border-box;
    border-radius: 24px;
    display: inline-flex;
    align-items: center;
    margin-top: 8px;
    .shopContent_new_img {
      width: 98px;
      height: 32px;
    }
    .shopContent_new_pay {
      font-size: 24px;
      font-weight: bold;
      color: #ef476f;
      max-width: 240px;
      padding: 0 8px 0 4px;
    }
  }
  .view_shopContent_bean {
    font-size: 20px;
    font-weight: 400;
    color: #ef476f;
    line-height: 20px;
    margin-top: 12px;
  }
  .view_shopContent_buyPrice {
    display: flex;
    align-items: baseline;
    margin-top: 10px;
    .view_shopContent_info {
      font-size: 20px;
      font-weight: bold;
      color: #ef476f;
    }
    .view_shopContent_money {
      font-size: 36px;
      font-weight: bold;
      color: #ef476f;
    }
  }
  .view_shop_btn {
    width: 177px;
    height: 52px;
    background: #ef476f;
    border-radius: 26px;
    position: absolute;
    right: 20px;
    bottom: 24px;
    display: flex;
    align-items: center;
    font-size: 28px;
    font-weight: 400;
    color: #ffffff;
  }
}

.view_card_box {
  width: 686px;
  height: 180px;
  background: #ffffff;
  border-radius: 8px;
  line-height: normal;
  position: relative;
  .view_card_content {
    padding: 16px 23px 16px 16px;
    display: flex;
    align-items: center;
    .view_card_img {
      width: 148px;
      height: 148px;
    }
    .view_card_body {
      flex: 1;
      height: 148px;
      margin-left: 16px;
      .view_card_userName {
        padding-top: 4px;
        font-size: 32px;
        font-weight: 600;
        color: #333333;
        line-height: 32px;
        max-width: 437px;
      }
      .view_card_data {
        display: flex;
        align-items: center;
        margin-top: 24px;
        .view_card_tag {
          display: flex;
          height: 32px;
          align-items: center;
          padding: 0 8px;
          background: rgba(16, 133, 136, 0.1);
          .view_card_load {
            font-size: 22px;
            font-weight: 600;
            color: #108588;
          }
          .view_card_liner {
            width: 2px;
            height: 20px;
            background: #108588;
            border-radius: 1px;
            opacity: 0.3;
            margin-left: 8px;
          }
          .view_card_time {
            font-size: 22px;
            font-weight: 400;
            color: #108588;
          }
        }
        .view_card_peoplePay {
          font-size: 26px;
          font-weight: 400;
          color: #333333;
          margin-left: 16px;
        }
      }
      .view_card_address {
        display: flex;
        align-items: center;
        margin-top: 24px;
        display: flex;
        align-items: center;
        .view_card_size {
          font-size: 28px;

          font-weight: 400;
          color: #999999;
          line-height: 28px;
        }
        .view_card_addressDetails {
          font-size: 28px;
          font-weight: 400;
          color: #999999;
          line-height: 28px;
          margin-left: 16px;
          max-width: 188px;
        }
        .view_card_limit {
          margin-left: auto;
          height: 28px;
          font-size: 28px;
          font-weight: 400;
          color: #666666;
          line-height: 28px;
        }
      }
    }
  }
  .view_card_golink {
    position: absolute;
    right: 32px;
    bottom: 61px;
    background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon643.png")
      no-repeat;
    background-size: 100% 100%;
    width: 48px;
    height: 48px;
  }
}

.newShopView_box {
  width: 512px;
  height: 212px;
  background: #ffffff;
  margin-bottom: 20px;
  border-radius: 8px;
  .newShopView_new_bean {
    height: 32px;
    background: #ffffff;
    box-sizing: border-box;
    border-radius: 24px;
    display: inline-flex;
    align-items: center;
    margin-top: 14px;
    .newShopView_new_img {
      width: 98px;
      height: 32px;
    }
    .newShopView_new_pay {
      font-size: 24px;
      font-weight: bold;
      color: #ef476f;
      max-width: 240px;
      padding: 0 8px 0 4px;
    }
  }
  .newShopView_content_box {
    padding: 8px 8px 0;
    display: flex;
    align-items: center;
    .newShopView_content_left {
      height: 234px;
    }
    .newShopView_img {
      width: 150px;
      height: 150px;
      background: #ffeebc;
      border-radius: 4px;
    }
    .newShopView_details {
      height: 234px;
      flex: 1;
      margin-left: 16px;
      .newShopView_details_name {
        font-size: 28px;
        font-weight: 600;
        color: #333333;
        line-height: 28px;
        padding-top: 6px;
        max-width: 310px;
      }
      .newShopView_shopContent_user {
        margin-top: 12px;
        display: flex;
        align-items: center;
        font-size: 24px;
        font-weight: 400;
        color: #999999;
        max-width: 310px;
        .newShopView_shopContent_profile {
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }
        .newShopView_shopContent_username {
          max-width: 220px;
        }
      }
      .newShopView_shopContent_price {
        margin-top: 12px;
        display: flex;
        align-items: center;
        max-width: 310px;
        .newShopView_shopContent_priceTitle {
          font-size: 24px;
          font-weight: 400;
          color: #333333;
          line-height: 24px;
        }
        .newShopView_shopContent_priceNum {
          font-size: 28px;
          font-weight: bold;
          color: #333333;
          line-height: 28px;
        }
      }
      .newShopView_shopContent_bean {
        font-size: 20px;
        font-weight: 400;
        color: #ef476f;
        line-height: 20px;
        margin-top: 12px;
      }
      .newShopView_shopContent_buyPrice {
        display: flex;
        align-items: baseline;
        margin-top: 10px;
        .newShopView_shopContent_info {
          font-size: 20px;
          font-weight: bold;
          color: #ef476f;
        }
        .newShopView_shopContent_money {
          font-size: 28px;
          font-weight: bold;
          color: #ef476f;
        }
      }
    }
  }
}
.newShopView_box:last-child {
  margin-bottom: 0;
}
.getBeanInfo_own {
  margin: 25px 24px 0;
}
.meShopView_item {
  width: 260px;
  padding-bottom: 24px;
  background: #ffffff;
  border-radius: 8px;
  border: 1px solid #e5e5e5;
  margin-right: 16px;
  display: inline-block;
  .meShopView_item_img {
    width: 260px;
    height: 196px;
    background: #d8d8d8;
    border-radius: 8px 8px 0 0;
  }
  .meShopView_item_content {
    padding: 24px 16px 0;
    .meShopView_item_title {
      max-width: 216px;
      font-size: 28px;
      font-weight: 400;
      color: #333333;
      line-height: 28px;
    }
  }
  .meShopView_shopContent_user {
    margin-top: 20px;
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 400;
    color: #999999;
    max-width: 230px;
    .meShopView_shopContent_profile {
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
    .meShopView_shopContent_username {
      max-width: 118px;
    }
  }
  .meShopView_shopContent_oldPrice {
    margin-top: 12px;
  }
  .meShopView_shopContent_realPrice {
    margin-top: 10px;
    display: flex;
    align-items: center;
  }
  .meShopView_shopContent_newPrice {
    display: flex;
    margin-top: 5px;
    align-items: center;
  }
  .meShopView_shopContent_getBean {
    font-size: 18px;
    font-weight: 400;
    color: #ef476f;
    line-height: 18px;
    margin-top: 9px;
  }
  .meShopView_shopContent_money {
    margin-top: 8px;
    color: rgba(239, 71, 111, 1);
    display: flex;
    align-items: baseline;
  }
  .meShopView_new_bean {
    margin-top: 8px;
    height: 24px;
    background: #ffffff;
    border-radius: 24px;
    border: 1px solid #ef476f;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    .meShopView_new_img {
      width: 80px;
      height: 24px;
    }
    .meShopView_new_pay {
      font-size: 20px;
      font-weight: bold;
      color: #ef476f;
      max-width: 120px;
      padding: 0 8px 0 4px;
    }
  }
}
