page {
  width: 100%;
  height: 100%;
}
.speciaMaterial_box {
  width: 100%;
  background: #ffffff;
  overflow: auto;
  .speciaMaterial_banner_style {
    width: 100%;
    height: 480px;
  }
  .speciaMaterial_content {
    padding: 40px 32px 0;
  }
}
