page {
  width: 100%;
  height: 100%;
}
.groupMerchant_box {
  width: 100%;
  min-height: 100%;
  background: #f5f5f5;
  line-height: 1;
  .groupMerchant_list {
    width: 686px;
    height: 148px;
    background: #ffffff;
    position: relative;
    margin: 24px auto 0px;
    .groupMerchant_list_box {
      padding: 24px 32px;
      height: 100px;
      display: flex;
      .groupMerchant_list_cover {
        width: 100px;
        height: 100px;
      }
      .groupMerchant_list_user {
        height: 100px;
        margin-left: 24px;
        .groupMerchant_list_userTitle {
          padding-top: 12px;
          display: flex;
          align-items: center;
          .groupMerchant_list_userName {
            height: 36px;
            line-height: 36px;
            margin-right: 4px;
            max-width: 370px;
          }
        }
        .groupMerchant_list_userTitle::after {
          display: block;
          content: "";
          width: 36px;
          height: 36px;
          background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon425.png")
            no-repeat;
          background-size: 100% 100%;
        }
      }
      .groupMerchant_list_userAddress {
        max-width: 370px;
        padding-top: 16px;
      }
    }
    .groupMerchant_list_map {
      position: absolute;
      top: 30px;
      right: 32px;
      width: 48px;
      height: 48px;
      background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon426.png")
        no-repeat;
      background-size: 100% 100%;
    }
    .groupMerchant_list_limit {
      position: absolute;
      top: 86px;
      right: 32px;
      font-size: 24px;
      font-weight: 400;
      color: #999999;
    }
  }
}
