.LogisticsWay_Contnet {
  .lgWay_heard {
    background: #ffffff;
    padding: 32px;
    .lgWay_title {
      font-size: 32px;
      font-weight: 600;
      color: #333333;
    }
    .lgWay_tip {
      margin-top: 20px;
      font-size: 24px;
      font-weight: 400;
      color: #999999;
    }
  }
  .lgWay_form {
    padding: 32px;
  }
}
