page {
  width: 100%;
  height: 100%;
  background: #f5f5f5;
}
.perimerter_box {
  width: 100%;
  height: 100%;

  .perimerter_fixed {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000000;
    color: #ffffff;
    padding-bottom: 20px;

    .perimerter_fixed_title {
      .perimerter_title {
        height: 40px;
        position: relative;
        line-height: 40px;
        font-size: 36px;
        font-weight: 600;
        text-align: center;

        .perimerter_city {
          position: absolute;
          top: 0;
          left: 32px;
          height: 40px;
          display: flex;
          align-items: center;

          .perimerter_city_box {
            width: 40px;
            height: 40px;
          }

          .perimerter_city_icon1 {
            background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon40.png")
              no-repeat;
            background-size: 100% 100%;
          }

          .perimerter_city_icon2 {
            background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon46.png")
              no-repeat;
            background-size: 100% 100%;
          }

          .perimerter_city_font {
            height: 40px;
            font-size: 28px;
            font-weight: 600;
            line-height: 40px;
            margin-left: 12px;
          }

          .perimerter_city_select {
            width: 24px;
            height: 24px;
            margin-left: 12px;
          }

          .perimerter_city_selectIcon1 {
            background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon41.png")
              no-repeat;
            background-size: 100% 100%;
          }
          .perimerter_city_selectIcon2 {
            background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon47.png")
              no-repeat;
            background-size: 100% 100%;
          }
        }
      }

      .perimerter_search {
        padding: 32px 38px 0 32px;
        height: 64px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        .perimerter_input1 {
          width: 606px;
          height: 64px;
          border-radius: 32px;
          text-align: center;
          line-height: 64px;
          font-size: 24px;
          font-family: PingFangSC-Regular, PingFang SC;
          font-weight: 400;
          color: #ffffff;
          position: relative;
          background: rgba(255, 255, 255, 0.25);
        }
        .searchs_image {
          width: 36px;
          height: 36px;
          position: absolute;
          left: 183px;
          top: 13px;
        }
        .perimerter_input2 {
          width: 606px;
          height: 64px;
          border-radius: 32px;
          line-height: 64px;
          text-align: center;
          font-size: 24px;
          font-family: PingFangSC-Regular, PingFang SC;
          font-weight: 400;
          color: rgba(153, 153, 153, 1);
          position: relative;
          background: rgba(245, 245, 245, 1);
        }

        .placeholder_style1 {
          font-size: 24px;
          font-family: PingFangSC-Regular, PingFang SC;
          font-weight: 400;
          line-height: 24px;
          color: rgba(153, 153, 153, 1);
        }

        .placeholder_style2 {
          font-size: 24px;
          font-family: PingFangSC-Regular, PingFang SC;
          font-weight: 400;
          line-height: 24px;
          color: white !important;
        }

        .perimerter_codeBox {
          width: 48px;
          height: 48px;
        }
        .perimerter_code1 {
          background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon42.png")
            no-repeat;
          background-size: 100% 100%;
        }
        .perimerter_code2 {
          width: 48px;
          height: 48px;
          background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon45.png")
            no-repeat;
          background-size: 100% 100%;
        }
      }
    }
  }

  .perimerter_top {
    width: 100%;
    height: 570px;
    background: #a5a5a5;
  }

  .perimerter_noUser {
    width: 686px;
    height: 136px;
    background: #ffffff;
    box-shadow: 0px 2px 20px 0px rgba(0, 61, 67, 0.12);
    border-radius: 20px;
    margin: -80px auto 0;
    position: relative;

    .perimerter_userBox {
      padding-left: 148px;
      padding-top: 28px;

      .perimerter_userName {
        height: 36px;
        line-height: 36px;
        font-family: PingFangSC-Semibold, PingFang SC;
        font-weight: 600;
        color: #333333;
      }

      .perimerter_details {
        height: 24px;
        font-size: 24px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #666666;
        line-height: 24px;
        margin-top: 20px;
      }
    }

    .perimerter_userProfile {
      position: absolute;
      top: -30px;
      left: 24px;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/useProfile.png")
        no-repeat center/cover;
    }

    .perimerter_btn {
      position: absolute;
      right: 24px;
      top: 38px;
      height: 60px;
      font-size: 24px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 36px;
      background: #07c0c2;
      border-radius: 30px;
    }
  }

  .perimerter_card {
    width: 686px;
    height: 188px;
    background: #ffffff;
    box-shadow: 0px 2px 20px 0px rgba(0, 61, 67, 0.12);
    border-radius: 20px;
    margin: -80px auto 0;
    position: relative;

    .perimerter_userProfile {
      position: absolute;
      top: -22px;
      left: 24px;
      width: 120px;
      height: 120px;
      border-radius: 50%;
      background: #a5a5a5;
    }

    .perimerter_userBox {
      padding-left: 168px;
      padding-top: 20px;

      .perimerter_userName {
        height: 36px;
        line-height: 36px;
        font-family: PingFangSC-Semibold, PingFang SC;
        font-weight: 600;
        color: #333333;
        display: flex;

        .perimerter_userflow {
          max-width: 320px;
        }

        .perimerter_user_icon1 {
          background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/renzheng.png")
            no-repeat;
          background-size: 100% 100%;
        }

        .perimerter_user_icon2 {
          background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon31.png")
            no-repeat;
          background-size: 100% 100%;
        }

        .user_user_iconBox {
          width: 36px;
          height: 36px;
          margin-left: 16px;
        }
      }

      .perimerter_userKol {
        margin-top: 13px;
        height: 30px;
        display: flex;
        align-items: center;

        .kol_icon1 {
          height: 30px;
          align-items: center;
          justify-content: center;
          background: #c1cdcd;
          border-radius: 15px;
          display: flex;
          padding: 0px 8px 0px 12px;

          .kol_icon_bg {
            background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/zhubian.png")
              no-repeat;
            background-size: 100% 100%;
            width: 24px;
            height: 24px;
          }

          .kol_icon_font {
            height: 30px;
            font-size: 20px;
            font-weight: 400;
            color: #ffffff;
            line-height: 30px;
          }
        }

        .kol_icon2 {
          height: 30px;
          align-items: center;
          justify-content: center;
          background: rgba(239, 71, 111, 1);
          border-radius: 15px;
          display: flex;
          padding: 0px 8px 0px 12px;

          .kol_icon_bg {
            background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon36.png")
              no-repeat;
            background-size: 100% 100%;
            width: 24px;
            height: 24px;
          }

          .kol_icon_font {
            height: 30px;
            font-size: 20px;
            font-weight: 400;
            color: #ffffff;
            line-height: 30px;
          }
        }
      }
    }

    .perimerter_getBean {
      height: 24px;
      margin: 28px 0 38px 24px;
      display: flex;
      font-size: 24px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #333333;
      align-items: center;
      .perimerter_bean_liner {
        width: 2px;
        height: 20px;
        background: #e5e5e5;
        border-radius: 1px;
        margin: 0 16px;
      }
    }

    .perimerter_quan {
      height: 60px;
      background: #07c0c2;
      border-radius: 30px;
      padding: 0 28px;
      text-align: center;
      line-height: 60px;
      font-size: 24px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #ffffff;
      position: absolute;
      bottom: 20px;
      right: 24px;
    }
  }
  .perimerter_active {
    height: 460px;
    width: 706px;
    margin: 23px auto 0;
    display: flex;
    justify-content: space-between;
    .perimerter_beanActive {
      width: 360px;
      height: 460px;
      background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon23.png")
        no-repeat;
      background-size: 100% 100%;
    }
    .permerter_share {
      width: 342px;
      height: 706px;
      .permerter_share_look {
        width: 342px;
        height: 228px;
        background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon24.png")
          no-repeat;
        background-size: 100% 100%;
      }
      .permerter_share_game {
        width: 342px;
        height: 228px;
        background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon25.png")
          no-repeat;
        background-size: 100% 100%;
        margin-top: 4px;
      }
    }
    .perimerter_dec {
      padding: 33px 0px 0px 34px;
      .perimerter_title {
        height: 40px;
        font-size: 40px;
        font-family: PingFangSC-Semibold, PingFang SC;
        font-weight: 600;
        color: #333333;
        line-height: 40px;
      }
      .permerter_intertion {
        margin-top: 16px;
      }
      .permerter_interSize1 {
        height: 28px;
        font-size: 28px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #666666;
      }
      .permerter_interSize2 {
        height: 24px;
        font-size: 24px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #666666;
      }
      .permerter_active_accress {
        height: 40px;
        display: flex;
        align-items: center;
        margin-top: 16px;
        .permerter_active_tag {
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          background: rgba(239, 71, 111, 0.2);
          padding: 0px 12px;
          border-radius: 23px;
          .permerter_active_cityIcon {
            width: 24px;
            height: 24px;
            background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/active_city.png")
              no-repeat;
            background-size: 100% 100%;
            margin-right: 4px;
          }
          .permerter_active_cityFont {
            color: rgba(239, 71, 111, 1);
            height: 40px;
            font-size: 20px;
            max-width: 240px;
            line-height: 40px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
          }
        }
      }
    }
  }
  .permerter_tab {
    width: 686px;
    height: 172px;
    margin: 21px 32px 0;
    background: #ffffff;
    box-shadow: 0px 2px 15px 0px rgba(0, 61, 67, 0.06);
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    .permerter_tab_box {
      width: 172px;
      height: 172px;
      text-align: center;
      .permerter_tab_iconBox {
        width: 64px;
        height: 64px;
        margin: 32px auto 0;
      }
      .permerter_tab_icon1 {
        background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon28.png")
          no-repeat;
        background-size: 100% 100%;
      }
      .permerter_tab_icon2 {
        background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon29.png")
          no-repeat;
        background-size: 100% 100%;
      }
      .permerter_tab_icon3 {
        background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon30.png")
          no-repeat;
        background-size: 100% 100%;
      }
      .permerter_tab_font {
        height: 24px;
        font-size: 24px;
        font-weight: 400;
        color: #333333;
        margin-top: 12px;
      }
    }
  }
  .permerter_tab_kol {
    width: 750px;
    background: #ffffff;
    border-radius: 50px 50px 0px 0px;
    margin: 32px 0;

    .permerter_tab_tags {
      margin: 0 32px;
      width: 688px;
      height: 110px;
      border-bottom: 1px solid #e5e5e5;
      white-space: nowrap;
    }

    .permerter_kol_domain {
      margin: 48px 24px 0;
      height: 40px;
      line-height: 40px;

      text-align: center;
      display: inline-block;
      font-size: 32px;
      color: rgba(102, 102, 102, 1);
    }

    .checked {
      font-size: 40px;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 600;
      color: #333333;
    }

    .permerter_tip_box {
      height: 101px;
      align-items: center;
      display: flex;
      width: 688px;
      margin: 0 auto;

      .permerter_tip_tag {
        height: 54px;
        white-space: nowrap;

        .tip_checked {
          height: 44px;
          background: rgba(7, 192, 194, 1);
          border-radius: 22px;
          line-height: 44px;
          padding: 0 20px;
          font-size: 24px;
          font-weight: 400;
          color: #ffffff;
          display: inline-block;
          margin-right: 16px;
          position: relative;

          .checked_icon {
            width: 15px;
            height: 15px;
            top: 36px;
            left: 50%;
            background: rgba(7, 192, 194, 1);
            position: absolute;
            z-index: 1001;
            margin-left: -7px;
            transform: rotateZ(45deg);
          }
        }

        .tip_noCheck {
          height: 44px;
          background: rgba(7, 192, 194, 0.4);
          border-radius: 22px;
          line-height: 44px;
          padding: 0 20px;
          font-size: 24px;
          font-weight: 400;
          color: #ffffff;
          display: inline-block;
          margin-right: 16px;
        }
      }
    }
    .permerter_userDetails_box {
      min-height: 850px;
    }
  }
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
  color: transparent;
}
.test {
  background: rgba(255, 255, 255, 0.25);
}
.perimeter_toast_box {
  margin: 32px 40px 0;
  font-size: 28px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #666666;
  line-height: 42px;
}
