.goods_tabbar{
  height: 90px;
  line-height: 90px;
  padding:0 130px;
  justify-content: space-between;
  .goods_tabbarSelect{
    position: relative;
    font-size: 24px;
    color:rgba(85, 85, 85, 1);
    .goods_checkedSelect{
      position: absolute;
      width: 68px;
      height: 8px;
      background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/user/goodsSelect.png") no-repeat;
      background-size: 100% 100%;
      top: 56px;
      z-index: -1;
      margin-left: -6px;
      margin-top:1px;
    }
    .goods_checkedPosition{
      margin-left: 10px;
    }
  }
  .goods_checkedfont{
    font-size: 28px;
    font-weight: bold;
    font-family: PingFangSC-bold;
  }

}
.goods_details{
  padding: 0 30px;
  .goods_detailsList{
    background: #FFFFFF;
    margin-bottom: 20px;
    border-radius: 10px;
    .goods_listTitle{
      height: 116px;
      justify-content: space-between;
      .goods_listMerchant{
        padding: 20px;
        .goods_listMerchantImg{
          width: 76px;
          height: 76px;
          image{
            width: 100%;
            height: 100%;
            vertical-align: middle;
            border-radius: 10px;
          }
        }
        .goods_listMerchantUser{
          margin-left: 20px;
          .goods_listMerchantUserName{
            padding-top: 8px;
            font-size: 28px;
            color: rgba(51, 51, 51, 1);
            font-weight: bold;
            font-family: PingFangSC-bold;
            line-height: 1;
            text:after{
              width: 10px;
              height: 18px;
              background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/user/goodsgo.png") no-repeat;
              background-size: 100% 100%;
              content: '';
              display: inline-block;
              margin-left: 10px;
            }
          }
          .goods_listMerchantTime{
             color: rgba(119, 119, 119, 1);
             font-size: 20px;
             height: 41px;
             line-height: 50px;
          }

        }
      }
      .goods_listStatus{
        color: rgba(51, 51, 51, 1);
        font-size: 24px;
        display: flex;
        justify-content: center;
        height: 116px;
        align-items: center;
        margin-right: 20px;
      }
    }
    .goods_line{
      width:690px;
      height:1px;
      background:rgba(242,242,242,1);
    }
    .goods_information{
      padding: 30px 20px 29px 25px;
      line-height: 1;
      .goods_mountTime{
        color: rgba(33, 33, 33, 1);
        font-size: 26px;
      }
      .goods_price{
        padding-top: 26px;
        text-align: right;
        font-size: 24px;
        color: rgba(119, 119, 119, 1);
        .price{
          font-weight: bold;
          color: rgba(51, 51, 51, 1);
        }
      }
    }
  }
}
.goods_null{
  font-size: 20px;
  color: rgba(119, 119, 119, 1);
  text-align: center;
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
