.pickViewStyle{
   width: 100%;
  height: 400px;
}
.indicatorClass{
  display: flex;
  justify-content: center;
  align-items: center;

}
.PickerView_indicator{
  height: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
}
