.specail_hot_box {
  width: 200px;
  display: inline-block;
  margin-right: 16px;
  vertical-align: top;
  line-height: 1;
  .specail_hot_specalImage {
    width: 200px;
    height: 200px;
    background: #ffffff;
    border-radius: 5px;
    position: relative;
  }
  .specail_hot_font {
    width: 200px;
    height: 84px;
    font-size: 28px;
    font-weight: 400;
    color: #333333;
    line-height: 42px;
    margin-top: 12px;
  }
  .specails_hot_user {
    display: flex;
    margin-top: 8px;
    font-size: 18px;
    font-weight: 400;
    color: #999999;
    align-items: center;
    .specails_hot_userProfile {
      width: 24px;
      height: 24px;
      background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon641.png")
        no-repeat;
      background-size: 100% 100%;
    }
    .specails_hot_merchantName {
      margin-left: 4px;
      max-width: 88px;
      margin-right: 8px;
    }
  }
  .specails_hot_price {
    margin-top: 14px;
    display: flex;
    align-items: baseline;
  }
  .specails_hot_price1 {
    margin-top: 4px;
    display: flex;
    align-items: baseline;
  }
  .specails_bean_price {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 400;
    color: #ef476f;
    line-height: 18px;
  }
  .specails_bean_show {
    display: flex;
    align-items: center;
    margin-top: 4px;
    .specails_bean_showText {
      display: flex;
      align-items: baseline;
    }
  }
  .specails_bean_getMoney {
    max-width: 113px;
    margin-left: 8px;
    padding: 4px 8px;
    font-size: 22px;
    font-weight: 400;
    color: #ef476f;
    border-radius: 8px;
  }
  .specail_hot_limit {
    padding-top: 12px;
    font-size: 24px;
    font-weight: 400;
    color: #999999;
    line-height: 24px;
  }
  .specail_hot_price {
    margin-top: 8px;
    font-size: 32px;
    font-weight: 600;
    color: #333333;
    line-height: 32px;
    display: flex;
    align-items: baseline;
    max-width: 200px;
  }
  .specail_hot_rel {
    padding-top: 8px;
    font-size: 20px;
    font-weight: 400;
    color: #cccccc;
    line-height: 20px;
    text-decoration: line-through;
  }
  .specail_price_text {
    font-size: 24px;
    line-height: 22px;
  }
  .specail_bean_border {
    margin-top: 8px;
    display: inline-block;
  }
  .specail_bean_box {
    padding: 4px 8px;
    font-size: 22px;
    font-weight: 400;
    color: #ef476f;
    box-sizing: border-box;
    border-radius: 4px;
    line-height: normal;
  }
  .specail_hot_toast {
    font-size: 20px;
    font-weight: 600;
    color: #ef476f;
    line-height: 20px;
    padding-top: 16px;
  }
  .specail_share_text {
    text-decoration: line-through;
    color: #cccccc;
    font-size: 20px;
  }
  .specail_share_textMargin {
    margin-left: 8px;
  }
  .specailOther_new_bean {
    margin-top: 8px;
    height: 24px;
    background: #ffffff;
    border-radius: 24px;
    border: 1px solid #ef476f;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    .specailOther_new_img {
      width: 80px;
      height: 24px;
    }
    .specailOther_new_pay {
      font-size: 20px;
      font-weight: bold;
      color: #ef476f;
      max-width: 90px;
      padding: 0 8px 0 4px;
    }
  }
}
.specails_bean_news {
  margin-top: 6px;
  font-size: 18px;
  font-weight: 400;
  color: #ef476f;
  line-height: 18px;
}
.specail_hot_box:last-child {
  margin-right: 0;
}
