.kolGoods_details_refund {
  width: 686px;
  height: 320px;
  background: #ffffff;
  border-radius: 12px;
  margin: -74px auto 0;
  position: relative;
  z-index: 10;

  .refund_top {
    padding: 48px 32px 0;

    .refund_top_box {
      margin: 0 55px;
      height: 96px;
      display: flex;
      align-items: center;
      .refund_icon_margin1 {
        margin-right: 16px;
      }
      .refund_icon_box {
        width: 96px;
        height: 96px;
        background: rgba(16, 133, 136, 0.1);
        border-radius: 50%;
      }
      .refund_icon {
        width: 60px;
        height: 60px;
      }
      .refund_icon1 {
        background: url("https://wechat-config.dakale.net/miniprogram/image/refund1.png")
          no-repeat;
        background-size: 100% 100%;
      }
      .refund_icon2 {
        background: url("https://wechat-config.dakale.net/miniprogram/image/refund2.png")
          no-repeat;
        background-size: 100% 100%;
      }
      .refund_icon3 {
        background: url("https://wechat-config.dakale.net/miniprogram/image/refund3.png")
          no-repeat;
        background-size: 100% 100%;
      }
      .refund_icon_margin2 {
        margin-right: 28px;
      }
      .refund_icon_liner1 {
        width: 68px;
        height: 96px;
        background: url("https://wechat-config.dakale.net/miniprogram/image/refund4.png")
          no-repeat;
        background-size: 100% 100%;
      }
      .refund_icon_liner2 {
        width: 68px;
        height: 96px;
        background: url("https://wechat-config.dakale.net/miniprogram/image/refund5.png")
          no-repeat;
        background-size: 100% 100%;
      }
      .refund_icon_margin3 {
        margin-right: 28px;
      }
      .refund_icon_margin4 {
        margin-right: 17px;
      }
      .refund_icon_bgColor {
        background: #f5f5f5;
      }
    }
    .refund_top_font {
      margin: 20px 55px 0;
      height: 24px;
    }
    .refund_top_liner {
      margin-top: 31px;
      width: 622px;
      height: 2px;
      background: #e5e5e5;
    }
  }
  .refund_text {
    margin-top: 32px;
    text-align: center;
  }
}
