/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */

.cleanfix{
  display: flex;
}
//@font-face {
//  font-family: PingFangSC-Regular;
//  src: url('https://dakale-website.oss-cn-hangzhou.aliyuncs.com/common/font/PingFangSC-Regular.ttf')
//}
//@font-face {
//  font-family: PingFangSC-bold;
//  src: url('https://dakale-website.oss-cn-hangzhou.aliyuncs.com/common/font/PingFangSC-Semibold.ttf')
//}
page{
  background: #F2F2F2;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: "PingFangSC-Regular","PingFangSC-bold","黑体","宋体",sans-serif;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
  box-sizing: border-box;
  overflow-scrolling:touch;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
}
[v-cloak] {display:none;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block;
}

body {
  line-height: 1 !important;
  /*background: #F0F0F6;*/
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* custom */
a {
  color: #000000;
  text-decoration: none;
  -webkit-backface-visibility: hidden;
}

li {
  list-style: none;
}

html, body {
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  font-family: "PingFangSC-Regular","PingFangSC-bold","黑体","宋体",sans-serif !important;
  background: #F2F2F2;
  box-sizing: border-box;
}

body {
  -webkit-text-size-adjust:none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background: #F2F2F2;
  box-sizing: border-box;
  margin: 0 auto;
  overflow-x: hidden;
}

input:focus {
  outline: -webkit-focus-ring-color auto 0px;
}
img{
  width: 100%;
  height: 100%;
  vertical-align: middle;
  display: inline-block;
}
.f{
  display: flex;
}
.c{
  text-align: center;
}
.Regular{
  font-family: PingFangSC-Regular;
}
.page_between{
  justify-content: space-between;
}
i{
  vertical-align: middle;
}
.loading{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  background: rgba(0, 0, 0, 0.6);
}
.public_center{
  display: flex;
  justify-content: center;
  align-items: center;
}
img{
  width: 100%;
  vertical-align: middle;
}
image{
  width: 100%;
  vertical-align: middle;
}
