@import "@/assets/css/global.scss";

.group_ce_form {
  padding: 0 32px 216px;
  .group_ce_importGoods {
    @include flexCenter;
    @include whEqual(172px, 40px);
    border-radius: 4px;
    border: 1px solid #07c0c2;
    font-weight: 400;
    font-size: 24px;
    color: #07c0c2;
  }
  .group_ce_name{
    text-align: left !important;
  }
  .group_ce_goodsName {
    color: #ef476f !important;
  }
  .group_ce_treaty_option {
    @include flexCenterA;
    font-size: 24px;
    color: #666666;
    justify-content: center;
    margin-top: 56px;
    &.select {
      &::before {
        background: url("https://wechat-config.dakale.net/miniprogram/relay/gc_select.png");
        background-size: 100%;
      }
    }
    &::before {
      content: "";
      display: block;
      @include whEqual(32px);
      margin-right: 12px;
      background: url("https://wechat-config.dakale.net/miniprogram/relay/gc_noselect.png");
      background-size: 100%;
    }
    Text {
      color: #07c0c2;
    }
  }
}
