  .hotMetal_lb {
  width: 714px;
  height: 702px;
  background: url(https://wechat-config.dakale.net/miniprogram/image/icon970.png)
    no-repeat;
  background-size: 100% 100%;
  margin: 24px auto 0;
}
