.canvas_box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  .canvas_img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    top: 178px;
    left: 34px;
    .getBean_toast {
      position: absolute;
      left: 0px;
      right: 0px;
      top: 60px;
      font-size: 24px;
      text-align: center;
      color: #ffffff;
    }
    .animateCanvas {
      width: 120px;
      height: 120px;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background: transparent;
    }
    .animateCanvas_opacity {
      opacity: 0;
    }
  }
  .canvas_tag {
    padding: 0px 16px 0 2px;
    height: 56px;
    line-height: 56px;
    text-align: center;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 0px 8px 8px 0px;
    font-size: 28px;
    font-weight: 400;
    color: #ffffff;
    position: absolute;
    z-index: 1;
    top: 208px;
    left: 190px;
  }
  .canvas_tag_box {
    position: absolute;
    width: 24px;
    height: 56px;
    top: 0;
    bottom: 0;
    left: -24px;
    background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/icon455.png")
      no-repeat;
    background-size: 100% 100%;
  }
}
