page {
  background-color: #333333;
}

@mixin head_titile($url) {
  &::before {
    content: "";
    display: block;
    width: 392px;
    height: 74px;
    background: url($url);
    background-size: 100% 100%;
  }
}

.rechargeMemberList_box {
  View {
    box-sizing: border-box;
  }
  .rechargeMemberList_head {
    position: relative;
    height: 210px;
    background-image: url(https://wechat-config.dakale.net/miniprogram/image/rechargeMemberList_head.png);
    background-size: 100% 100%;
    .rechargeMemberList_i_share {
      position: absolute;
      width: 48px;
      height: 48px;
      top: 76px;
      right: 24px;
      background-image: url(https://wechat-config.dakale.net/miniprogram/image/rechargeMemberList_share.png);
      background-size: 100% 100%;
    }
  }
  .rechargeMemberList_group {
    .rechargeMemberList_cell {
      & + .rechargeMemberList_cell {
        margin-top: 10px;
      }
      .rechargeMemberList_cell_head {
        position: relative;
        height: 168px;
        display: flex;
        align-items: center;
        justify-content: center;
        .rechargeMemberList_cell_rule {
          position: absolute;
          padding: 5px 10px;
          border-radius: 20px;
          border: 1px solid #8c8c8c;
          font-size: 20px;
          color: #8c8c8c;
          top: 54px;
          right: 24px;
        }
        &.video {
          @include head_titile(
            "https://wechat-config.dakale.net/miniprogram/image/rechargeMemberList_video.png"
          );
        }
        &.music {
          @include head_titile(
            "https://wechat-config.dakale.net/miniprogram/image/rechargeMemberList_music.png"
          );
        }
        &.choice {
          @include head_titile(
            "https://wechat-config.dakale.net/miniprogram/image/rechargeMemberList_exquisite.png"
          );
        }
      }
      .rechargeMemberList_cell_list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 40px;
        .rechargeMemberList_list_cell {
          width: 325px;
          height: 140px;
          background: #ffffff;
          border-radius: 16px;
          margin-bottom: 20px;
          padding: 0 32px;
          display: flex;
          align-items: center;
          .rechargeMemberList_cell_img {
            width: 100px;
            height: 100px;
            background-size: 100% 100%;
          }
          .rechargeMemberList_cell_name {
            font-size: 28px;
            font-weight: 600;
            color: #333333;
            margin-left: 24px;
            flex: 1;
          }
        }
      }
    }
  }
  .rechargeMemberList_footer {
    height: 155px;
    display: flex;
    align-items: center;
    justify-content: center;
    .rechargeMemberList_dkl_slogan {
      width: 409px;
      height: 57px;
    }
  }
}
