.page_custom{
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  .custom_add{
    position: absolute;
    bottom: 30px;
    width: 80px;
    height: 80px;
    background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/icon33.png") no-repeat;
    background-size: 100% 100%;
    margin-left: 335px;
  }
}
.custom_box{
  position: relative;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  .custom_title{
    height: 63px;
    line-height: 63px;
    color: rgba(52, 52, 52, 1);
    font-size: 24px;
    padding: 0 30px;
  }
  .custom_title1{
    height: 74px;
    line-height: 74px;
    color: rgba(52, 52, 52, 1);
    font-size: 24px;
    padding: 0 30px;
  }
  .custom_body{
    margin: 0px 30px;
    border: 20px ;
    background: #FFFFFF;
    border-radius: 20px;
    padding:0 20px;

    .custom_Tag{
      height: 110px;
      line-height: 110px;
      border-bottom:1px solid rgba(230, 230, 230, 1) ;
      position: relative;
      .custom_TagIcon{
        display: block;
        width: 70px;
        height: 70px;
        background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/icon36.png") no-repeat;
        background-size: 100% 100%;
        align-self: center;
      }
      .custom_details{
        font-size: 26px;
        color: rgba(52, 52, 52, 1);
        font-weight: bold;
        margin-left: 10px;
      }
      .custom_Change{
        position: absolute;
        width: 35px;
        height: 35px;
        top: 38px;
        right: 0px;
      }
      .custom_close{
        background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/icon34.png");
        background-size: 100% 100%;
      }
      .custom_open{
        background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/index/icon35.png");
        background-size: 100% 100%;
      }
    }
    .custom_Tag:last-child{
      border-bottom:none ;
    }
  }
}
