.page_share_download{
  width: 100%;
  height: 110px;
  background:rgba(0,0,0,0.6);
  position: absolute;
  z-index: 100;
  top: 0;
  .page_share_downloadBox{
    padding:15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .page_share_userDetails{
    display: flex;
    height: 100%;
    align-items: center;
  }
  .page_share_profile{
    width: 80px;
    height: 80px;
    border-radius:50%;
    background: #A5A5A5;
  }
  .page_share_userBox{
    margin-left: 10px;
  }
  .page_share_userTitle{
    font-size:22px;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(255,255,255,1);
    line-height:22px;
    margin-top: 10px;
  }
  .page_share_userDetails{
    display: flex;
    height: 100%;
    align-items: center;
  }
  .page_share_btn{
    height:50px;
    background:rgba(21,206,208,1);
    border-radius:25px;
    line-height: 50px;
  }
  .page_share_btnStyle{
    background:rgba(21,206,208,1);
    border-radius:25px;
    font-size:26px;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(255,255,255,1);
    margin: 0px;
    line-height: 50px;
  }
  .page_share_openApp{
    width:269px;
    height:72px;
    background:rgba(21,206,208,1);
    box-shadow:0px 2px 8px 0px rgba(5,147,149,0.72);
    border-radius:36px;
    position: fixed;
    z-index: 1000;
    top: 65%;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .page_share_btnStyle1{
    background:rgba(21,206,208,1);
    border-radius:36px;
    font-size:26px;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(255,255,255,1);
    margin: 0px;
    line-height: 72px;
    background: url("https://dakale-web.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/share/downloadIcon.png") no-repeat;
    background-size: 50px 50px;
    background-position:36px 11px;
    text-align: left;
    padding-left: 99px;
  }
  .page_share_userName{
    height:29px;
    font-size:30px;
    font-family:PingFang SC;
    font-weight:bold;
    color:rgba(255,255,255,1);
    line-height:22px;
  }
}

