.collageTime_box {
  padding: 112px 0 0;
  position: relative;
  .collageTime_body {
    width: 405px;
    height: 78px;
    background: url(https://wechat-config.dakale.net/miniprogram/image/icon951.png)
      no-repeat;
    background-size: 100% 100%;
    position: relative;
  }
  .collageTime_end_djs1 {
    font-size: 36px;
    color: #f53d47;
    position: absolute;
    top: 14px;
    left: 124px;
    font-size: 36px;
    font-weight: normal;
    color: #f53d47;
    line-height: 49px;
  }
  .collageTime_end_djs2 {
    font-size: 36px;
    color: #f53d47;
    position: absolute;
    top: 14px;
    left: 214px;
    font-size: 36px;
    font-weight: normal;
    color: #f53d47;
    line-height: 49px;
  }
  .collageTime_end_djs3 {
    font-size: 36px;
    color: #f53d47;
    position: absolute;
    top: 14px;
    left: 308px;
    font-size: 36px;
    font-weight: normal;
    color: #f53d47;
    line-height: 49px;
  }
}
