.friendScene_barrage_box {
  height: 70px;
  background: rgba(252, 249, 239, 1);
  margin-top: 16px;
  position: relative;
  border-radius: 8px;
  .friendScene_barrage_touchClose {
    position: absolute;
    z-index: 888;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
  }
  .friendScene_barrage_autoPlay {
    width: 100%;
    height: 100%;
  }
  .friendScene_barrage_content {
    display: flex;
    align-items: center;
    padding: 0 24px;
    height: 100%;
    .friendScene_barrage_profile {
      width: 48px;
      height: 48px;
      box-sizing: border-box;
      border: 1px solid #ffffff;
      border-radius: 50%;
      background-size: 100% 100%;
    }
    .friendScene_barrage_font {
      font-size: 24px;
      font-weight: 400;
      color: #333333;
      margin-left: 16px;
    }
  }
}
