.friendScice_box {
  padding: 48px 32px 64px;
  position: relative;
  z-index: 1000;
  background: #f0597d;
  z-index: 1;
  .friendScice_shop_good {
    width: 322px;
    height: 103px;
    margin: 0px auto 0;
    background: url("https://wechat-config.dakale.net/miniprogram/active/8.8/active8_8_11.png")
      no-repeat;
    background-size: 100% 100%;
  }
  .friendScice_goods_box {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .friendScice_goods_btn {
    width: 190px;
    height: 60px;
    border-radius: 35px;
    border: 2px solid #ffffff;
    margin: 64px auto 0;
    font-size: 28px;
    font-weight: 600;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
