page {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #ffffff;
}
.share_box {
  width: 100%;
  height: 100%;
  .share_swiper_box {
    width: 100%;
    height: 890px;
    display: flex;
    padding-top: 32px;
    .share_swiperItem_box {
      display: flex;
      align-items: center;
      justify-content: center;

      .share_swiperItem {
        width: 500px;
        height: 890px;
        border-radius: 12px;
        .share_swiperItem_code{
          position: absolute;
          left: 174px;
          right: 174px;
          bottom: 60px;

        }
      }
    }
  }
  .share_wx {
    margin-top: 70px;
    .share_wx_icon {
      width: 74px;
      height: 62px;
      background: url("https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/wxIcon.png")
        no-repeat;
      background-size: 100% 100%;
      margin: 0 auto;
    }
    .share_wx_font {
      width: 100%;
      margin-top: 10px;
      text-align: center;
      height: 23px;
      font-size: 24px;
      font-weight: 400;
      color: #333333;
    }
  }
}
.imgCard {
  width: 750px;
  height: 1625px;
  margin: 30px auto 0;
  opacity: 0;
}
.codes {
  width: 150px;
  height: 150px;
  position: absolute;
  right: 130px;
  top: 780px;
}
