page {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #ffffff;
}
.share_box {
  width: 100%;
  height: 100%;
  .share_swiper_box {
    width: 100%;
    height: 890px;
    display: flex;
    padding-top: 32px;
    .share_swiperItem_box {
      display: flex;
      align-items: center;
      justify-content: center;
      .share_swiperItem {
        width: 500px;
        height: 890px;
        border-radius: 12px;
        position: relative;
        .share_swiperItem_code {
          position: absolute;
          width: 154px;
          height: 154px;
          left: 173px;
          right: 173px;
          bottom: 82px;
        }
        .share_user {
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          left: 0px;
          right: 0px;
          bottom: 45px;
          color: #ffffff;
          .share_user_margin {
            margin-right: 8px;
          }
        }
      }
      .share_bg_style {
        width: 100%;
        height: 890px;
      }
    }
  }
  .share_swiper_boxScale {
    transform: scale(0.9);
    transition: all 500ms linear;
  }
  .share_slider_box {
    margin-top: 24px;
    .share_slider_select {
      width: 30px;
      height: 6px;
      background: #07c0c2;
      border-radius: 3px;
      margin-right: 8px;
    }
    .share_slider_noSelect {
      width: 20px;
      height: 6px;
      background: #07c0c2;
      border-radius: 3px;
      opacity: 0.2;
      margin-right: 8px;
    }
  }
  .share_wx {
    margin-top: 70px;
    padding: 0 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    .share_friend {
      width: 250px;
      height: 76px;
      background: url(https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/invitation_9.png)
        no-repeat;
      background-size: 100% 100%;
      margin-right: 12px;
    }
    .share_image {
      width: 250px;
      height: 76px;
      background: url(https://dakale-wechat-new.oss-cn-hangzhou.aliyuncs.com/miniprogram/image/invitation_10.png)
        no-repeat;
      background-size: 100% 100%;
      margin-left: 12px;
    }
  }
}
.imgCard {
  width: 750px;
  height: 1625px;
  margin: 30px auto 0;
  opacity: 0;
}
.codes {
  width: 150px;
  height: 150px;
  position: absolute;
  right: 130px;
  top: 780px;
}
