.goodsView {
  flex: 1;
}
.relay_order_box {
  position: relative;
  padding: 32px 0;

  .relay_order_shopCardInfo {
    margin: 0 auto 24px;
    width: 688px;
    background: #ffffff;
  }
  .relay_order_computedTime {
    height: 52px;
    font-size: 24px;
    font-weight: 400;
    color: #ef476f;
    display: flex;
    align-items: center;
    justify-content: center;
    background: Rgba(239, 71, 111, 0.15);
  }
  .relay_order_cardTop {
    padding: 32px;
    position: relative;
    border-bottom: 1px solid #e5e5e5;
    .relay_order_cardTitle {
      font-size: 28px;
      font-weight: 600;
      color: #333333;
      line-height: 32px;
    }
    .relay_order_cardTime {
      font-size: 20px;
      font-weight: 400;
      color: #999999;
      line-height: 20px;
      margin-top: 12px;
    }
    .relay_order_status {
      font-size: 24px;
      font-weight: 400;
      color: #ef486f;
      line-height: 24px;
      position: absolute;
      right: 32px;
      top: 52px;
    }
  }
  .relay_order_cardShop {
    padding: 32px;
    .relay_order_ShopTitle {
      height: 50px;
      display: flex;
      align-items: center;
    }
    .relay_order_ShopProfile {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: #333333;
    }
    .relay_order_ShopName {
      width: 284px;
      height: 32px;
      font-size: 28px;
      font-weight: 600;
      color: #333333;
      margin-left: 16px;
    }
    .relay_order_ShopType {
      margin-left: auto;
      display: flex;
      align-items: center;
      height: 50px;
      .relay_order_ShopType1 {
        width: 216px;
        height: 28px;
        font-size: 24px;
        font-weight: 400;
        color: #999999;
      }
      .relay_order_ShopType2 {
        width: 24px;
        height: 24px;
        background: url("https://wechat-config.dakale.net/miniprogram/relay/icon_16.png")
          no-repeat;
        background-size: 100% 100%;
        margin-left: 4px;
      }
    }
    .relay_order_ShopContent {
      margin: 24px auto 0;
      display: flex;
      align-items: flex-start;
      .relay_order_contentImg {
        width: 160px;
        height: 160px;
        border-radius: 8px;
        flex-shrink: 0;
      }
      .relay_order_contentBody {
        margin-left: 24px;
        padding-top: 4px;
        .relay_order_BodyText {
          width: 350px;
          height: 72px;
          font-size: 28px;
          font-weight: 600;
          color: #333333;
          line-height: 36px;
        }
        .relay_order_Bodyfont {
          margin-top: 24px;
          font-size: 24px;
          font-weight: 400;
          color: #999999;
          line-height: 24px;
        }
      }
      .relay_order_Bodyprice {
        padding-top: 10px;
        font-size: 24px;
        font-weight: 400;
        color: #333333;
        line-height: 24px;
        margin-left: auto;
        flex-shrink: 0;
      }
    }
    .relay_order_cardUser {
      margin: 32px 0px 0;
      background: #fbfbfb;
      border-radius: 8px;
      .relay_cardUser_title {
        height: 96px;
        border-bottom: 1px solid #e5e5e5;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        text-indent: 32px;
      }
      .relay_cardUser_content {
        padding: 32px 32px 28px;
      }
      .relay_cardUser_meAddress {
        display: flex;
        align-items: center;
        height: 36px;
      }
      .relay_cardUser_meAddress::before {
        display: block;
        content: "";
        width: 36px;
        height: 36px;
        background: url("https://wechat-config.dakale.net/miniprogram/relay/icon_26.png")
          no-repeat;
        background-size: 100% 100%;
        margin-right: 24px;
      }
      .relay_cardUser_meAddressMax {
        font-size: 28px;
        font-weight: 400;
        color: #333333;
        line-height: 28px;
      }
      .relay_cardUser_teartext {
        margin: 24px 0 0 60px;
        font-size: 24px;
        font-weight: 400;
        color: #999999;
        line-height: 36px;
      }
      .relay_cardUser_teartext::after {
        display: inline-block;
        content: "";
        width: 24px;
        height: 24px;
        background: url("https://wechat-config.dakale.net/miniprogram/relay/icon_24.png")
          no-repeat;
        background-size: 100% 100%;
        margin-left: 8px;
        vertical-align: text-top;
      }
      .relay_cardUser_userName {
        margin: 12px 0 0 60px;
        font-size: 24px;
        font-weight: 400;
        color: #333333;
        line-height: 36px;
      }
      .relay_cardUser_userName::after {
        display: inline-block;
        content: "";
        width: 24px;
        height: 24px;
        background: url("https://wechat-config.dakale.net/miniprogram/relay/icon_25.png")
          no-repeat;
        background-size: 100% 100%;
        margin-left: 8px;
        vertical-align: text-top;
      }
      .relay_cardUser_userDetails {
        margin-top: 32px;
        display: flex;
        align-items: center;
        height: 36px;
        font-size: 24px;
        font-weight: 400;
      }
      .relay_cardUser_userDetails::before {
        display: block;
        content: "";
        width: 36px;
        height: 36px;
        background: url("https://wechat-config.dakale.net/miniprogram/relay/icon_27.png")
          no-repeat;
        background-size: 100% 100%;
        margin-right: 24px;
      }
      .relay_cardUser_userAddress {
        margin: 12px 0 0 60px;
        font-size: 24px;
        font-weight: 400;
        color: #999999;
        line-height: 36px;
      }
      .relay_cardUser_remark {
        display: flex;
        align-items: center;
        height: 36px;
        margin-top: 32px;
      }
      .relay_cardUser_remark::before {
        display: block;
        content: "";
        width: 36px;
        height: 36px;
        background: url("https://wechat-config.dakale.net/miniprogram/relay/icon_28.png")
          no-repeat;
        background-size: 100% 100%;
        margin-right: 24px;
      }
      .relay_cardUser_remakeMax {
        max-width: 420px;
        font-size: 24px;
        font-weight: 400;
      }
    }
  }
}
