@import "@/assets/css/global.scss";

.blind_content {
  View {
    box-sizing: border-box;
  }
  position: relative;
  @include whEqual(750px, 906px);
  background: url("https://wechat-config.dakale.net/miniprogram/blind/home/home_machine.png")
    no-repeat;
  background-size: 100% 100%;
  .blindC_bean {
    font-size: 40px;
    font-weight: bold;
    color: #ef476f;
    padding-top: 42px;
    text-align: center;
  }
  .blind_tab {
    @include flexCenterA;
    @include whEqual(480px, 64px);
    background: #ffc12f;
    border-radius: 40px;
    margin: 62px auto 0;
    .blind_tab_cell {
      @include flexCenter;
      font-size: 24px;
      font-weight: 600;
      color: #c88c00;
      flex: 1;
      &.invitation {
        @include whEqual(240px, 64px);
        background: linear-gradient(
          180deg,
          #ffffff 0%,
          #fff9ed 51%,
          #ffffff 100%
        );
        border-radius: 40px;
        border: 2px solid #ef476f;
        color: #ef476f;
      }
    }
  }
  .blind_bean {
    @include whEqual(640px, 333px);
    margin: 16px auto 0;
    background: url("https://wechat-config.dakale.net/miniprogram/blind/blind_bean.gif")
      no-repeat;
    background-size: 100% 100%;
  }
  .blind_friend {
    @include whEqual(640px, 333px);
    margin: 16px auto 0;
    background: url("https://wechat-config.dakale.net/miniprogram/blind/blind_friend.gif")
      no-repeat;
    background-size: 100% 100%;
  }
  .blind_jackpot {
    @include flexCenter;
    margin-top: 19px;
    .blind_jacknow,
    .blind_jackown {
      @include whEqual(150px, 44px);
    }
    .blind_jacknow {
      background: url("https://wechat-config.dakale.net/miniprogram/blind/home/jack_now.png")
        no-repeat;
      background-size: 100% 100%;
      & + .blind_jackown {
        margin-left: 44px;
      }
    }
    .blind_jackown {
      background: url("https://wechat-config.dakale.net/miniprogram/blind/home/jack_own.png")
        no-repeat;
      background-size: 100% 100%;
    }
  }
  .blind_start_beanInfo {
    @include whEqual(600px, 90px);
    margin: 68px auto 0;
    background: linear-gradient(360deg, #ff4545 0%, #ff4545 71%, #ff7a6b 100%);
    box-shadow: 0px 0px 10px 0px #ebad1c, 0px 0px 6px 2px #ff796b;
    border-radius: 45px;
    border: 2px solid #ffe6e6;
    font-size: 36px;
    font-weight: 600;
    color: #fff1cf;
    text-shadow: 0px 1px 2px #cb1a1a;
    position: relative;
    text-align: center;
    line-height: 1;
    .blind_start_count {
      padding-top: 12px;
    }
    .blind_start_our {
      padding-top: 6px;
      font-size: 24px;
    }
  }
  .blind_start {
    @include whEqual(600px, 90px);
    @include flexCenter;
    margin: 68px auto 0;
    background: linear-gradient(360deg, #ff4545 0%, #ff4545 71%, #ff7a6b 100%);
    box-shadow: 0px 0px 10px 0px #ebad1c, 0px 0px 6px 2px #ff796b;
    border-radius: 45px;
    border: 2px solid #ffe6e6;
    font-size: 36px;
    font-weight: 600;
    color: #fff1cf;
    text-shadow: 0px 1px 2px #cb1a1a;
    position: relative;
  }
  .blind_invint {
    text-align: center;
    margin-top: 32px;
    font-size: 34px;
    font-weight: 600;
    color: #ff426f;
    text-decoration: underline;
    position: relative;
  }
}
.countVisible_box {
  width: 600px;
  background: #ffffff;
  border-radius: 40px;
  .countVisible_order_info {
    padding: 100px 30px 48px;
  }
  .countVisible_order_desc {
    padding: 0 42px;
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    color: #333333;
    line-height: 48px;
  }
  .countVisible_order_btn {
    margin: 80px auto 0;
  }
  .countVisible_order_btnBox {
    width: 260px;
    height: 80px;
    border-radius: 59px;
  }
  .countVisible_order_btnStyle1 {
    border: 3px solid #ef476f;
    color: #ef476f;
  }
  .countVisible_order_btnStyle2 {
    border: 3px solid #ffd62e;
    background: #ef476f;
    color: #ffffff;
  }
}
.friend_box {
  padding: 48px 27px;
  background: #ffffff;
  border-radius: 40px;
  background: #ffffff;
  text-align: center;
  .friend_title {
    font-size: 36px;
    font-weight: 600;
    color: #333333;
  }
  .friend_wait {
    font-size: 28px;
    font-weight: 600;
    color: #ef476f;
    padding-top: 48px;
  }
  .friend_btn {
    width: 400px;
    height: 80px;
    background: #ef476f;
    border-radius: 59px;
    border: 3px solid #ffd62e;
    font-size: 32px;
    font-weight: 600;
    color: #ffffff;
    margin: 40px auto 0;
    position: relative;
  }
  .friend_profileBox {
    padding-top: 64px;
    display: flex;
    flex-wrap: wrap;
  }
  .friend_share_profile {
    margin-bottom: 16px;
    width: 120px;
    height: 120px;
  }
  .friend_share_proStyle1 {
    border: 3px solid #ffffff;
    box-sizing: border-box;
    border-radius: 50%;
  }
  .friend_share_proStyle2 {
    background: url(https://wechat-config.dakale.net/miniprogram/blind/blind_3.png)
      no-repeat;
    background-size: 100% 100%;
  }
  .friend_share_desc {
    padding-top: 40px;
    font-size: 24px;
    font-weight: 400;
    color: #999999;
  }
}
